<div class="bus-wrapper">
  <div class="bus-floor" *ngFor="let floor of seatingScheme?.floors; let i=index"
    [ngClass]="{'first-floor': i === 0}">
    <div class="bus-row" *ngFor="let row of floor">
      <div class="bus-column" *ngFor="let column of row">
        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchCase="'d'">
            <img class="rounded-circle"
              [src]="departure.driver.user.imageUrl"
              *ngIf="departure.driver"
              loading="lazy">
            <i class="icon icon-wheel"
              *ngIf="!departure.driver">
            </i>
          </ng-container>
          <img src="assets/icons/bus/template/tv.svg"
            *ngSwitchCase="'t'"
            loading="lazy">
          <img src="assets/icons/bus/template/steps.svg"
            *ngSwitchCase="'s'"
            loading="lazy">
          <img src="assets/icons/bus/template/hall-light.svg"
            *ngSwitchCase="'e'"
            loading="lazy">
          <div class="seat" *ngSwitchDefault (click)="selectSeat(column)">
            <ng-container [ngSwitch]="checkSeatStatus(column)">
              <img src="assets/icons/bus/template/seat-not-available.svg"
                *ngSwitchCase="ticketStatusEnum.SOLD"
                loading="lazy">
              <img src="assets/icons/bus/template/seat-selected.svg"
                *ngSwitchCase="ticketStatusEnum.SELECTED"
                loading="lazy">
              <img src="assets/icons/bus/template/seat-reserved.svg"
                *ngSwitchCase="ticketStatusEnum.RESERVED"
                loading="lazy">
              <img src="assets/icons/bus/template/seat.svg"
                *ngSwitchCase="ticketStatusEnum.AVAILABLE"
                loading="lazy">
              <img src="assets/icons/bus/template/seat-to-be-sold.svg"
                *ngSwitchCase="ticketStatusEnum.TO_BE_SOLD"
                loading="lazy">
              <img src="assets/icons/bus/template/seat-not-available.svg"
                *ngSwitchCase="ticketStatusEnum.DISABLED"
                loading="lazy">
            </ng-container>
            <img class="disabled-icon"
              src="assets/icons/bus/template/disabled.svg"
              *ngIf="checkSeatStatus(column) === ticketStatusEnum.DISABLED"
              loading="lazy">
            <p [ngClass]="{'text-white': checkSeatStatus(column) === ticketStatusEnum.SOLD,
              'text-light': checkSeatStatus(column) === ticketStatusEnum.SELECTED ||
                checkSeatStatus(column) === ticketStatusEnum.TO_BE_SOLD ||
                checkSeatStatus(column) === ticketStatusEnum.DISABLED}">
              {{ getSeatNumber(column) }}
            </p>
          </div>
        </ng-container>
      </div>
    </div>
    <img class="bus-front"
      src="assets/icons/bus/template/bus-front.png"
      *ngIf="i === 0"
      loading="lazy">
    <img class="bus-left-mirror"
      src="assets/icons/bus/template/bus-left-mirror.svg"
      *ngIf="i === 0"
      loading="lazy">
    <img class="bus-right-mirror"
      src="assets/icons/bus/template/bus-right-mirror.svg"
      *ngIf="i === 0"
      loading="lazy">
    <p class="floor-number" [ngClass]="{'first': i === 0}" *ngIf="seatingScheme.floors.length > 1">
      PISO {{ i + 1 }}
    </p>
  </div>
</div>