.bus-wrapper {
    .bus-floor {
      .bus-row {
        .bus-column {
          .seat {
            .disabled-icon {
              bottom: 0;
              height: 21px;
              right: 0;
              position: absolute;
              width: 21px;
            }
          }
        }
      }
    }
  }