<app-spinner *ngIf="ticketPurchaseService.loadingSteperContent"></app-spinner>
<div class="container mt-3" *ngIf="!ticketPurchaseService.loadingSteperContent">
  <div class="row offset-md-2">
    <div class="col-md-9">
      <app-payment-method-card *ngFor="let key of paymentMethodTypeEnumKeys"
        [methodType]="paymentMethodTypeEnum[key]"
        [role]="userRoleEnum.CLIENT"
        (onSubmitEvent)="onSubmit($event)">
      </app-payment-method-card>
    </div>
  </div>
</div>