<div class="manifest-container">
  <div class="title">
    <h5> Informe de salida </h5>
  </div>
  <hr>
  <div class="departure-data">
    <div class="group-data travel">
      <b> Datos del bus: </b>
      <div class="data">
        <div class="data-item">
          <p> <b> Fecha:&nbsp; </b> {{ departure.departureDate.startDate | formatDate }} </p>
          <p> <b> Hora de salida:&nbsp; </b> {{ departure.departureDate.departureTime | formatHour2 }} </p>
          <p> <b> Origen:&nbsp; </b> {{ departure.route.source.name }} </p>
          <p> <b> Destino:&nbsp; </b> {{ departure.route.destination.name }} </p>
        </div>
      </div>
    </div>
    <div class="group-data bus">
      <b> Datos del bus: </b>
      <div class="data">
        <div class="data-item">
          <p> <b> Placa:&nbsp; </b> {{ departure.bus.licensePlate }} </p>
          <p> <b> Chófer:&nbsp; </b> {{ departure.driver.user.name }} {{ departure.driver.user.lastName }} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="tickets-table">
    <table>
      <thead>
        <tr>
          <th> Asiento </th>
          <th> Nombre de pasajero </th>
          <th> CI </th>
          <th> Celular </th>
          <th> Boleto </th>
          <th> Importe </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let ticket of departure.tickets">
          <tr *ngIf="ticket.status === ticketStatusEnum.SOLD">
            <td> {{ ticket.position }} </td>
            <td> {{ ticket.person.name }} </td>
            <td> {{ ticket.person.documentNumber }} </td>
            <td> {{ ticket.person.phone || '-' }} </td>
            <td> {{ ticket.ticketId }} </td>
            <td> {{ ticket.amount.toFixed(2) }} </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="total-amount">
    <p> <b> Total:&nbsp; </b> {{ totalAmount }} Bs </p>
  </div>
</div>