.manifest-container * {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.manifest-container i.icon {
  font-family: 'icomoon' !important;
}

.manifest-container {
  background-color: white;
  font-size: 11.5px;
  padding: 15px 40px;
  width: 440.276pt !important;
}

p {
  font-style: normal;
  margin-bottom: 0;
}

.title {
  display: flex;
  justify-content: center;
}

.title h5 {
  margin-bottom: 0;
  margin-top: 15px;
  font-weight: bold;
}

hr {
  border-top: 3px solid gray;
  margin: 10px 0;
}

.departure-data {
  display: flex;
}

.departure-data .group-data {
  width: 50%;
}

.departure-data .group-data > b {
  font-size: 0.9em;
  margin-bottom: 2px;
}

.departure-data .group-data .data {
  border-left: 5px solid lightgray;
  padding-left: 4px;
}

.departure-data .group-data .data .data-item p {
  line-height: 14px;
}

.tickets-table {
  margin-top: 12px;
}

.tickets-table table {
  width: 100%;
}

.tickets-table table thead tr {
  border-bottom: 1px solid black;
}

.tickets-table table thead tr th {
  padding: 4px 2px 2px 2px;
}

.tickets-table table tbody tr {
  border-bottom: 1px solid lightgray;
}

.tickets-table table tbody tr td {
  padding: 4px 2px 2px 2px;
}

.total-amount {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.total-amount p {
  margin: 6px 2px 4px 2px;
}