<section class="ticket-holders">
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <p class="title m-0">Reporte de ventas por salida</p>
      </div>
    </div>
    <app-departures-top-bar (addDeparture)="addDeparture()"
      (filterDepartureEvent)="filterDeparture($event)"
      [ShowAddDepartureButton]="ShowAddDepartureButton">
    </app-departures-top-bar>
    <div class="row mt-2">
      <div class="col-12">
        <div class="container">
          <div class="row lashes-container">
            <div class="departure-lash-container col-md-3">
              <div class="daparture-lash d-flex justify-content-between align-items-center"
                [ngClass]="{'selected': !depLashSelected}"
                (click)="selectDepLash()">
                <p class="m-0">Todas las salidas</p>
              </div>
            </div>
            <div class="departure-lash-container col-md-3">
              <div class="daparture-lash d-flex justify-content-between align-items-center"
                [ngClass]="{'selected': depLashSelected === departureTypeEnum.RECURRENT}"
                (click)="selectDepLash(departureTypeEnumKeys[0])">
                <div class="d-flex align-items-center">
                  <img class="mr-1"
                    src="assets/icons/recurrent-departure.svg"
                    loading="lazy">
                  <p class="m-0">Salidas recurrentes</p>
                </div>
              </div>
            </div>
            <div class="departure-lash-container col-md-3">
              <div class="daparture-lash d-flex justify-content-between align-items-center"
                [ngClass]="{'selected': depLashSelected === departureTypeEnum.EVENTUAL}"
                (click)="selectDepLash(departureTypeEnumKeys[1])">
                <div class="d-flex align-items-center">
                  <img class="mr-1"
                    src="assets/icons/express-departure.svg"
                    loading="lazy">
                  <p class="m-0">Salidas eventuales</p>
                </div>
              </div>
            </div>
            <div class="departure-lash-container col-md-3">
              <div class="daparture-lash d-flex justify-content-between align-items-center"
                [ngClass]="{'selected': depLashSelected === departureTypeEnum.EXPRESS}"
                (click)="selectDepLash(departureTypeEnumKeys[2])">
                <div class="d-flex align-items-center">
                  <img class="mr-1"
                    src="assets/icons/eventual-departure.svg"
                    loading="lazy">
                  <p class="m-0">Salidas Contrato exp.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-table-responsive">
          <table class="ovj-departures-table table-responsive-lg mt-0">
            <thead>
              <tr>
                <th *ngFor="let col of colsTable; let index=index"
                  (click)="orderTableBy(index)">
                  <img src="assets/icons/order-arrow-down-enabled.svg"
                    *ngIf="col.orderBy"
                    loading="lazy">
                  <img src="assets/icons/ovj-select-arrow-down.svg"
                    *ngIf="!col.orderBy"
                    loading="lazy">
                  <img [src]="col.extraImg"
                    *ngIf="col.extraImg"
                    loading="lazy">
                  {{col.name}}
                </th>
              </tr>
            </thead>
            <tbody class="text-secondary">
              <tr class="spacing"></tr>
              <tr *ngFor="let i=index; let departure of departures"
                [ngClass]="{'leaved-departure': departure.status === departureStatusEnum.CLOSED,
                  'canceled-departure': departure.status === departureStatusEnum.CANCELED}"
                (click)="seeDetail(departure)">
                <td class="text-center">
                  {{ (departure.departureDate?.departureTime) }}
                </td>
                <td> {{ departure.driver.user.name }} {{ departure.driver.user.lastName }} </td>
                <td>
                  <div class="route-container d-flex align-items-center">
                    <img class="rounded-circle mr-1"
                      [src]="departure.route.destination.imageUrl"
                      loading="lazy">
                    {{ departure.route.source.name }}
                    {{ (departure.route.intermediateRoutes.length > 0) ? ' >...> ' : ' > ' }}
                    {{ departure.route.destination.name }}
                  </div>
                </td>
                <td class="text-center">
                  <ng-container [ngSwitch]="departure.departureType">
                    <img *ngSwitchCase="departureTypeEnum.RECURRENT"
                      [ngClass]="{'grey-scale': departure.status === departureStatusEnum.CANCELED}"
                      src="assets/icons/recurrent-departure.svg"
                      loading="lazy">
                    <img *ngSwitchCase="departureTypeEnum.EVENTUAL"
                      [ngClass]="{'grey-scale': departure.status === departureStatusEnum.CANCELED}"
                      src="assets/icons/express-departure.svg"
                      loading="lazy">
                    <img *ngSwitchCase="departureTypeEnum.EXPRESS"
                      [ngClass]="{'grey-scale': departure.status === departureStatusEnum.CANCELED}"
                      src="assets/icons/eventual-departure.svg"
                      loading="lazy">
                  </ng-container>
                </td>
                <td class="text-center"> {{ departure.price }} Bs. </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
  </div>
</section>