@import 'variables';

.lashes-container {
  margin-bottom: -3px;
  .departure-lash-container {
    padding: 0 0.2rem;
    &:first-child {
      padding-left: 0;
      padding-right: 0.2rem;
    }
    &:last-child {
      padding-left: 0.2rem;
      padding-right: 0;
    }
    .daparture-lash {
      background-color: $color-f5f5f5;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: $color-666666;
      cursor: pointer;
      font-size: 0.85rem;
      min-height: 40px;
      padding: 0 0.5rem;
      &.selected {
        background-color: $white;
        color: $color-042b63;
        cursor: default;
      }
      img {
        width: 20px;
      }
    }
  }
}
.ovj-departures-table {
  .client {
    width: 25%;
  }
  .source {
    text-align: right !important;
  }
  .route-arrow {
    width: 10px;
  }
  tbody {
    border-top-left-radius: 10px;
    background: $white;
    .route-container {
      img {
        height: 30px;
        width: 30px;
      }
    }
    tr {
      .client {
        color: $color-042b63;
      }
      .total {
        color: #1763D1;
      }
      .see-detail {
        cursor: default;
        color: #3880FF;
        filter: grayscale(0.7);
        text-decoration: underline;
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
}


.progress-container {
  .form-progress {
    color: $color-1763d1;
    position: relative;
    .print-passengers-btn{
      position: absolute;
      bottom: 20px;
      right: 10px;
      border: none;
      color: $white;
      .print-btn {
        filter: grayscale(0.3);
      }
    }
    .card-title {
      font-size: 18px;
      i.icon-arrow-2 {
        color: $color-ff6022;
      }
    }
    .card-body {
      padding: 0.85rem 1.25rem 0.6rem 1.25rem;
    }
    .progress {
      height: 8px;
      .progress-bar {
        background-color: $color-1763d1;
      }
    }
    .go-back-container {
      align-items: center;
      cursor: pointer;
      left: 15px;
      position: absolute;
      top: 12px;
      i.icon {
        transform: rotate(180deg);
        &::before {
          color: $color-ff6022;
        }
      }
      p {
        font-size: 0.9rem;
        margin-left: 0.45rem;
        margin-bottom: 0;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .progress-container {
    .form-progress {
      .go-back-container {
        top: 35%;
        i.icon {
          font-size: 20px;
          transform: rotate(180deg);
          &::before {
            color: $color-ff6022;
          }
        }
        p {
          display: none;
        }
      }
    }
  }
}
