<button type="button" aria-label="Close"
  class="close-modal-btn btn btn-default"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="custom-card-info">
  <div class="selected-element content-item">
    <div class="principal">
      <p class="card-title"> Detalle Banco </p>
      <div class="item-icon">
        <i class="icon icon-cash item-img"></i>
      </div>
      <p class="item-label"> {{ bank.name }} </p>
      <div class="actions">
        <button class="btn btn-default" (click)="deleteBank(bank)">
          Eliminar
        </button>
        <button class="ovj-btn-orange-2 btn btn-default" (click)="editBank(bank)">
          Editar
        </button>
      </div>
    </div>
    <div class="divider" *ngIf="false"></div>
    <div class="detail">
      <p class="title" *ngIf="false"> Detalle de banco </p>
      <div class="mobile-actions">
        <button type="button" class="btn btn-default ovj-btn danger-bordered" (click)="deleteBank(bank)">
          Eliminar
        </button>
        <button type="button" class="btn btn-default ovj-btn success-bordered" (click)="editBank(bank)">
          Editar
        </button>
        <button type="button" class="btn btn-default ovj-btn orange" (click)="action.next(false)">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>