<div class="custom-sidebar-backdrop" (click)="sidebarBackDropClicking()"></div>
<div class="custom-sidebar-container" [ngClass]="{'ovj-admin': loggedUser?.role === userRoleEnum.OVJ_ADMIN}">
  <div class="custom-sidebar-header text-center">
    <h5> {{ dateTime.day }} </h5>
    <h1> <b> {{ dateTime.hour }} </b> </h1>
    <h6> {{ dateTime.numberDay }} de {{ dateTime.month }} </h6>
  </div>
  <div class="custom-list-group list-group-flush ovj-text-primary">

    <ng-container *ngFor="let item of menu; let i=index">
      <a *ngIf="i==0"
        class="menu-item list-group-item list-group-item-action"
        (click)="redirectToHome()"
      >
        <div class="item-info">
          <i [class]="'icon icon-home'"></i>
          <p class="mb-0"> Inicio </p>
        </div>
      </a>

      <a class="menu-item list-group-item list-group-item-action"
        (click)="toggleMenuItem(item)"
        [ngClass]="{'opened': item.opened}">
        <div class="item-info">
          <i [class]="'icon icon-'+item.icon"></i>
          <p class="mb-0"> {{ item.title }} </p>
        </div>
        <i class="icon icon-arrow-outline"></i>
      </a>
      <div *ngIf="item.opened">
        <ng-container *ngFor="let subItem of item.submenu">
          <a class="submenu-item list-group-item list-group-item-action"
            (click)="goToUrl( subItem )"
            [ngClass]="{'submenu-item-selected': checkActiveRoute( subItem.url ),
              'disabled': subItem.disabled}">
            <i [class]="'icon icon-'+subItem.icon"></i>
            <p> {{ subItem.title }} </p>
          </a>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>