@import 'variables';

.top-bar {
  border-radius: 8px;
  font-size: 0.9rem;
  .place-select {
    align-items: center;
    display: flex;
    height: 68px;
    .place-filter-image {
      border-radius: 50%;
      height: 45px;
      margin-right: 10px;
      width: 45px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .ovj-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem 0;
      width: calc(100% - 55px);
      .ovj-label {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0;
      }
    }
  }
  .top-bar-calendar {
    border-radius: 25px;
    border: 1px solid $ovj-light-primary;
    height: 55px;
    position: relative;
    .ovj-btn-circle {
      &.top-bar-arrow {
        height: 95%;
        i.icon {
          font-size: 12px;
          margin: 0 11px;
        }
        &.left {
          transform: rotate(90deg);
        }
        &.right {
          transform: rotate(-90deg);
        }
      }
    }
    .top-bar-date {
      cursor: pointer;
      .day-text {
        font-size: 0.85rem;
      }
    }
    dp-date-picker {
      width: 1px;
      ::ng-deep {
        &>div {
          left: -100px !important;
        }
      }
    }
    ::ng-deep {
      ngb-datepicker {
        margin-top: 21px !important;
      }
    }
  }
  .add-departure-btn {
    height: 55px;
  }
}

.mobile-topbar {
  display: none;
  .input-card {
    background-color: $white;
    border-radius: 10px;
    padding: 14px 10px 12px 10px;
    margin-top: 5px;
    .ovj-form {
      margin: 0 !important;
    }
  }
  .top-bar-calendar {
    background-color: $white;
    border-radius: 25px;
    border: 1px solid $ovj-light-primary;
    height: 55px;
    margin-top: 10px;
    position: relative;
    .ovj-btn-circle {
      &.top-bar-arrow {
        height: 95%;
        i.icon {
          font-size: 10px;
          margin: 0 11px;
        }
        &.left {
          transform: rotate(90deg);
        }
        &.right {
          transform: rotate(-90deg);
        }
      }
    }
    .top-bar-date {
      cursor: pointer;
      font-style: normal;
      color: $color-333e48;
      .day-text {
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
      }
      .date-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }
    }
    dp-date-picker {
      width: 1px;
      ::ng-deep {
        &>div {
          left: -100px !important;
        }
      }
    }
    ::ng-deep {
      ngb-datepicker {
        margin-top: 21px !important;
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .top-bar {
    display: none;
  }
  .mobile-topbar {
    display: block;
  }
}