<button type="button" aria-label="Close"
class="close-modal-btn btn btn-default"
(click)="action.next(false)">
<i class="icon icon-cross"></i>
</button>
  <div class="custom-card-info">
    <div class="selected-element content-item">
      <div class="principal">
         <p class="item-label mb-3">Información de platilla</p>
        <div class="seating-scheme selected">
          <img src="assets/icons/bus/template/template-wrapper.svg">
          <p class="seats"> {{ busDetaill.totalSeats }} </p>
          <p class="seats-label"> Asientos </p>
        </div>
        <span class="format-color mb-3"> {{ busDetaill.busName}} <span>{{busDetaill.totalSeats}}</span></span>
        <button
          class="ovj-btn btn btn-default orange"
          (click)="showBus()">
          Ver plantilla
        </button>
        <hr class="line-x">
        <section class="col-12 p-0 ovj-custom-table">
          <table>
            <thead>
              <tr>
                <th><span class="title-colum">Tipo móvil</span></th>
                <th><span class="title-colum">Pisos</span></th>
                <th><span class="title-colum">Asientos</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="body-table">
                    {{ busDetaill.busName }}
                  </span>
                </td>
                <td>
                  <span class="body-table">
                    {{ busDetaill.floors.length }}
                  </span>
                </td>
                <td>
                  <span class="body-table">
                    {{ busDetaill.totalSeats }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <div>
          
        </div>
        <div class="pt-3 w-100">
          <button
            class="btn btn-default ovj-btn dark-orange-bordered w-100"
            (click)="deleteSeatingScheme(); $event.preventDefault()">
            Eliminar
          </button>
          <div class="divider actions "></div>
          <button
            class="btn btn-default ovj-btn success-bordered mt-3 w-100"
            (click)="editSeatingScheme(); $event.preventDefault()">
            Editar
          </button>

          <button type="button" class="btn btn-default ovj-btn orange mt-3 w-100"
            (click)="closseModal(); $event.preventDefault()">
            Cerrar
          </button>

        </div>
      </div>
    </div>
  </div>
