<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-12 mb-3"
    *ngFor="let ticketFormGroup of ticketsPaidFormArray.controls; let i=index">
    <div class="passenger-info-card client-box-shadow card">
      <div class="card-header"> Datos del pasajero </div>
      <div class="card-body pb-2">
        <div class="seat-number d-flex justify-content-center">
          <span class="client-text-primary client-text-800">Asiento Nro:&nbsp;</span>
          <b class="client-text-large line-height client-text-800"> {{ selectedPositions[i] || '' }} </b>
        </div>
        <div class="pt-0">
          <app-passenger-data-form [ticketGroup]="ticketFormGroup"
            [index]="i">
          </app-passenger-data-form>
        </div>
        <button type="button" class="passenger-data-btn ovj-btn-orange-3 btn font-weight-bold w-100 mb-1"
          *ngIf="!ticketsPaidFormArray.controls[i+1]"
          (click)="emitOnSumbit()">
          Continuar
        </button>
      </div>
    </div>
  </div>
</div>