@import 'variables';

.passenger-data-btn {
  padding-left: 2.15rem;
  padding-right: 2.15rem;
}

.passenger-info-card {
  border-radius: 6px;
  .card-header {
    background-color: $color-1763d1;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    font-size: 1.05rem;
    font-weight: bold;
    padding: 0.8rem 1.25rem;
    text-align: center;
    color: $white;
  }
  .card-body {
    padding: 0.75rem 2.15rem;
    .seat-number {
      display: flex;
      align-items: flex-end;
      span {
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }
}