<div class="container mb-4">
  <div class="row">
    <div class="col-12 ovj-banner">
      <img src="assets/images/oviajamos-banner.svg" loading="lazy">
      <p class="title m-0">Editar administrador de oficina</p>
    </div>
    <div class="col-md-8 offset-md-2">
      <div class="card shadow mt-2">
        <div class="form-loader" *ngIf="loadingOfficeAdmin">
          <app-spinner-small></app-spinner-small>
        </div>
        <app-office-admin-form [secretary]="secretary"
          [company]="company"
          *ngIf="!loadingOfficeAdmin">
        </app-office-admin-form>
        <div class="form-actions-container" *ngIf="!loadingOfficeAdmin">
          <button class="btn ovj-btn-light" type="button" [disabled]="submitting" (click)="onDiscard()">Cancelar</button>
          <button class="btn ovj-btn-orange" type="submit" [disabled]="submitting" (click)="onSubmit()">
            <ng-container *ngIf="!submitting"> Guardar </ng-container>
            <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
            <ng-container [ngSwitch]="submitting">
            </ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>