<div class="container mb-4">
  <div class="row">
    <div class="col-12 ovj-banner">
      <img src="assets/images/oviajamos-banner.svg" loading="lazy">
      <p class="title m-0"> Editar plantilla de bus </p>
    </div>
    <div class="col-12">
      <div class="card shadow mt-2 d-flex ">
        <div class="form-loader" *ngIf="loadingSeatingScheme">
          <app-spinner-small></app-spinner-small>
        </div>
        <div class="template-form-wrapper" *ngIf="!loadingSeatingScheme">
          <app-bus-template-form [seatingSchemeEdit]="seatingScheme"></app-bus-template-form>
        </div>
        <div class="form-actions-container col-12 d-flex justify-content-center"
          *ngIf="!loadingSeatingScheme">
          <button class="btn ovj-btn-light mr-3" type="button" [disabled]="submitting" (click)="discardTemplate()">Cancelar</button>
          <button class="btn ovj-btn-orange" type="submit" [disabled]="submitting" (click)="submitTemplate()">
            <ng-container *ngIf="!submitting"> Guardar </ng-container>
            <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
            <ng-container [ngSwitch]="submitting">
            </ng-container>
          </button>
        </div>
      </div>
    </div>  
  </div>
</div>