@import 'variables';
.card {
  .template-form-wrapper {
    margin-bottom: 4rem;
  }
  .form-actions-container {
    padding: 0 3rem 0 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: $break-large){
  .form-actions-container{
    display:flex;
  }
}