@import 'variables';

.client-navbar {
  background: $white !important;
  border-bottom: 3px solid $color-1763d1;
  min-height: 20px;
  position: fixed;
  width: 100%;
  z-index: 1100;
  .navbar-container {
    padding-top: 40px;
    padding-bottom: 8px;
  }
  .navbar {
    justify-content: flex-end;
    .navbar-nav {
      li {
        margin: 0 0.25rem;
        .nav-link {
          color: $color-000042 !important;
          font-size: 0.9rem;
          font-weight: bold;
          padding: 0 0.3rem;
        }
        &.active {
          border-bottom: 3px solid $color-1763d1;
        }
      }
    }
  }
  .mobile-navbar-container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    .mobile-navbar {
      color: $color-1763d1;
      font-weight: bold;
      max-height: 0;
      border-bottom: 3px solid $ovj-secondary;
      opacity: 0;
      visibility: hidden;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), visibility 0s 0s, opacity 0.1s linear;
      &.show {
        max-height: 1000px;
        opacity: 1;
        visibility: visible;
        transition: max-height 0.3s ease-in-out, opacity 0.85s linear, visibility 0s 0s;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .client-navbar {
    border: none;
    position: fixed;
    width: 100%;
    z-index: 1100;
    .navbar-shadow {
      box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 11%) !important;
      .navbar-container {
        padding: 0.65rem 0;
        .navbar-icons {
          display: flex;
          justify-content: space-between;
          i.icon-menu {
            font-size: 25px;
            margin-top: 2px;
            padding: 3px;
          }
        }
      }
    }
  }
}