<section class="client-navbar">
  <div class="navbar-shadow">
    <div class="container w-100 navbar-container px-5">
      <div class="row">
        <div class="col-md-4">
          <div class="navbar-icons">
            <div class="d-md-none d-block px-3"></div>
            <img src="assets/images/client/ovj-client-logo.svg"
              class="d-md-block d-none"
              loading="lazy">
            <img src="assets/images/client/ovj-client-logo-mobile.svg"
              class="d-md-none d-block"
              loading="lazy">
            <button class="d-md-none d-block btn btn-default p-2" (click)="toggleMenu()">
              <i class="icon icon-menu"></i>
            </button>
          </div>
        </div>
        <div class="col-md-8 d-md-block d-none">
          <nav class="navbar navbar-expand-md navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item" *ngFor="let section of sections" [ngClass]="{'active': checkActiveRoute( section.url )}">
                <a class="nav-link" (click)="goToSection(section)"> {{ section.name }} </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-navbar-container container">
    <div class="mobile-navbar d-md-none d-block row m-0" [ngClass]="{'show': showMobileMenu}">
      <div class="col-12 py-2">
        <ul class="navbar-nav text-center">
          <li class="nav-item mobile" *ngFor="let section of sections">
            <a class="nav-link" (click)="goToSection(section)"> {{ section.name }} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>