<div class="travel-card shadow-sm mb-3">
  <div class="card-body">
    <div class="row w-100 m-0">
      <div class="col-12 px-md-0 pt-1 pb-2">
        <div class="d-md-none d-block px-md-3">
          <div class="d-flex travel-header">
            <div class="col-md-8 col-8 align-self-center client-text-dark-primary client-text-large line-height client-text-800">
              Trans. Copacabana S.A.
            </div>
            <div class="col-md-2 col-4 pl-2">
              <p class="ovj-text-xs client-text-primary client-text-800"> Tipo de bus </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> {{ selectedDeparture?.bus.type }} </p>
            </div>
          </div>
        </div>
        <div class="px-md-4">
          <div class="travel-info px-md-0 d-flex px-2 mt-3">
            <div class="source pl-md-0">
              <div class="departure">
                <div>
                  <p class="ovj-text-xs client-text-primary client-text-800"> Partida </p>
                  <p class="client-text-dark-primary client-text-large line-height"> {{ selectedDeparture?.departureDate.departureTime | formatHour2 }} </p>
                </div>
                <div class="divider"></div>
                <div class="px-auto">
                  <p class="ovj-text-xs client-text-primary client-text-800"> Terminal de </p>
                  <p class="client-text-orange client-text-800"> {{ selectedDeparture?.route.source.name }} </p>
                </div>
              </div>
            </div>
            <div class="arrow align-self-center text-left px-md-auto">
              <div class="p-md-auto">
                <i class="icon icon-arrow-2"></i>
              </div>
              <div class="mt-2 d-md-none d-block" *ngIf="false">
                <p class="ovj-text-xs client-text-primary client-text-800"> Duración </p>
                <p class="client-text-dark-primary client-text-large line-height"> --:-- h </p>
              </div>
            </div>
            <div class="destination p-md-0 pl-2">
              <div class="arrival pl-md-2">
                <div class="px-auto">
                  <p class="ovj-text-xs client-text-primary client-text-800"> Llegada Aprox. </p>
                  <p class="client-text-dark-primary client-text-large line-height"> Estimando... </p>
                </div>
                <div class="divider"></div>
                <div class="px-auto">
                  <p class="ovj-text-xs client-text-primary client-text-800"> Terminal de </p>
                  <p class="client-text-orange client-text-800"> {{ selectedDeparture?.route.destination.name }} </p>
                </div>
              </div>
            </div>
            <div class="col-md-2 d-md-block d-none pl-md-4" *ngIf="false">
              <p class="ovj-text-xs client-text-primary client-text-800"> Tiempo de viaje aprox. </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> --:-- horas </p>
            </div>
            <div class="available-seats d-md-block d-none">
              <p class="ovj-text-xs client-text-primary client-text-800"> Asientos disponibles </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> {{ availableSeats }} </p>
            </div>
            <div class="bus-type d-md-block d-none">
              <p class="ovj-text-xs client-text-primary client-text-800"> Tipo de bus </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> {{ selectedDeparture?.bus.type }} </p>
            </div>
            <div class="price d-md-block d-none pr-md-0">
              <p class="ovj-text-xs client-text-primary client-text-800"> Precio </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> {{ selectedDeparture?.price }}bs </p>
            </div>
          </div>
        </div>
        <div class="d-flex travel-actions py-2 px-md-3 mt-0" *ngIf="false">
          <div class="col-12 py-2 suggestion-message">
            <p class="text-center client-text-dark-primary client-text-500">
              Usted abordará en la parada "<b class="client-text-800">
                {{ selectedDeparture?.route.intermediateRoutes[intermediateRouteIndex].destination.name }} </b>"
              a horas <b class="client-text-800">--:--</b> aprox.<br>
              Se le recomienda estar presente una hora antes.
            </p>
          </div>
        </div>
        <div class="purchase-info d-md-none px-4 mb-2">
          <div class="seats mt-2">
            <p class="ovj-text-xs client-text-primary client-text-800"> Asiento(s) </p>
            <p class="client-text-dark-primary client-text-large line-height client-text-500">
              {{ (selectedPositions?.length > 0) ? selectedPositions : 'Ninguno' }}
            </p>
          </div>
          <div class="quantity mt-2">
            <p class="ovj-text-xs client-text-primary client-text-800"> Cantidad </p>
            <p class="client-text-dark-primary client-text-large line-height client-text-500"> {{ selectedPositions?.length }} </p>
          </div>
          <div class="total mt-2 pl-2">
            <p class="ovj-text-xs client-text-primary client-text-800"> Total </p>
            <p class="client-text-dark-primary client-text-large line-height client-text-500">
              {{ selectedDeparture?.price * selectedPositions?.length }}bs
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>