@import 'variables';

.travel-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  .card-body {
    color: $color-000042;
    font-size: 0.9rem;
    padding: 0;
    p {
      margin: 0;
    }
    .travel-header {
      border-bottom: 3px solid $ovj-secondary;
      margin-bottom: 0;
      padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    }
    .travel-info, .purchase-info {
      padding-bottom: 0.25rem;
      .departure {
        align-items: flex-start;
        display: flex;
        .divider {
          border-left: 1px solid $color-1763d1;
          height: 25px;
          margin: 0 0.5rem;
        }
      }
      .arrival {
        align-items: flex-start;
        display: flex;
        .divider {
          border-left: 1px solid $color-1763d1;
          height: 25px;
          margin: 0 0.5rem;
        }
      }
    }
    .travel-info {
      &>div {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }
      .source {
        width: 28%;
      }
      .arrow {
        width: 8%;
        i.icon {
          font-size: 18px;
          margin-left: 5px;
          &::before {
            color: $color-ff6022;
          }
        }
      }
      .destination {
        width: 28%;
      }
      .available-seats {
        width: 16%;
      }
      .bus-type {
        width: 10%;
      }
      .price {
        width: 10%;
      }
    }
    .purchase-info {
      &>div {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }
      display: flex;
      .seats {
        width: 39%;
      }
      .quantity {
        width: 24%;
      }
      .total {
        width: 37%;
      }
    }
    .suggestion-message {
      background-color: $color-fff3cd;
    }
    .travel-actions {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .travel-card {
    display: initial;
    flex-direction: initial;
    min-width: initial;
    word-wrap: initial;
    background-color: initial;
    background-clip: initial;
    border: initial;
    border-radius: initial;
    .card-body {
      .suggestion-message {
        font-size: 0.8rem;
      }
      .travel-info, .purchase-info {
        .departure {
          align-items: flex-start;
          flex-direction: column;
          .divider {
            display: none;
          }
        }
        .arrival {
          align-items: flex-start;
          flex-direction: column;
          .divider {
            display: none;
          }
        }
      }
      .travel-info {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        .source {
          width: 39%;
        }
        .arrow {
          width: 24%;
        }
        .destination {
          width: 37%;
        }
      }
      .travel-actions {
        flex-direction: column;
        span {
          margin-bottom: 0.25rem;
        }
        button {
          margin-top: 0.65rem;
          margin-bottom: 0.2rem;
          width: 100%;
        }
      }
      .putchase-info {
        display: flex;
      }
    }
  }
}