<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 col-12 pr-md-2">
      <div class="card px-3">
        <div class="succesful-payment-title client-text-500 d-md-none d-block mt-4">
          <p class="mb-0">Siga nuestras recomendaciones <br> de seguridad</p>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <i class="icon icon-success-circle mt-2 mb-3"></i>
        </div>
        <div class="client-text-primary client-text-800 text-center succesful-payment-font mt-4">
          <p class="d-md-block d-none mb-2">Tu compra se realizó correctamente</p>
          <p class="d-md-none d-block mb-2">Tu compra se realizó correctamente</p>
        </div>
        <div class="text-center succesful-payment-font2">
          <p class="d-md-block d-none" type="submit" (click)="detail()">Ver detalle</p>
          <p class="d-md-none d-block" type="submit" (click)="detail()">Ver boleto</p>
        </div>
        <div class="text-center mt-md-0 mt-4">
          <button class="btn ovj-btn-orange-3 font-weight-bold mt-3 mb-5" (click)="downloadTicket()" disabled="true">
            Descargar boleto
          </button>
        </div>
        <div class="back-to-home text-center succesful-payment-font3 mb-md-4 mb-3" *ngIf="false">
          <p class="mb-2" (click)="backToHome()">Volver a inicio</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 mt-md-0 mt-3 pl-md-2">
      <div class="card px-3 mb-4">
        <div class=" succesful-payment-title  mt-4">
          <p class="d-md-block d-none">Siga las recomendaciones al momento de viajar</p>
          <p class="d-md-none d-block">Siga nuestras <br> recomendaciones de seguridad</p>
        </div>
        <div>
          <img src="assets/images/client/watch.svg" loading="lazy">
        </div>
        <div class="succesful-payment-font4  mt-4">
          <p>Llegue 30 minutos antes de su hora <br class="d-md-none d-block"> de partida</p>
        </div>
        <div>
          <img src="assets/images/client/cellphone.svg" loading="lazy">
        </div>
        <div class=" succesful-payment-font4  mt-4">
          <p>No olvide descargar su boleto.<br>
          Se le pedirá el QR antes abordar</p>
        </div>
        <div>
          <img src="assets/images/client/mask.svg" loading="lazy">
        </div>
        <div class="succesful-payment-font4 mt-4">
          <p>Usa el barbijo en todo momento</p>
        </div>
        <div>
          <img src="assets/images/client/mask2.svg" loading="lazy">
        </div>
        <div class=" succesful-payment-font4 mt-4 mb-1">
          <p>Evita lo más posible el contacto con los <br class="d-md-none d-block"> demás pasajeros</p>
        </div>
      </div>
    </div>
  </div>
</div>