<button type="button" aria-label="Close"
  class="close-modal-btn btn btn-default"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="custom-card-info">
  <div class="selected-element content-item">
    <div class="principal">
      <div class="icon-wrapper">
        <img class="rounded-circle"
          [src]="enterprise.imageUrl"
          *ngIf="enterprise.imageUrl && enterprise.imageUrl.length > 0"
          loading="lazy">
        <i class="icon icon-business"
          *ngIf="!enterprise.imageUrl || enterprise.imageUrl.length === 0"></i>
      </div>
      <p class="item-label"> {{ enterprise.name }} </p>
      <p class="item-sub-label"> {{ enterprise.legalOrganizer?.phoneNumber }} </p>
      <p class="item-sub-label"> NIT: {{ enterprise.nit }} </p>
      <p class="item-sub-label"> Razón social: {{ enterprise.businessName }} </p>
      <div class="status mt-3">
        <p> Estado </p>
        <div class="badge success">
          <p> Pagado </p>
        </div>
      </div>
    </div>
    <div class="detail mt-4">
      <div class="commissions">
        <div class="title"> Comisiones </div>
        <div class="item">
          <p> Venta de pasajes en punto físico </p>
          <p> 10000,00 Bs. </p>
        </div>
        <div class="item">
          <p> Venta de pasajes en línea </p>
          <p> 10000,00 Bs. </p>
        </div>
        <div class="item">
          <p> Por encomiendas realizadas </p>
          <p> 10000,00 Bs. </p>
        </div>
        <hr>
        <div class="to-pay">
          <p> Total a pagar: </p>
          <p> 30000,00 Bs. </p>
        </div>
      </div>
      <div class="actions mt-3">
        <button class="btn ovj-btn primary" (click)="editPaymentData(enterprise)">
          Editar
        </button>
        <button class="btn ovj-btn primary" (click)="paymentDetail(enterprise)">
          Ver más detalles
        </button>
        <button class="btn ovj-btn orange">
          <i class="icon icon-print"></i>
          Descargar factura
        </button>
      </div>
    </div>
  </div>
</div>