<div class="container mb-4">
  <div class="row">
    <div class="col-12 ovj-banner">
      <img src="assets/images/oviajamos-banner.svg" loading="lazy">
      <p class="title m-0">Editar boletero</p>
    </div>
    <div class="col-md-8 offset-md-2">
      <div class="card shadow mt-2">
        <app-ticket-holder-form [ticketHolder]="ticketHolder"></app-ticket-holder-form>
        <div class="form-actions-container">
          <button class="btn ovj-btn-light" type="button" (click)="onDiscard()">Cancelar</button>
          <button class="btn ovj-btn-orange" type="submit" (click)="onSubmit()">Guardar</button>
        </div>
      </div>
    </div>  
  </div>
</div>
