@import 'variables';

.qr-payment {
  border-radius: 6px !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%) !important;
  p {
    margin: 0;
  }
  .card-header {
    background-color: $color-1763d1 !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: $white;
    font-weight: 800;
    padding: 1rem 1.25rem 0.6rem 1.25rem;
  }
  .card-body {
    .btn {
      width: 100%;
    }
  }
}