<footer class="footer-section" [ngClass]="{'ovj-admin': loggedUser?.role === userRoleEnum.OVJ_ADMIN}">
  <div class="container">
    <div class="row d-flex justify-content-between py-2 px-4">
      <div class="d-flex flex-row">
        <img class="oviajamos-logo my-2"
          src="assets/images/oviajamos-footer-logo-2.svg"
          loading="lazy">
      </div>
      <div class="d-flex flex-row-reverse">
        <div class="row">
          <div class="col-sm d-flex my-2 social-term-item">
            <i class="icon icon-whatsapp icon-color mr-2"></i>
            <p> {{ contacts.whatsapp }} </p>
          </div>
          <div class="col-sm d-flex my-2 social-term-item">
            <i class="icon icon-email icon-color mr-2"></i>
            <p> {{ contacts.email }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>