@import 'variables';

.monthly-payment {
  .header {
    align-items: center;
    justify-content: space-between;
    .ovj-banner {
      .title {
        color: $white;
        font-size: 36px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
  .content {
    background-color: $white;
    border-radius: 16px;
    padding: 15px;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .filter {
      align-items: center;
      justify-content: space-between;
      .status-account {
        p {
          &:first-child {
            color: $color-042b63;
            font-size: 24px;
            font-weight: 500;
            line-height: 31px;
          }
          &:last-child {
            color: $color-868e96;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
          }
        }
      }
      .month-selector {}
    }
    .invoice-download {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        color: $color-868e96;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      .ovj-btn {
        height: 36px;
      }
    }
    .commissions {
      .item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        .type {
          p {
            &:first-child {
              color: $color-343a40;
              font-size: 16px;
              font-weight: 500;
              line-height: 19px;
            }
            &:last-child {
              color: $color-868e96;
              font-size: 12.8px;
              font-weight: 400;
              line-height: 19px;
            }
          }
        }
        .value {
          p {
            color: $color-868e96;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
    .to-pay {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      p {
        &:first-child {
          color: $color-343a40;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
        &:last-child {
          color: $color-343a40;
          font-weight: 400;
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
    .make-payment {
      .header {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        .title {
          color: $color-042b63;
          font-size: 24px;
          font-weight: 500;
          line-height: 31px;
        }
        .status {
          align-items: center;
          border-radius: 16px;
          display: flex;
          height: 35px;
          justify-content: center;
          width: 185px;
          p {
            color: $white;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
          }
          &.warning {
            background-color: $color-ffc107;
          }
          &.info {
            background-color: $color-17a2b8;
          }
          &.success {
            background-color: $color-57c22d;
          }
          &.danger {
            background-color: $color-fb3f4a;
          }
        }
      }
      .payment-data {
        justify-content: center;
        .detail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .items {
            .item {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
              p {
                &:first-child {
                  color: $black;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                }
                &:last-child {
                  color: rgba(0, 0, 0, 0.57);
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                }
              }
            }
          }
          .submit-btn {
            height: 36px;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            margin-top: 20px;
            width: 100%;
          }
        }
        .invoice-image {
          img {
            border: 1px solid rgb(167, 167, 167);
            border-radius: 8px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .monthly-payment {
    .header {
      .title {
        font-size: 28px !important;
      }
    }
    .content {
      .filter {
        .status-account {
          text-align: center;
        }
      }
      .invoice-download {
        flex-direction: column;
        .ovj-btn {
          margin-top: 5px;
          width: 100%;
        }
      }
      .commissions {
        .item {
          flex-direction: column;
          .type {
            text-align: center;
          }
        }
      }
      .to-pay {
        flex-direction: column;
        p {
          &:last-child {
            margin-top: 5px;
          }
        }
      }
      .make-payment {
        .header {
          align-items: center;
          flex-direction: column;
          .status {
            margin-top: 5px;
          }
        }
        .payment-data {
          .detail {
            text-align: center;
          }
          .invoice-image {
            margin: 15px 0;
          }
          .comment {
            text-align: center;
          }
        }
      }
      .upload-data {
        text-align: center;
        .ovj-btn {
          width: 100%;
        }
      }
    }
  }
}