<section class="monthly-payment container mb-5">
  <div class="header row">
    <div class="col-12 ovj-banner">
      <img class="d-md-flex"
        src="assets/images/admin-oviajamos/oviajamos.png"
        loading="lazy">
      <p class="title m-0"> Pagos por servicio </p>
    </div>
  </div>
  <div class="content card shadow-sm mt-4">
    <div class="filter row m-0 p-0">
      <div class="status-account col-lg-4 col-12">
        <p> Estado de cuenta, mes de: </p>
        <p> Los pagos se pagan cada primer día de cada mes </p>
      </div>
      <div class="month-selector col-lg-3 col-12 mt-lg-0 mt-3"
        [formGroup]="paymentFilterGroup">
        <div class="ovj-month-selector d-flex justify-content-between align-items-center">
          <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circle top-bar-arrow"
            (click)="prevMonth()">
            <i class="icon icon-arrow-outline"></i>
          </button>
          <div>
            <div class="top-bar-date text-center" (click)="datepicker.api.open()" >
              <h5 class="month-text">
                {{ capitalize(month) }}
              </h5>
              <h6 class="year-text"> {{ year }} </h6>
            </div>
            <dp-date-picker class="hidden"
              formControlName="date"
              (onChange)="submit$.next(true)"
              [config]="datePickerConf"
              mode="month"
              theme="dp-material"
              #datepicker>
            </dp-date-picker>
          </div>
          <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circle top-bar-arrow"
            (click)="nextMonth()">
            <i class="icon icon-arrow-outline"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-lg-0 mt-3"></div>
    </div>
    <div class="invoice-download mt-3 px-3">
      <p> Descargar factura: </p>
      <button class="btn ovj-btn orange">
        <i class="icon icon-print"></i>
        Descargar factura
      </button>
    </div>
    <hr>
    <div class="commissions mt-1 px-3">
      <div class="item">
        <div class="type">
          <p> Comisión por venta de pasajes en punto físico </p>
          <p> 1200 pasajes realizados </p>
        </div>
        <div class="value">
          <p> 1000,00 </p>
        </div>
      </div>
      <div class="item">
        <div class="type">
          <p> Comisión por venta de pasajes en línea </p>
          <p> 1400 pasajes realizados </p>
        </div>
        <div class="value">
          <p> 1200,00 </p>
        </div>
      </div>
      <div class="item">
        <div class="type">
          <p> Comisión por encomiendas realizadas </p>
          <p> 3000 encomiendas realizadas </p>
        </div>
        <div class="value">
          <p> 2000,00 </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="to-pay px-3">
      <p> Total a pagar (Bs) </p>
      <p> 4200,00 </p>
    </div>
    <hr>
    <div class="make-payment px-3">
      <div class="header">
        <p class="title"> Estado de pago </p>
        <div class="status info">
          <p> En revisión </p>
        </div>
      </div>
      <div class="payment-data row mt-4 mb-5">
        <div class="invoice-image col-lg-4 col-md-5 col-12">
          <img src="assets/images/payment-invoice-example.png" loading="lazy">
        </div>
        <div class="detail col-lg-4 col-md-5 col-12">
          <div class="items">
            <div class="item">
              <p> Fecha de transferencia </p>
              <p> Miecoles 23 de Septiembre </p>
            </div>
            <div class="item">
              <p> N° de transferencia </p>
              <p> 651298181 </p>
            </div>
            <div class="item">
              <p> Nombre de banco de origen </p>
              <p> Banco Nacional de Bolivia </p>
            </div>
            <div class="ovj-form">
              <label class="ovj-label"> Estado </label>
              <ng-select class="form-control ovj-select">
                <ng-option *ngFor="let key of clientPaymentTypeEnumKeys" [value]="clientPaymentTypeEnum[key]">
                  {{ clientPaymentTypeEnum[key] }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <button class="submit-btn btn ovj-btn orange" (click)="savePaymentData()">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>