<div class="ticket-purchase-dropdown container w-100 client-box-shadow"
  [ngClass]="{'d-md-none d-block': step === 3,
    'detail-dropdown': step === 3 && !showPurchaseInfo}"
  *ngIf="step !== 2">
  <div class="row w-100 m-0">
    <div class="col-12 px-0">
      <div class="dropdown-content show"
        [ngClass]="{'show': showPurchaseInfo}">
        <ng-container [ngSwitch]="ticketPurchaseService.step">
          <ng-container *ngSwitchCase="1">
            <div class="text-center mt-3 d-md-none d-block">
              <h5 class="client-text-dark-primary client-text-800 pt-3 mb-0">Hola, ¿A dónde te gustaría ir?</h5>
            </div>
            <div class="form row m-0">
              <div class="col-md-10 col-12 p-0">
                <app-travel-form-2 [departureSearchParams]="departureSearchParams"></app-travel-form-2>
              </div>
              <div class="col-md-2 col-12 align-self-center pl-md-0 pr-md-5 px-5 px-md-auto">
                <button class="btn ovj-btn-orange-3 w-100 my-2"
                  type="submit"
                  (click)="onSubmitTravelForm(); showPurchaseInfo = !showPurchaseInfo">
                  Buscar
                </button>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="3">
            <div class="ticket-detail text-center mt-3 mb-2 d-md-none d-block">
              <h5 class="client-text-dark-primary font-weight-bold pt-2 mb-0"> Detalle del boleto </h5>
            </div>
            <app-ticket-purchase-travel-card [selectedDeparture]="selectedDeparture"
              [selectedPositions]="selectedPositions">
            </app-ticket-purchase-travel-card>
          </ng-container>
        </ng-container>
      </div>
      <div class="toggleInfoBtn showedInfo d-md-none d-block text-center pb-1 px-4"
        (click)="showPurchaseInfo = !showPurchaseInfo"
        [ngClass]="{'showedInfo': showPurchaseInfo, 'up': showPurchaseInfo}">
        <div *ngIf="ticketPurchaseService.step === 1 || ticketPurchaseService.step === 3">
          <i class="icon icon-arrow-broad"
            *ngIf="showPurchaseInfo">
          </i>
          <i class="icon icon-arrow-broad"
            *ngIf="!showPurchaseInfo && step !== 3">
          </i>
        </div>
        <div *ngIf="step === 3 && !showPurchaseInfo">
          <p class="view-detail"> Ver detalle </p>
        </div>
      </div>
    </div>
  </div>
</div>