@import 'variables';

.page-container {
  height: 70vh !important;
  padding-left: 1rem;
  padding-right: 1rem;
  .card {
    min-height: 65vh !important;
    .page404-font {
      font-family: Avenir;
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: center;
      color: $color-1763d1;
    }
    .message{
      margin-bottom: 3rem;
    }
  }
}

@media screen and (max-width: $break-small) {
  .page-container {
    padding-top: 38px;
    .card {
      min-height: 70vh !important;
      img {
        width: 80%;
      }
    }
  }
}