<section class="admin-home mb-3">
  <div class="container">
    <div class="row">
      <div class="banner col-12 mb-3">
        <img src="assets/images/admin-home-banner.png" loading="lazy">
        <p class="title"> Registrar </p>
      </div>
    </div>
    <div class="cards-section row justify-content-center">
      <div class="col-sm">
        <div class="register-card" (click)="goTo('bus')">
          <img src="assets/icons/public-transportation.png" loading="lazy">
          <p class="topic"> Buses </p>
          <p class="description"> Administre buses </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="register-card"  (click)="goTo('chofer')">
          <img src="assets/icons/driver.png" loading="lazy">
          <p class="topic"> Chóferes </p>
          <p class="description"> Agregue chóferes </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="register-card" (click)="goTo('ruta')">
          <img src="assets/icons/road.png" loading="lazy">
          <p class="topic"> Rutas </p>
          <p class="description"> Agregue rutas </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="register-card" (click)="goTo('salida')">
          <img src="assets/icons/next-location.svg" loading="lazy">
          <p class="topic"> Salidas </p>
          <p class="description"> Agregue salidas y asigne chóferes </p>
        </div>
      </div>
    </div>
  </div>
</section>