<div class="custom-table-responsive mb-3">
  <table class="offices-table w-100 mt-3">
    <thead>
      <tr>
        <th> Nombre Sucursal </th>
        <th> Fecha de expiración </th>
        <th> Acción </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="offices.length === 0">
        <td class="text-center" colspan="3"> Sin sucursales </td>
      </tr>
      <ng-container *ngIf="offices.length > 0">
        <tr *ngFor="let office of offices" [class]="checkTimeLimit(office)">
          <td>
            <p> <b> {{ office.type }} </b> {{ office.name }} </p>
          </td>
          <td> {{ (office.dosage) ? (office.dosage.emissionTimeLimit | formatDate) : 'Sin dosificación' }} </td>
          <td>
            <div class="actions">
              <button type="button" class="td-circle-btn btn btn-default btn-circle" (click)="editOfficeData(office)">
                <i class="icon icon-edit"></i>
              </button>
              <p> Actualizar </p>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>