@import 'variables';

.offices-table {
  thead {
    tr {
      th {
        color: rgba(65, 65, 65, 0.753);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding: 0 10px 10px 10px;
        text-align: start;
      }
    }
  }
  tbody {
    p {
      margin-bottom: 0;
    }
    tr {
      border-radius: 6px;
      border: 1px solid #D6D8DB;
      border-radius: 6px;
      td {
        background-color: #E2E3E5;
        padding: 7px 10px 5px 10px;
        text-align: start;
        p {
          color: #383D41;
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
        }
        &:last-child {
          .actions {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;
            .btn {
              border-radius: 50%;
              border: 1px solid rgb(205, 205, 205);
              padding: 2px 0 0 0;
              height: 30px;
              width: 30px;
              i.icon {
                font-size: 19px;
                margin-top: 2px;
              }
            }
            p {
              color: $color-042b63 !important;
              margin-left: 5px;
            }
          }
        }
      }
      &.warning {
        td {
          background-color: #FFF3CD;
          border: 1px solid #FFEEBA;
          color: #856404;
        }
      }
      &.danger {
        td {
          background-color: #F8D7DA;
          border: 1px solid #F5C6CB;
          color: #721C24;
        }
      }
    }
  }
}