@import 'variables';

.ovj-desktop-table {
  tbody {
    tr {
      &.item-row {
        td {
          border-top: 1px solid #C4C4C4;
          border-bottom: 1px solid #C4C4C4;
          &:first-child {
            border-left: 1px solid #C4C4C4;
          }
          &:last-child {
            border-right: 1px solid #C4C4C4;
          }
        }
        &.danger {
          td {
            background-color: #F8D7DA;
          }
        }
        &.warning {
          td {
            background-color: #FFF3CD;
          }
        }
      }
    }
  }
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 40vh;
    }
  }
}
