@import 'variables';

.ovj-banner {
  img {
    height: auto;
  }
}

.bus-template-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  min-height: 70vh;
  .info {
    color: $color-042b63;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
  }
  .bus-options {
    border-radius: 5px;
    display: flex;
    margin-bottom: 3rem;
    padding: 2rem 0;
    width: 100%;
    .bus {
      text-align: center;
      width: 100%;
      ::ng-deep {
        .bus-wrapper {
          .bus-floor {
            .bus-row {
              .bus-column {
                .seat {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}

.move-seat-confirmation {
  .actions {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 20px 0 20px;
    width: 100%;
    .btn {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      width: 200px;
      &:first-child {
        background-color: $white;
        border: 1px solid #007BFF;
        border-radius: 6px !important;
        color: $color-042b63;
        margin-right: 10px;
      }
      &:last-child {
        background: $color-ff533d;
        border-radius: 10px;
        color: $white;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .ovj-banner {
    img {
      display: none;
    }
    p {
      color: $color-3c64b1;
      font-size: 24px;
      font-style: normal;
      font-weight: bold;
      line-height: 24px;
      margin-top: 15px !important;
      position: initial;
    }
  }
  .template-management-wrapper {
    padding: 0 1.75rem !important;
  }
}