@import 'variables';

.ovj-banner {
  position: relative;
  .company-image {
    border-radius: 50%;
    height: 90px;
    position: absolute;
    right: 15px;
    top: calc(50% - 45px);
    width: 90px;
  }
}

.lashes-container {
  justify-content: center;
  margin-bottom: -3px;
  .sale-lash-container {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    padding: 0 0.25rem;
    width: 25%;
    &:first-child {
      padding-left: 0;
      padding-right: 0.2rem;
      width: 20%;
      .sale-lash {
        justify-content: center;
      }
    }
    &:last-child {
      padding-left: 0.2rem;
      padding-right: 0;
    }
    .sale-lash {
      background-color: $color-f5f5f5;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: $color-666666;
      cursor: pointer;
      font-size: 0.85rem;
      min-height: 40px;
      padding: 0 0.5rem;
      &.selected {
        background-color: $white;
        color: $black;
        cursor: default;
      }
      img {
        width: 20px;
      }
    }
  }
}
.sale-type-separator {
  background-color: $color-042b63;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 37px;
  width: 100%;
  &.physical {
    background-color: $color-54bb2c;
  }
  &.online {
    background-color: $color-1a73e9;
  }
}

@media screen and (max-width: $break-large) {
  .ovj-banner {
    position: relative;
    .company-image {
      display: none;
    }
  }
}

@media screen and (max-width: $break-large) {
  .lashes-container {
    .sale-lash-container {
      width: 30%;
      &:first-child {
        width: 30%;
      }
    }
  }
}