<form class="border-light oviajamos-form mb-4" autocomplete="off" [formGroup]="bankGroup">
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información de Banco</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label ">Nombre de banco<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="name"
          [ngClass]="{'is-invalid': submitted && bankForm.name.errors}">
        <div class="invalid-feedback" *ngIf="bankForm.name.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
</form>