@import 'variables';

.left-menu{
  background: $color-f4f5f8;
  a{
    color: $color-666666;
  }
  div{
    padding:3px;
  }
  div a{
    background: $color-f4f5f8;
    border:none;
  }
  .select-element{
    border-right: $color-126BA5 3px solid;
  }
  .color-activation{
    color: $color-042b63;
    background:$white;
  }
  .color-activation:focus{
    background:$white;
  }
  
  @media screen and (max-width: $break-small) {
    display: flex;
    overflow-x: auto;
    font-size: 14px;
    .select-element{
      border-bottom: $color-126BA5 3px solid;
      border-right: none;
    }
    div a{
      padding: 0.5em;
      padding-bottom: 5px;
      min-height: 55px;
      min-width: 120px;
    }  
  }
}
.left-menu::-webkit-scrollbar {
  display: none;
}

.title-container {
  display: flex;
  justify-content: center;
  height: 122px;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  border-radius: 20px;
  h1{
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: $color-3c64b1;
    font-size: 36px;
  }
  @media screen and (max-width: $break-small) {
    background: none;
    justify-content: left;
    height: auto;
    padding: 1em 1.5em;
  }
}

.padding-remove{  
  @media screen and (max-width: $break-small) {
    padding:0px;
  }
}

























