<h4 class="table-title"> Reservas anuladas </h4>
<div class="custom-table-responsive">
  <table class="ovj-reservation-table mt-2">
    <thead>
      <tr>
        <th> Asiento </th>
        <th> CI<span class="text-danger">*</span> </th>
        <th> Nombre<span class="text-danger">*</span> </th>
        <th> Cel. </th>
        <th> Bs. </th>
        <th>
          <input type="checkbox"
            class="reservation-check"
            (change)="checkAll($event)">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <div class="shadow"></div> <p> 10 </p> </td>
        <td> <div class="shadow"></div> 2840140 </td>
        <td> <div class="shadow"></div> JUAN FLORES </td>
        <td> <div class="shadow"></div> 77408541 </td>
        <td> <div class="shadow"></div> 30 </td>
        <td> <div class="shadow"></div>
          <input type="checkbox"
            class="reservation-check"
            (change)="check($event)">
        </td>
      </tr>
      <tr>
        <td> <div class="shadow"></div> <p> 11 </p> </td>
        <td> <div class="shadow"></div> 2840140 </td>
        <td> <div class="shadow"></div> JAVIER </td>
        <td> <div class="shadow"></div> 77408541 </td>
        <td> <div class="shadow"></div> 30 </td>
        <td> <div class="shadow"></div>
          <input type="checkbox"
            class="reservation-check"
            (change)="check($event)">
        </td>
      </tr>
    </tbody>
  </table>
</div>