@import 'variables';

.close {
  padding-top: 1.1rem;
  padding-right: 1.3rem;
  position: absolute;
  right: 15px;
  top: 16px;
  i.icon {
    font-size: 18px;
  }
}

.modal-data {
  margin: 0.25rem 0 2rem 0;
  padding: 0rem 0.75rem;
  text-align: center;
  i.icon {
    font-size: 100px;
    &::before {
      color: $color-ff6022;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  .btn {
    border-radius: 6px !important;
    margin: 0 0.5rem;
  }
}