<button type="button"
  aria-label="Close"
  class="close-modal-btn btn btn-default"
  *ngIf="!heading"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="modal-content modal-ovj">
  <div class="modal-header" *ngIf="heading">
    <button class="btn btn-default close" aria-label="Close" ngbAutofocus (click)="action.next(false)">
      <i class="icon icon-cross"></i>
    </button>
    <h4 class="modal-title" id="myModalLabel">{{heading ? heading : 'Atencion!'}}</h4>
  </div>
  <div class="modal-body">
    <div class="modal-data ovj-text-primary">
      <i class="icon icon-trash-2"
        *ngIf="content.type === 'delete'">
      </i>
      <i class="icon icon-warning-signal"
        *ngIf="content.type === 'save' || content.type === 'warning'">
      </i>
      <h2 class="mt-3">{{ content.heading }}</h2>
      <p class="m-0 ovj-text-sm">{{ content.description }}</p>
    </div>
    <div class="buttons">
      <button type="button"
        class="btn btn-default ovj-btn danger-bordered"
        (click)="cancel()">
        <span *ngIf="content.type === 'delete' || content.type === 'warning'">
          Cancelar
        </span>
        <span *ngIf="content.type === 'save'">No guardar</span>
      </button>
      <button type="button"
        class="btn btn-default ovj-btn orange"
        (click)="acepted()">
        <span *ngIf="content.type === 'warning'">Aceptar</span>
        <span *ngIf="content.type === 'delete'">Eliminar</span>
        <span *ngIf="content.type === 'save'">Guardar</span>
      </button>
    </div>
  </div>
</div>