@import 'variables';

.detail {
  p {
    font-style: normal;
    margin-bottom: 0;
  }
  .bus-stop {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 18px;
    padding: 0 5px;
    position: relative;
    .trace-line {
      border-right: 4px solid $color-1a73e9;
      height: 100%;
      left: 26px;
      position: absolute;
      top: 50%;
      width: 1px;
    }
    .trace {
      align-items: center;
      display: flex;
      .img-wrapper {
        z-index: 1;
        img {
          border-radius: 50%;
          height: 46px;
          margin-right: 5px;
          width: 46px;
        }
      }
      .info {
        width: calc(100% - 51px);
        p {
          &:first-child {
            color: $black;
            font-size: 12px;
            font-weight: normal;
            line-height: 16px;
          }
          &:last-child {
            color: $color-042b63;
            font-size: 16px;
            font-weight: normal;
            line-height: 24px;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .estimation {
      min-width: 75px;
      p {
        &:first-child {
          color: $black;
          font-size: 12px;
          font-weight: normal;
          line-height: 16px;
        }
        &:last-child {
          color: $color-042b63;
          font-size: 16px;
          font-weight: normal;
          line-height: 24px;
        }
      }
    }
  }
  .desc-title {
    color: $black;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    margin-top: 15px;
  }
  .desc-content {
    color: $color-a0a1a8;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 23px;
  }
}