<button type="button" aria-label="Close"
  class="close-modal-btn btn btn-default"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="custom-card-info">
  <div class="selected-element content-item">
    <div class="principal">
      <p class="card-title"> Detalle Rutas </p>
      <img class="item-img"
        [src]="route.destination.imageUrl"
        loading="lazy">
      <p class="item-label"> {{route.source.name}} - {{route.destination.name}} </p>
      <div class="actions">
        <button class="btn btn-default" (click)="deleteRoute(route)">
          Eliminar
        </button>
        <button class="ovj-btn-orange-2 btn btn-default" (click)="editRoute(route)">
          Editar
        </button>
      </div>
    </div>
    <div class="divider"></div>
    <div class="detail">
      <p class="title"> Detalle de ruta </p>
      <div class="source bus-stop">
        <div class="trace-line"></div>
        <div class="trace">
          <div class="img-wrapper">
            <img [src]="route.source.imageUrl" loading="lazy">
          </div>
          <div class="info">
            <p> Origen </p>
            <p> {{ route.source.name }} </p>
          </div>
        </div>
      </div>
      <div class="destination bus-stop">
        <div class="trace">
          <div class="img-wrapper">
            <img [src]="route.destination.imageUrl" loading="lazy">
          </div>
          <div class="info">
            <p> Origen </p>
            <p> {{ route.destination.name }} </p>
          </div>
        </div>
        <div class="estimation">
          <p> Estimación: </p>
          <p> --:-- </p>
        </div>
      </div>
      <div class="divider"></div>
      <p class="desc-title"> Descripción de la Ruta </p>
      <p class="desc-content"> ({{ route.description || 'Sin descripción' }}) </p>
      <div class="mobile-actions">
        <button type="button" class="btn btn-default ovj-btn danger-bordered" (click)="deleteRoute(route)">
          Eliminar
        </button>
        <button type="button" class="btn btn-default ovj-btn success-bordered" (click)="editRoute(route)">
          Editar
        </button>
        <button type="button" class="btn btn-default ovj-btn orange" (click)="action.next(false)">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>