@import 'variables';

.progress-container {
  .form-progress {
    color: $color-1763d1;
    position: relative;
    .card-body {
      padding: 0.85rem 1.25rem 0.6rem 1.25rem;
      .card-title {
        i.icon {
          font-size: 17px;
          &::before {
            color: $color-ff6022;
          }
        }
      }
    }
    .progress {
      height: 8px;
      .progress-bar {
        background-color: $color-1763d1;
      }
    }
    .go-back-container {
      align-items: center;
      cursor: pointer;
      left: 15px;
      position: absolute;
      top: 12px;
      i.icon {
        transform: rotate(180deg);
        &::before {
          color: $color-ff6022;
        }
      }
      p {
        font-size: 0.9rem;
        margin-left: 0.45rem;
        margin-bottom: 0;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .progress-container {
    .form-progress {
      .go-back-container {
        top: 35%;
        i.icon {
          font-size: 20px;
          transform: rotate(180deg);
          &::before {
            color: $color-ff6022;
          }
        }
        p {
          display: none;
        }
      }
    }
    &.with-ticket-purchase-dropdown {
      margin-top: 38px;
    }
  }
}
