<form autocomplete="off" [formGroup]="parentFormGroup">
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Tipo de documento<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="documentType"
          [ngClass]="{'is-invalid': submitted && submitted && parentForm.documentType.errors}">
        <ng-select class="form-control ovj-select" *ngIf="false">
          <ng-option *ngFor="let key of documentTypeEnumKeys" [value]="documentTypeEnum[key]">
            {{ documentTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="parentForm.documentType.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Número de documento<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="documentNumber"
          [ngClass]="{'is-invalid': submitted && parentForm.documentNumber.errors}">
        <div class="invalid-feedback" *ngIf="parentForm.documentNumber.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="parentForm.documentNumber.errors?.maxlength">Máximo 12 dígitos</div>
        <div class="invalid-feedback" *ngIf="parentForm.documentNumber.errors?.minlength">Mínimo 5 dígitos</div>
      </div>
    </div>
  </div>
</form>
