<div class="ticket-container">
  <div class="company-title text-center mt-2">
    <p class="enterprise mb-0"> <b class="mb-0">
      {{ (seller?.company?.name) ? seller?.company.name : 'EMPRESA' }}
    </b> </p>
  </div>
  <div class="source-title text-center">
    <P class="source mb-0"> <b class="m-0">
      {{ (seller?.office) ? seller.office.name : '-----' }}
    </b> </P>
  </div>
  <div class="text-center">
    <p class="mb-0">
      {{ (seller?.office) ? seller?.office.address : '--------' }}
    </p>
  </div>
  <div class="text-center">
    <p class="mb-0"> Telf./Cel.
      {{ (seller?.company?.legalOrganizer) ? seller?.company.legalOrganizer.phoneNumber : '00000000' }}
    </p>
  </div>
  <div class="text-center">
    <p class="mb-0">
      {{ (seller?.office) ? seller.office.department : '-----' }}
    </p>
  </div>
  <div class="text-center">
    <p class="mb-0"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
  </div>
  <div class="text-center">
    <p class="mb-0"> <b class="mb-0"> BOLETO </b> </p>
  </div>
  <div class="date text-left w-100">
    <p class="m-0"> <b class="m-0"> Fecha: </b>
      {{ (paymentMethod) ? (paymentMethod?.createdAt | formatDate3) : '00 MMMM 0000' }}
    </p>
  </div>
  <div class="text-left w-100">
    <p class="m-0"> <b class="m-0"> NIT/CI: </b>
      {{ (ticketBuyer) ? ticketBuyer?.documentNumber : '0000000' }}
    </p>
  </div>
  <div class="passenger-name text-left w-100">
    <b class="m-0"> Razón social:
      {{ (ticketBuyer) ? ticketBuyer?.name : '{NOMBRE APELLIDO NOMBRE APELLIDO}' }}
    </b>
  </div>
  <table border=1 class="detail-table w-100">
    <thead>
      <tr>
        <th> <b class="m-0"> CANT. </b> </th>
        <th> <b class="m-0"> DESCRIPCIÓN </b> </th>
        <th> <b class="m-0"> PRECIO </b> </th>
        <th> <b class="m-0"> TOTAL(BS) </b> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <p class="m-0">
          {{ (paymentMethod?.ticketBuyer) ? paymentMethod.ticketBuyer.ticketsPaid.length : '--' }}
        </p> </td>
        <td> <p class="m-0"> PASAJE(S) </p> </td>
        <td> <p class="m-0">
          {{ (departure?.price) ? departure.price : '--'}}
        </p> </td>
        <td> <b class="m-0">
          {{ (paymentMethod) ? paymentMethod.amountPaid : '--'}}
        </b> </td>
      </tr>
    </tbody>
  </table>
  <div class="total-amount text-right w-100">
    <p class="m-0"> SON: <b class="m-0">
      {{ (paymentMethod) ? (paymentMethod.amountPaid | numberToLit) : '-----'}}
    </b> {{ (paymentMethod) ? (paymentMethod.amountPaid | decimals) : '00' }}/100 BOLIVIANOS </p>
  </div>
  <div class="text-left w-100">
    <p class="m-0"> ID.BOLETO: {{ (paymentMethod) ? paymentMethod.paymentMethodId : '---' }} </p>
  </div>
  <div class="text-left w-100">
    <p class="m-0"> |
      {{ (paymentMethod) ? (paymentMethod.createdAt | dateToTime) : '--:--' }}
      |
      {{ (seller) ? (seller.name + ' ' + seller.lastName ) : '----- -----' }} |
    </p>
  </div>
  <div class="no-returns text-center w-100">
    <b class="m-0"> NO SE ACEPTAN CAMBIOS NI DEVOLUCIONES </b>
  </div>
  <div class="law-info text-center w-100" *ngIf="false">
    &#123; Glosa, dosificación &#125;
  </div>
  <div class="text-center w-100">
    <p class="mb-0"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
  </div>
  <div class="text-left w-100">
    <b class="m-0"> Asiento | Pasajero </b>
  </div>
  <table class="passengers-table w-100">
    <tbody>
      <tr *ngFor="let ticket of paymentMethod?.ticketBuyer?.ticketsPaid">
        <td>
          <div class="text-left w-100">
            <b class="position m-0">
              {{ (ticket.position) ? (ticket.position | seatNumber) : '--' }}
            </b>
          </div>
        </td>
        <td>
          <div class="text-left w-100"> <b class="m-0">
            {{ (ticket?.person) ? ticket?.person?.name : '{NOMBRE APELLIDO NOMBRE APELLIDO}' }}
          </b> </div>
          <div class="text-left w-100">
            CI: {{ (ticket?.person) ? ticket?.person.documentNumber : '0000000' }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="bus-detail-table w-100">
    <tbody>
      <tr>
        <td rowspan="2">
          <div class="text-left w-100">
            <img src="assets/images/ticket-bus.png">
          </div>
        </td>
        <td>
          <div class="text-left w-100">
            <p class="bus-license-plate m-0"> BUS: <b class="license-plate m-0">
              {{ (departure?.bus) ? departure?.bus.licensePlate : 'ABC000' }}
            </b> </p>
          </div>
        </td>
        <td>
          <div class="text-left w-100">
            <p class="m-0"> <b class="bus-type m-0">
              {{ (departure) ? departure.bus.type : '-----' }}
            </b> </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-left w-100">
            <p class="m-0"> <b class="bus-floor m-0"> 1°PISO </b> </p>
          </div>
        </td>
        <td>
          <div class="text-left w-100">
            <p class="m-0"> <b class="bus-lane m-0"> CARRIL:
              {{ (departure?.lane) ? departure?.lane : '--' }}
            </b> </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-left w-100">
    <p class="m-0"> Origen:
      {{ (departure?.route) ? departure.route.source.name : '-----' }}
    </p>
  </div>
  <div class="destination text-left w-100">
    <p class="m-0"> Detino: <b class="m-0">
      {{ (departure?.route) ? departure.route.destination.name : '-----' }}
    </b> </p>
  </div>
  <div class="departure-time text-left w-100 mb-3">
    <p class="m-0"> SALIDA: <b class="m-0">
      {{ (departure?.departureDate) ? (departure?.departureDate.departureTime | formatHour2) : '--:--' }}
    </b> </p>
  </div>
</div>