<form class="oviajamos-client-form travel-search-form py-0 mt-0" autocomplete="off" [formGroup]="travelGroup">
  <div class="row">
    <div class="col-lg-4">
      <div class="ovj-form">
        <label class="ovj-label">Origen<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-input client bus-stop-filter"
          formControlName="source"
          notFoundText="Sin coincidencias">
          <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
            {{ busStop.name}}
          </ng-option>
        </ng-select>
          <i class="icon icon-geo-loc input-icon"></i>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ovj-form location-input">
        <label class="ovj-label">Destino<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-input client bus-stop-filter"
          formControlName="destination"
          notFoundText="Sin coincidencias">
          <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
            {{ busStop.name}}
          </ng-option>
        </ng-select>
        <i class="icon icon-geo-loc input-icon"></i>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ovj-form">
        <label class="ovj-label">Asientos<span class="text-danger">*</span></label>
        <input type="number" id="availableSeats" class="form-control ovj-input with-icon" formControlName="availableSeats"
          (keydown)="numberInputValidator($event)">
          <i class="icon icon-person input-icon"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 p-0 mt-3 mb-2 d-none">
      <div class="d-flex align-items-center h-100 check-container">
        <input type="checkbox"
          class="ovj-client-check"
          formControlName="goAndBack"
          (change)="onCheck()">
        <label class="font-weight-bold ovj-text-sm m-0" for="goAndBack">Ida y vuelta</label>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="dates-row w-100 justify-content-center">
        <div class="go" [ngClass]="{'only': !travelForm.goAndBack.value}">
          <div class="ovj-form">
            <label class="ovj-label">Ida<span class="text-danger">*</span></label>
            <dp-date-picker class="form-control ovj-input client with-icon"
              [config]="datePickerConf"
              (onSelect)="setGoValue($event.date)"
              mode="day"
              theme="dp-material"
              id="startDate"
              [minDate]="minDate"
              formControlName="startDate">
            </dp-date-picker>
            <i class="icon icon-go-date input-icon"></i>
          </div>
        </div>
        <div class="back" *ngIf="travelForm.goAndBack.value">
          <div class="ovj-form">
            <label class="ovj-label">Vuelta<span class="text-danger">*</span></label>
            <dp-date-picker class="form control ovj-input client with-icon"
              [config]="datePickerConf2"
              mode="day"
              theme="dp-material"
              id="endDate"
              [minDate]="minDate2"
              formControlName="endDate">
            </dp-date-picker>
            <i class="icon icon-back-date input-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
