@import 'variables';

.travel-search-form {
  .check-container {
    justify-content: flex-start !important;
  }
  .dates-row {
    display: flex;
    .go {
      width: 45%;
      .ovj-form {
        .dp-material {
          ::ng-deep {
            &>div {
              &:nth-child(2) {
                position: absolute;
                top: 0;
              }
            }
          }
        }
      }
    }
    .back {
      width: 45%;
    }
  }
}

@media screen and (max-width: $break-medium) {
  .travel-search-form {
    .check-container {
      justify-content: center !important;
    }
    .ovj-form {
      margin: 0.8rem 0 !important;
    }
    .dates-row {
      display: flex;
      .go {
        margin-right: 6%;
        width: 47%;
        &.only {
          margin-right: 0;
          width: 100%;
        }
      }
      .back {
        width: 47%;
      }
    }
  }
}