<app-spinner *ngIf="ticketPurchaseService.loadingSteperContent"></app-spinner>
<div class="container mt-3">
  <ng-container *ngIf="!ticketPurchaseService.loadingSteperContent && !paymentError">
    <app-cash-payment (submitPaymentEvent)="submitPayment($event)"></app-cash-payment>
    <ng-container [ngSwitch]="paymentMethod" *ngIf="false">
      <ng-container *ngSwitchCase="paymentMethodTypeEnum.CASH_PAYMENT">
        <app-cash-payment (payWithCashEvent)="payWithCash($event)"></app-cash-payment>
      </ng-container>
      <ng-container *ngSwitchCase="paymentMethodTypeEnum.QR_PAYMENT">
        <app-qr-scan (verifyPaymentEvent)="verifyPayment($event)"
          (downloadQrEvent)="downloadQr($event)">
        </app-qr-scan>
      </ng-container>
      <ng-container *ngSwitchCase="paymentMethodTypeEnum.CARD_PAYMENT">
        <app-card-payment (payWithCardEvent)="payWithCard($event)"></app-card-payment>
      </ng-container>
    </ng-container>
  </ng-container>
  <app-payment-error *ngIf="paymentError"
    [paymentMethod]="paymentMethod"
    (retryEvent)="retry($event)">
  </app-payment-error>
</div>