@import 'variables';

.modal-data {
  text-align: center;
  padding: 0rem 0.75rem;
  margin: 1rem 0 1rem 0;
  .description {
    color: $color-000042;
    font-size: 1.3rem;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  .btn {
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: $break-x-small) {
  .modal-data {
    .description {
      font-size: 1.2rem;
    }
  }
  .buttons {
    .btn {
      width: 100%;
    }
  }
}