<form class="oviajamos-form warehouse-filter-form px-md-auto pr-md-2 py-0 px-1 mt-0"
  autocomplete="off" [formGroup]="warehouseFilterGroup">
  <div class="filter-inputs">
    <div class="ovj-form">
      <label class="ovj-label">
        DEPARTAMENTO DESTINO<span class="text-danger"></span>
      </label>
      <ng-select class="form-control-gray ovj-input bus-stop-filter"
        formControlName="destinationDepartment"
        notFoundText="Sin coincidencias">
        <ng-option *ngFor="let key of departamentEnumKeys" [value]="departamentEnum[key]">
          {{ departamentEnum[key]}}
        </ng-option>
      </ng-select>
    </div>
    <div class="ovj-form"
      [ngClass]="{'d-none': !warehouseFilterForm.destinationDepartment.value,
        'd-block': warehouseFilterForm.destinationDepartment.value}">
      <label class="ovj-label">
        OFICINA DESTINO<span class="text-danger"></span>
      </label>
      <ng-select class="form-control-green ovj-input destination-department-filter"
        formControlName="destinationOfficeId"
        (close)="submitFilterParams$.next(warehouseFilterGroup.value)"
        (change)="submitFilterParams$.next(warehouseFilterGroup.value)"
        notFoundText="Sin coincidencias">
        <ng-option *ngFor="let office of destinationOffices" [value]="office.busStopId">
          {{ office.name}}
        </ng-option>
      </ng-select>
    </div>
    <button class="manifest-btn btn btn-default ovj-btn primary" (click)="createShipment()">
      Registrar encomienda
    </button>
  </div>
</form>