<div class="container mb-4">
  <div class="row">
    <div class="col-12 ovj-banner">
      <img src="assets/images/ovj-admin-bus-stop-banner.png" loading="lazy">
      <p class="title text-light m-0">Editar Oficina</p>
    </div>
    <div class="col-md-8 offset-md-2">
      <div class="card shadow mt-2">
        <div class="form-loader" *ngIf="loadingOffice">
          <app-spinner-small></app-spinner-small>
        </div>
        <app-office-data-form [office]="office"
          [enterprise]="enterprise"
          *ngIf="!loadingOffice">
        </app-office-data-form>
        <div class="form-actions-container" *ngIf="!loadingOffice">
          <button class="btn ovj-btn-light" type="button" [disabled]="submitting" (click)="onDiscard()">Cancelar</button>
          <button class="btn ovj-btn-blue" type="submit" [disabled]="submitting" (click)="onSubmit()">
            <ng-container *ngIf="!submitting"> Guardar </ng-container>
            <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
            <ng-container [ngSwitch]="submitting">
            </ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
