<section class="px-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 ovj-banner">
        <p class="title text-light m-0"> Registrar encomienda </p>
      </div>
    </div>
  </div>
  <div class="assignment-wrapper shadow-sm mt-2 mb-4">
    <app-shipment-form [enterprise]="enterprise"e></app-shipment-form>
    <div class="register-actions mb-5">
      <button class="btn btn-default ovj-btn success"
        [disabled]="submitting"
        (click)="submitShipment(shippingStatusEnum.PAYED)">
        <ng-container *ngIf="submitting !== shippingStatusEnum.PAYED"> Pagar en origen </ng-container>
        <div *ngIf="submitting === shippingStatusEnum.PAYED" class="spinner-border spinner-btn text-light" role="status"></div>
      </button>
      <button class="btn btn-default ovj-btn warning"
        [disabled]="submitting"
        (click)="submitShipment(shippingStatusEnum.TO_BE_PAYED)">
        <ng-container *ngIf="submitting !== shippingStatusEnum.TO_BE_PAYED"> Por pagar </ng-container>
        <div *ngIf="submitting === shippingStatusEnum.TO_BE_PAYED" class="spinner-border spinner-btn text-light" role="status"></div>
      </button>
      <button class="btn btn-default ovj-btn dark-primary"
        [disabled]="submitting"
        (click)="submitShipment(shippingStatusEnum.QUOTE)">
        <ng-container *ngIf="submitting !== shippingStatusEnum.QUOTE"> Cotización </ng-container>
        <div *ngIf="submitting === shippingStatusEnum.QUOTE" class="spinner-border spinner-btn text-light" role="status"></div>
      </button>
    </div>
  </div>
</section>