@import 'variables';

.ovj-banner {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  border-radius: 20px;
  max-width: 710px !important;
  min-height: 75px;
  .title {
    color: $color-3c64b1 !important;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    top: 30px;
  }
}

.assignment-wrapper {
  background-color: $white;
  border-radius: 10px;
  padding: 15px;
  .register-actions {
    display: flex;
    margin-top: 30px !important;
    .ovj-btn {
      height: 44px;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


@media screen and (max-width: $break-large) {
  .assignment-wrapper {
    .register-actions {
      .ovj-btn {
        margin-right: 10px;
        width: 33.33%;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .assignment-wrapper {
    .register-actions {
      flex-direction: column;
      .ovj-btn {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}