@import 'variables';
.redimention{
  width: 1rem;
  height: 1rem;
}
@media screen and (max-width: $break-small) {
  .movil-padding{
    padding: 0px;
    padding-top: 2rem;
  }
}

.form-actions-container{
  @media screem and(max-width: $break-small){
    padding: initial;
  }
}
.format-image{
  border-radius: 50%;
  width: 145.4px;
  height: 145.4px;
  vertical-align: none;
}
.line-divisor{
  border: 1px solid $color-c4c4c4;
}
.border-none{
  border:none;
}
.color-body{
  background: $white;
}

.format-imag-absolute {
  position: absolute;  
}
.format-image-relative {
  position:relative;
  top: 116px;
  left: 110px;
} 
.ovj-label{
  color: $color-042b63; 
  font-weight: 400;
  font-size: 16px;
}
.ovj-label-conten{
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
 