<div class="container color-body">
  <form class="border-light oviajamos-form movil-padding mt-0 p-0" autocomplete="off" >    
    <div class="row pl-4">
      <div class="col-md-12 mt-3">
        <h6 class="ovj-form-title m-0 mt-2">Información de Usuario</h6>
      </div>
    </div>
    <br>
    
    <div class="row pl-4 pr-4">
        <div class="col-lg-3 col-12">
          <img class="format-image format-imag-absolute"src="assets/images/Ellipse 32.svg" alt="">
          <img class="format-image-relative" src="assets/icons/camera-icon.svg" alt="">
        </div>

        <div class="col-lg-9">
          <div class="col-12">
            <div class="ovj-form">
              <label class="ovj-label-conten">Nombre<span class="text-danger">*</span></label>
              <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
            </div>
            <label [hidden]='hiddenInput' class="ovj-label">Juan</label>
          </div>
  
          <div class="col-12">
            <div class="ovj-form">
              <label class="ovj-label-conten">Apellido<span class="text-danger">*</span></label>
              <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
            </div>
            <label [hidden]='hiddenInput' class="ovj-label">Perez</label>
          </div>
  
          <div class="col-12">
            <div class="ovj-form">
              <label class="ovj-label-conten">Celular<span class="text-danger">*</span></label>
              <input [hidden]='!hiddenInput' type="number" class="form-control ovj-input">
            </div>
              <label [hidden]='hiddenInput' class="ovj-label">7841512</label>
          </div>

          <div class="col-12">
            <div class="ovj-form">
              <label class="ovj-label-conten">Ci<span class="text-danger">*</span></label>
              <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
            </div>
              <label [hidden]='hiddenInput' class="ovj-label">7841512</label>
          </div>

          <div class="col-12">
            <div class="ovj-form">
              <label class="ovj-label-conten">Correo electrónico<span class="text-danger">*</span></label>
              <input [hidden]='!hiddenInput' type="mail" class="form-control ovj-input">
            </div>
              <label [hidden]='hiddenInput' class="ovj-label">Juanperez64@gmail.com</label>
          </div>
        </div>
    </div>
    
    <div class="row p-4">
      <div class="col-md-12">
        <h6 class="ovj-form-title mb-0">Contacto de referencia</h6>
      </div>
      <hr class="col-11 line-divisor">

      <div class="col-12">
        <div class="col-md-12 p-0">
          <h6 class="ovj-form-title">Contacto 1</h6>
        </div>
        
        <div class="ovj-form">
          <label class="ovj-label-conten">Nombres y apellido<span class="text-danger">*</span></label>
          <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
        </div>
        <label [hidden]='hiddenInput' class="ovj-label">Mirta Lopez</label>
      </div>

      <div class="col-6">
        <div class="ovj-form">
          <label class="ovj-label-conten">Celular<span class="text-danger">*</span></label>
          <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
        </div>
        <label [hidden]='hiddenInput' class="ovj-label">779887654</label>
      </div>

      <div class="col-6">
        <div class="ovj-form">
          <label class="ovj-label-conten">Descripcion de contacto<span class="text-danger">*</span></label>
          <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
        </div>
          <label [hidden]='hiddenInput' class="ovj-label">esposa</label>
      </div>
    </div>
    
    <div class="form-actions-container mt-3">
      <button [hidden]='!hiddenInput' type="submit" class="btn ovj-btn-orange-2"> Guardar</button>
      <button [hidden]='hiddenInput' type="submit" class="btn ovj-btn-orange-2 " (click)="editInfoAdmin()"> <img src="assets/icons/lapiz.svg"> Editar</button>
    </div>
   </form>
</div>