<form autocomplete="off" [formGroup]="departureRecurrencyGroup">
  <p class="ovj-text-xs mt-1 mb-2"> Se repite el: </p>
  <div class="d-flex justify-content-between mb-4">
    <input type="text" hidden>
    <div class="ovj-bg-light-secondary day-item"
      *ngFor="let weekDayKey of weekDaysKeys"
      [ngClass]="{'selected': checkDay(weekDayKey)}"
      (click)="selectDay(weekDayKey)">
      {{ weekDayKey.toUpperCase() }}
    </div> 
  </div>
  <p class="ovj-text-xs mb-2"> Finaliza: </p>
  <div class="row">
    <div class="col-5 align-self-end mb-lg-1 mb-3">
      <div class="custom-control custom-radio">
        <input class="custom-control-input"
          type="radio"
          name="flexRadioDefault"
          id="neverWillFinish"
          (change)="recurencyChecking('never')"
          [checked]="f.recurrency.value == 'never'">
        <label class="custom-control-label ovj-text-xs pt-1" for="neverWillFinish">
          Nunca
        </label>
      </div>
    </div>
    <div class="col-7"></div>
  </div>
  <div class="row">
    <div class="col-5 align-self-end">
      <div class="custom-control custom-radio check-container">
        <input class="custom-control-input"
          type="radio"
          name="flexRadioDefault"
          id="endsOnCheck"
          (change)="recurencyChecking('endsOn')"
          [checked]="f.recurrency.value == 'endsOn'">
        <label class="custom-control-label ovj-text-xs pt-1" for="endsOnCheck">
          El
        </label>
      </div>
    </div>
    <div class="col-7">
      <div class="ovj-form">
        <label class="ovj-label ovj-text-sm">Fecha</label>
        <dp-date-picker class=""
          [config]="dpConf"
          mode="day"
          theme="dp-material"
          id="endsOn"
          [minDate]="minDate"
          formControlName="endsOn">
        </dp-date-picker>
        <div *ngIf="submitted && f.endsOn.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 align-self-end">
      <div class="custom-control custom-radio check-container">
        <input class="custom-control-input"
        type="radio"
        name="flexRadioDefault"
        id="endsAfterCheck"
        (change)="recurencyChecking('endsAfter')"
        [checked]="f.recurrency.value == 'endsAfter'">
        <label class="custom-control-label ovj-text-xs pt-1">
          Después de
        </label>
      </div>
    </div>
    <div class="col-7">
      <div class="ovj-form">
        <label class="ovj-label ovj-text-sm">Repeticiones</label>
        <ng-select class="ovj-input"
          formControlName="endsAfter">
          <ng-option *ngFor="let repeat of repeatTimes" [value]="repeat">
            {{ repeat}}
          </ng-option>
        </ng-select>
        <div *ngIf="submitted && f.endsAfter.errors" class=""></div>
      </div>
    </div>
  </div>
</form>