@import 'variables';

.day-item {
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 25px;
  &.selected {
    color: $white;
    background-color: $color-042b63;
  }
}

.check-container {
  margin-bottom: 1.1rem;
}

.custom-radio {
  .custom-control-label {
    cursor: pointer;
  }
}