@import 'variables';

.img-container {
  text-align: center;
  width: 60px;
  i.icon {
    font-size: 48px;
  }
}

.btn-close {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 28px;
  justify-content: center;
  margin-top: -6px;
  width: 28px;
}

.notify-content {
  display: flex;
  flex-direction: column;
  .btn-undo {
    border: 1px solid $white;
    border-radius: 12px;
    cursor: pointer;
    padding: 0.2rem 0rem;
    width: 100px;
  }
  .btn-link-wrapper {
    display: flex;
    .btn-link {
      border: 1px solid $black;
      border-radius: 12px;
      color: $black;
      cursor: pointer;
      min-width: 100px;
      padding: 3px 6px;
      text-decoration: none;
    }
  }
}
