<div class="step-items-list">
  <ng-container *ngFor="let step of progressSteps; let i=index">
    <div *ngIf="i < totalSteps" 
      class="step-item"
      [ngClass]="{'selected': (i+1) === currentStep,
        'completed': lastCreatedStep > i}">
      <div class="number" *ngIf="ovjAdminMode">
        <p> {{ i+1 }} </p>
      </div>
      <div class="leyend">
        <p> {{ step.stepName }} </p>
      </div>
    </div>
  </ng-container>
</div>