<button type="button" class="close-modal-btn btn btn-default" (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="boxcar-shipment-assignment-banner">
  <p class="title"> Seleccionar un furgón </p>
</div>
<div class="container pt-3 pb-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-12">
      <form class="oviajamos-form m-0 p-0" autocomplete="off" [formGroup]="boxcarAssignmentGroup">
        <div class="row">
          <div class="col-12">
            <div class="ovj-form">
              <label class="ovj-label"> Departamento Destino temporal <span class="text-danger">*</span></label>
              <ng-select class="form-control ovj-select"
                formControlName="destinationDepartment"
                notFoundText="Sin coincidencias"
                [ngClass]="{'is-invalid': submitted && boxcarAssignmentForm.destinationDepartment.errors}">
                <ng-option *ngFor="let key of departmentEnumKeys" [value]="departmentEnum[key]">
                  {{ departmentEnum[key] }}
                </ng-option>
              </ng-select>
              <div class="invalid-feedback" *ngIf="boxcarAssignmentForm.destinationDepartment.errors?.required">Campo obligatorio</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="ovj-form d-none" [ngClass]="{'d-block': destinationDepartment}">
              <label class="ovj-label"> Oficina Destino temporal <span class="text-danger">*</span></label>
              <ng-select class="form-control ovj-select destination-office-filter"
                formControlName="destinationOfficeId"
                notFoundText="Sin coincidencias"
                [ngClass]="{'is-invalid': submitted && boxcarAssignmentForm.destinationOfficeId.errors}">
                <ng-option *ngFor="let office of destinationOffices" [value]="office.officeId">
                  {{ office.name }}
                </ng-option>
              </ng-select>
              <div class="invalid-feedback" *ngIf="boxcarAssignmentForm.destinationOfficeId.errors?.required">Campo obligatorio</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="ovj-form">
              <label class="ovj-label"> Matrícula <span class="text-danger">*</span></label>
              <ng-select class="form-control ovj-select bus-filter"
                formControlName="licensePlate"
                notFoundText="Sin coincidencias"
                [ngClass]="{'is-invalid': submitted && boxcarAssignmentForm.licensePlate.errors}">
                <ng-option *ngFor="let bus of buses" [value]="bus.busId">
                  {{ bus.licensePlate }}
                </ng-option>
              </ng-select>
              <div class="invalid-feedback" *ngIf="boxcarAssignmentForm.licensePlate.errors?.required">Campo obligatorio</div>
            </div>
          </div>
        </div>
      </form>
      <button class="btn btn-default ovj-btn orange w-100 mt-4"
        (click)="onSubmit()">
        Asignar carga
      </button>
    </div>
  </div>
</div>