<form class="border-light oviajamos-form mb-4" autocomplete="off" [formGroup]="busStopGroup">
  <div class="mb-form ovj-input-file">
    <div class="image-circle-container"
      [ngClass]="{'is-invalid': excededImageSize}">
      <img [src]="dafaultImage"
        class="view-photo"
        loading="lazy">
      <img class="camera-icon"
        src="assets/icons/camera-icon.svg"
        loading="lazy">
      <input type="file" accept=".png, .jpg, .jpeg" formControlName="imageUrl" (change)="setImage($event)">
    </div>
    <div *ngIf="excededImageSize">
      <span class="ovj-mesage-error">La imagen no debe exceder 2Mb</span>
    </div>
  </div>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información de Parada</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label ">Nombre de Parada<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="name"
          [ngClass]="{'is-invalid': submitted && busStopForm.name.errors}">
        <div class="invalid-feedback" *ngIf="busStopForm.name.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Dirección<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="address"
          [ngClass]="{'is-invalid': submitted && busStopForm.address.errors}">
        <div class="invalid-feedback" *ngIf="busStopForm.address.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Departamento<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="department"
          notFoundText="Sin coincidencias"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && busStopForm.department.errors}">
          <ng-option *ngFor="let key of departmentEnumKeys" [value]="departmentEnum[key]">
            {{ departmentEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="busStopForm.department.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
</form>