<form class="border-light oviajamos-form" autocomplete="disabled" [formGroup]="ticketHolderGroup">
  <div class="mb-form ovj-input-file">
    <div class="image-circle-container">
      <img [src]="dafaultImage"
        class="view-photo"
        loading="lazy">
      <img class="camera-icon"
        src="assets/icons/camera-icon.svg"
        loading="lazy">
      <input type="file" accept=".png, .jpg, .jpeg" formControlName="photo" (change)="setImage($event)">
    </div>
    <div *ngIf="submitted && f.photo.errors" class="">
      <span *ngIf="f.photo.errors.required" class="ovj-mesage-error">Imagen obligatoria  </span>
    </div>
  </div>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información de boletero</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Nombres<span class="text-danger">*</span></label>
        <input type="text" id="names" class="form-control ovj-input" formControlName="names">
        <div *ngIf="submitted && f.names.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Apellidos<span class="text-danger">*</span></label>
        <input type="text" id="secondName" class="form-control ovj-input" formControlName="secondNames">
        <div *ngIf="submitted && f.secondNames.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <input type="hidden"
        formControlName="docType">
      <div class="ovj-form ovj-select">
        <label class="ovj-label">Tipo de documento<span class="text-danger">*</span></label>
        <input type="text"
          id="docType"
          class="form-control ovj-input-select"
          readonly="true"
          [value]="docType[f.docType.value] || ''"
          (click)="showDocTypeSelect = !showDocTypeSelect; $event.stopPropagation();">
        <i class="icon icon-sort-arrow"></i>
        <div class="ovj-select-content ovj-text-primary shadow border"
          [ngClass]="{'show': showDocTypeSelect}">
          <a class="dropdown-item"
            *ngFor="let key of docTypeKeys"
            (click)="selectDocType(key); $event.stopPropagation();">
            {{docType[key]}}
          </a>
        </div>
        <div *ngIf="submitted && f.docType.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Número de documento<span class="text-danger">*</span></label>
        <input type="text" id="docNumber" class="form-control ovj-input" formControlName="docNumber">
        <div *ngIf="submitted && f.docNumber.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Celular<span class="text-danger">*</span></label>
        <input type="number" id="cellphone" class="form-control ovj-input" formControlName="cellphone"
          (keydown)="numberInputValidator($event)">
        <div *ngIf="submitted && f.cellphone.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Dirección<span class="text-danger">*</span></label>
        <input type="text" id="address" class="form-control ovj-input" formControlName="address">
        <div *ngIf="submitted && f.address.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Contraseña<span class="text-danger">*</span></label>
        <input type="password" id="password" class="form-control ovj-input" formControlName="password" autocomplete="new-password">
        <div *ngIf="submitted && f.password.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Confirmar contraseña<span class="text-danger">*</span></label>
        <input type="password" id="secondPassword" class="form-control ovj-input" formControlName="confirmPassword">
        <div *ngIf="submitted && f.confirmPassword.errors" class=""></div>
      </div>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
    <h5 class="ovj-text-primary m-0">Contactos de referencias</h5>
    <i class="icon icon-info ovj-btn-info pl-1"
      (click)="clickingInfo()">
    </i>
  </div>
  <form-auxiliar-contact *ngFor="let contactForm of contacts.controls; let i=index"
    [contactForm]="contactForm"
    [auxiliarContact]="(ticketHolder) ? ticketHolder.contacts[i] : undefined"
    [submitted]="submitted"
    [indexForm]="i"
    (removeContact)="removeContact($event)">
  </form-auxiliar-contact>
  <button class="btn ovj-btn-add-item border px-2 mb-3"
    (click)="addContact()">
      <div class="add-item-content d-flex align-items-center justify-content-center">
        <div class="rounded-circle">
          <i class="icon icon-plus"></i>
        </div>
        <p>Añadir un contacto de referencia</p>
      </div>
  </button>
</form>