<div class="row justify-content-between mt-3">
  <div class="col-lg-4 col-md-12 col-12">
    <div class="card-report total-sales card">
      <div class="card-header">
        <div class="ticket-separator"></div>
        <p class="pl-2"> Total Ventas físicas y en línea </p>
        <div class="ticket-feature"></div>
      </div>
      <div class="card-body">
        <div class="data-item">
          <p> N° de salidas </p>
          <p> {{ saleReports?.length }} </p>
        </div>
        <div class="data-item">
          <p> N° de pasajes vendidos </p>
          <p> {{ allTicketsSold }} </p>
        </div>
        <div class="data-item">
          <p> Total ventas (Bs) </p>
          <p> {{ globalTotalAmount.toFixed(2) }} </p>
        </div>
        <div class="data-item">
          <p> Ingreso empresa (Bs) </p>
          <p> {{ (globalTotalAmount - ovjOnlineCommission - ovjPhysicCommission).toFixed(2)}} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-12">
    <div class="row mt-lg-0 mt-md-3">
      <div class="col-lg-5 col-md-6 col-12 mt-md-0 mt-3 pr-md-2">
        <div class="card-report payment-comment card">
          <div class="icon-wrapper">
            <i class="icon icon-warning-signal"></i>
          </div>
          <div class="card-body">
            <div class="content">
              <p class="title"> Observación: </p>
              <p class="comment">
                El pago no ha sido concretado corregir la fecha de comprobante.
              </p>
            </div>
            <button class="pay-btn btn btn-default w-100">
              Pagar a servicio
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-12 mt-md-0 mt-3 pl-md-2">
        <div class="card-report ovj-commission card">
          <div class="card-body">
            <p class="title mb-3"> Comisión Total Oviajamos (Bs) </p>
            <div class="data-item total-commission">
              <div></div>
              <p> {{ (ovjOnlineCommission + ovjPhysicCommission).toFixed(2)}} </p>
            </div>
            <div class="date-to-pay mt-3 mb-3">
              <p> Fecha a pagar </p>
              <p> Los pagos se pagan cada primer día de cada mes </p>
            </div>
            <div class="data-item bank">
              <p> Banco: BNB </p>
              <div>
                <p> Norman Apellido </p>
                <p> 645695419846546 </p>
              </div>
            </div>
            <div class="account-status mt-3 mb-3">
              <p> Estado de cuenta </p>
              <p> Por pagar </p>
            </div>
            <button class="pay-btn btn btn-default w-100"
              (click)="monthlyPayment()">
              Pagar a servicio
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-lg-3 col-md-6 col-12 pr-md-2">
    <div class="card-report physical-sales card">
      <div class="card-header">
        <div class="px-3"></div>
        <p> Ventas físicas </p>
        <img src="assets/icons/sales-physical.svg" loading="lazy">
      </div>
      <div class="card-body">
        <div class="ticket-data-item sold-tickets">
          <div class="ticket-start-feature"><div class="feature"></div></div>
          <div class="ticket-content">
            <div>
              <p> Pasajes vendidos </p>
            </div>
            <div>
              <p> {{ allPhysicTicketsSold }} </p>
            </div>
          </div>
          <div class="ticket-end-feature"></div>
        </div>
        <div class="data-item total-sales">
          <p> Total Ventas </p>
          <div>
            <p> Bs. </p>
            <p> {{ globalPhysicTotalAmount.toFixed(2) }} </p>
          </div>
        </div>
        <div class="data-item ovj-commission" *ngIf="enterprise?.physicalSalesCommission">
          <p> Comisión {{ enterprise.physicalSalesCommission.value }} Bs Oviajamos </p>
          <div>
            <p> Bs. </p>
            <p> {{ ovjPhysicCommission.toFixed(2)}} </p>
          </div>
        </div>
        <div class="data-item company-incomes">
          <p> Ventas menos comisión </p>
          <div>
            <p> Bs. </p>
            <p> {{ (globalPhysicTotalAmount - ovjPhysicCommission).toFixed(2) }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="online-sales col-lg-3 col-md-6 col-12 mt-md-0 mt-3 px-lg-2 pl-md-2">
    <div class="card-report online-sales card">
      <div class="card-header">
        <div class="px-3"></div>
        <p> Ventas en línea </p>
        <img src="assets/icons/sales-online.svg" loading="lazy">
      </div>
      <div class="card-body">
        <div class="ticket-data-item sold-tickets">
          <div class="ticket-start-feature"><div class="feature"></div></div>
          <div class="ticket-content">
            <div>
              <p> Pasajes vendidos </p>
            </div>
            <div>
              <p> {{ allOnlineTicketsSold }} </p>
            </div>
          </div>
          <div class="ticket-end-feature"></div>
        </div>
        <div class="data-item total-sales">
          <p> Total Ventas </p>
          <div>
            <p> Bs. </p>
            <p> {{ globalOnlineTotalAmount.toFixed(2) }} </p>
          </div>
        </div>
        <div class="data-item ovj-commission" *ngIf="enterprise?.onlineSalesCommissions[0]">
          <p> Comisión {{ enterprise.onlineSalesCommissions[0].value }}% Oviajamos </p>
          <div>
            <p> Bs. </p>
            <p> {{ ovjOnlineCommission.toFixed(2)}} </p>
          </div>
        </div>
        <div class="data-item company-incomes">
          <p> Ventas menos comisión </p>
          <div>
            <p> Bs. </p>
            <p> {{ (globalOnlineTotalAmount - ovjOnlineCommission).toFixed(2) }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 mt-lg-0 mt-3 pl-lg-2">
    <div class="card-report sales-by-type card">
      <div class="card-header">
        <p> Ventas realizadas por tipo de venta </p>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="canvas-wrapper">
            <canvas #salesByTypeCanvas class="chart-canvas" height="200px" width="200px"></canvas>
            <div class="index-info">
              <div class="content">
                <p> {{ globalTotalAmount.toFixed(2) }} </p>
                <p> Total ventas </p>
              </div>
            </div>
          </div>
          <div class="chart-info">
            <div class="d-flex">
              <div class="info-circle"></div>
              <p> Ventas en punto de venta </p>
            </div>
            <div class="d-flex">
              <div class="info-circle"></div>
              <p> Ventas en línea </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3 mb-5">
  <div class="col-12">
    <div class="card-report sales-by-time card">
      <div class="card-header">
        <p> Ventas realizadas en el tiempo </p>
      </div>
      <div class="card-body">
        <div class="chart-info mb-2">
          <p> Bs </p>
          <div class="chart-item-info">
            <div class="d-flex">
              <img src="assets/icons/sales-physical.svg" loading="lazy">
              <p> Punto de venta </p>
            </div>
            <div class="d-flex">
              <img src="assets/icons/sales-online.svg" loading="lazy">
              <p> En línea </p>
            </div>
            <div class="d-flex">
              <div class="total-sales-icon"></div>
              <p> Total ventas </p>
            </div>
          </div>
        </div>
        <div class="canvas-wrapper">
          <canvas #salesByTimeCanvas class="chart-canvas" height="100%"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>