<button type="button" aria-label="Close"
  class="close-modal-btn btn btn-default"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="custom-card-info">
  <div class="selected-element content-item">
    <div class="principal">
      <p class="card-title pb-4"> Detalle vehículo </p>
      <img src="assets/images/unselected-bus.svg" loading="lazy" width="113px" height="113px">
      <div class="actions">
        <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteBus(bus)">
          Eliminar
        </button>
        <button class="ovj-btn btn btn-default orange" (click)="editBus(bus)">
          Editar
        </button>
      </div>
    </div>
    <div class="detail mt-4">
      <div class="sub-title my-4">
        <p> Información de vehículo </p>
      </div>
      <div class="custom-row">
        <div class="sub-row">
          <p> Tipo móvil </p>
          <p> Matrícula/Placa </p>
        </div>
        <div class="sub-row">
          <p> {{ bus.type }} </p>
          <p> {{ bus.licensePlate }} </p>
        </div>
      </div>
      <div class="custom-row">
        <div class="sub-row">
          <p> Asientos </p>
          <p> Estado </p>
        </div>
        <div class="sub-row">
          <p> {{ bus.seatingScheme.totalSeats }} </p>
          <p [ngClass]="{'text-success': bus.status === busStatusEnum.ACTIVE}"> {{ bus.status }} </p>
        </div>
      </div>
      <div class="sub-title my-4">
        <p> Información de propietario </p>
      </div>
      <div class="item-info">
        <p> Nombre y Apellido </p>
        <p> {{ bus.busPropietary.name }} {{ bus.busPropietary.lastName }} </p>
      </div>
      <div class="item-info">
        <p> Celular </p>
        <p> {{ bus.busPropietary.phone }} </p>
      </div>
    </div>
    <div class="mobile-actions">
      <button type="button" class="btn btn-default ovj-btn danger-bordered" (click)="deleteBus(bus)">
        Eliminar
      </button>
      <div class="divider actions"></div>
      <button type="button" class="btn btn-default ovj-btn success-bordered" (click)="editBus(bus)">
        Editar
      </button>
      <button type="button" class="btn btn-default ovj-btn light-blue-bordered" (click)="showDetail()">
        Ver fotografia
      </button>
      <button type="button" class="btn btn-default ovj-btn light-blue-bordered" (click)="showTemplate()">
        Ver plantilla
      </button>
      
      <button type="button" class="btn btn-default ovj-btn orange" (click)="action.next(false)">
        Cerrar
      </button>
    </div>
    <div class="lg-mobile-actions">
      <button type="button" class="btn btn-default ovj-btn light-blue-bordered" (click)="showDetail()">
        Ver fotos del bus
      </button>
      <button type="button" class="btn btn-default ovj-btn light-blue-bordered" (click)="showTemplate()">
        Ver plantilla
      </button>
    </div>
  </div>
</div>