@import 'variables';

.ovj-form {
  .ovj-label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  ng-select {
    padding: 0 !important;
    ::ng-deep {
      margin-top: -11px;
      .ng-select-container {
        height: 100%;
      }
      .ovj-input {
        border-bottom: none !important;
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
        padding: 0 !important;
      }
      .ng-value-container {
        padding: 0;
        .ng-value { 
          position: absolute;
          top: 9px !important;
        }
      }
      .ng-arrow-wrapper {
        display: none;
      }
      .ng-dropdown-panel {
        width: 500px;
        .select-item {
          display: flex;
          p {
            &:first-child {
              width: 35%;
            }
            &:last-child {
              width: 65%;
            }
          }
        }
      }
      .ng-spinner-loader {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .ovj-form {
    ng-select {
      ::ng-deep {
        .ng-value-container {
          .ng-value { 
            top: 6px !important;
          }
        }
        .ng-dropdown-panel {
          width: 100%;
        }
        .select-item {
          display: flex;
          flex-direction: column;
          p {
            &:first-child {
              width: 100%;
            }
            &:last-child {
              width: 100%;
            }
          }
        }
      }
    }
  }
}