<div class="ovj-form" [formGroup]="personGroup" #selectForm>
  <label class="ovj-label ng-select-label"
    *ngIf="withLabel">
    CI<span class="text-danger">*</span>
  </label>
  <ng-select class="ovj-input documentNumberSelect"
    [id]="'documentNumberSelect'+index"
    type="number"
    formControlName="documentNumber"
    [labelForId]="'passengerDoc'+index"
    [items]="persons"
    [loading]="loading"
    loadingText="Cargando..."
    bindValue="documentNumber"
    bindLabel="documentNumber"
    notFoundText="Sin coincidencias"
    (blur)="loading = false; clearInput()"
    (search)="documentNumberOnChanges($event)"
    (change)="setPassengerData($event)"
    (focus)="setValueOnInput()"
    autofocus
    #documentNumberSelect>
    <ng-template ng-option-tmp
      let-item="item"
      let-index="index">
      <div class="select-item">
        <p class="mb-0"> {{ item.documentNumber }} </p>
        <p class="mb-0"> {{ item.name }} </p>
      </div>
    </ng-template>
  </ng-select>
</div>