<app-ticket-purchase-dropdown></app-ticket-purchase-dropdown>
<app-spinner [ngClass]="{'d-none': !ticketPurchaseService.loading}"></app-spinner>
<div [ngClass]="{'with-search-travel': step === 1,
  'd-none': ticketPurchaseService.loading}">
  <div class="mt-3" [ngClass]="{'d-none': !(filteredDepartures.length === 0 && step === 1)}">
    <app-not-found></app-not-found>
  </div>
  <div class="steper-content" [ngClass]="{'d-none': !(filteredDepartures.length > 0 || step > 1)}">
    <app-purchase-progress></app-purchase-progress>
    <router-outlet></router-outlet>
  </div>
</div>