@import 'variables';

.card {
  .template-form-wrapper {
    margin-bottom: 4rem;
  }
  .form-actions-container {
    display:flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: $break-medium) {
  .card {
    flex-direction: column;
    .template-form-wrapper {
      margin-bottom: 25px;
      width: 100%;
    }
    .form-actions-container {
      padding: 0 30px;
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
}