<section class="page-error-container element text-right">
	<div class=" container ">
		<div class="row abs-center">
			<div class="col-md-6 col-6 div1 ">
				<p class="font-404">Uy! No encontramos</p>
				<p class="font-404">la página.</p>
				<p class="font-404-small">Error 404</p>
				<button class="btn ovj-btn-orange" type="submit" (click)="redirection()">{{buttonText()}}</button>
			</div>
			<div class="col-md-6 col-6 div2 mt-2">
				<img src="assets/images/error.svg"
					align="left"
					loading="lazy">
			</div>
		</div>
	</div>
</section>
<app-admin-footer></app-admin-footer>
