<form class="col-lg mt-4 px-0" autocomplete="off" [formGroup]="onlineCommissionGroup">
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Tipo de operación <span class="text-danger">*</span></label>
        <ng-select class="ovj-input"
          formControlName="type">
          <ng-option *ngFor="let key of commissionTypeEnumKeys" [value]="commissionTypeEnum[key]">
            {{ commissionTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <div *ngIf="submitted && onlineCommissionForm.type.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Valor<span class="text-danger">*</span></label>
        <input type="number" id="onlineCommisionValue" class="form-control ovj-input" formControlName="value"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <div *ngIf="submitted && onlineCommissionForm.value.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Tipo de comisión<span class="text-danger">*</span></label>
        <ng-select class="ovj-input"
          formControlName="operationType">
          <ng-option *ngFor="let key of commissionOperationTypeEnumKeys" [value]="commissionOperationTypeEnum[key]">
            {{ commissionOperationTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <div *ngIf="submitted && onlineCommissionForm.operationType.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Cantidad objetivo</label>
        <input type="number" id="targetAmount" class="form-control ovj-input" formControlName="targetAmount"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <div *ngIf="submitted && onlineCommissionForm.targetAmount.errors" class=""></div>
      </div>
    </div>
  </div>
</form>