@import 'variables';

.lashes-container {
  margin-bottom: -3px;
  .departure-lash-container {
    padding: 0 0.2rem;
    &:first-child {
      padding-left: 0;
      padding-right: 0.2rem;
    }
    &:last-child {
      padding-left: 0.2rem;
      padding-right: 0;
    }
    .daparture-lash {
      background-color: $color-f5f5f5;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: $color-666666;
      cursor: pointer;
      font-size: 0.85rem;
      min-height: 40px;
      padding: 0 0.5rem;
      &.selected {
        background-color: $white;
        color: $color-042b63;
        cursor: default;
      }
      img {
        width: 20px;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .page-container {
    padding-top: 38px;
    .card {
      min-height: 70vh !important;
      img {
        width: 80%;
      }
    }
  }
}
