<form class="oviajamos-form m-0 p-0" autocomplete="off" [formGroup]="senderGroup">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> CI <span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="documentNumber"
          [ngClass]="{'is-invalid': submitted && senderForm.documentNumber.errors}"
          (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="senderForm.documentNumber.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="senderForm.documentNumber.errors?.pattern">4 a 12 caracteres</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Nombre de emisor <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="name"
          [ngClass]="{'is-invalid': submitted && senderForm.name.errors}">
        <div class="invalid-feedback" *ngIf="senderForm.name.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="senderForm.name.errors?.minlength">Mínimo de 4 caracteres</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Celular </label>
        <input type="number" class="form-control ovj-input" formControlName="phone"
          [ngClass]="{'is-invalid': submitted && senderForm.phone.errors}"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="senderForm.phone.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="senderForm.phone.errors?.pattern">4 a 12 caracteres</div>
      </div>
    </div>
  </div>
</form>