<button type="button" class="close-modal-btn btn btn-default" (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="shipment-assignment-banner">
  <p class="title"> Cargar a bus </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-departure-sales-filter [withoutTime]="true"
        (filterDeparturesEvent)="filterDeparturesEvent($event)">
      </app-departure-sales-filter>
    </div>    
  </div>
  <div class="row">
    <div class="col-12">
      <div class="custom-table-responsive">
        <app-shipment-assignment-table [departures]="departures"
          [modifying]="modifying"
          [loadingDepartures]="loadingDepartures"
          [initialized]="initialized"
          (selectDepartureEvent)="selectDeparture($event)"
          (setStatusEvent)="setStatus($event)">
        </app-shipment-assignment-table>
      </div>
    </div>
  </div>
</div>