.ovj-banner {
  img {
    margin-top: -3px;
  }
}

.ovj-tr {
  cursor: default !important;
}

.pagination {
  display: flex;
  justify-content: center;
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 40vh;
    }
  }
}