<section>
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex" src="assets/images/ovj-admin-bus-stop-banner.png" loading="lazy">
        <p class="title text-light m-0">Paradas</p>
      </div>
    </div>
    <button class="btn ovj-btn-add-item light border px-2 mt-3" (click)="addBusStop(true)">
      <div class="add-item-content ovj-admin d-flex align-items-center">
        <div class="rounded-circle">
          <i class="icon icon-plus"></i>
        </div>
        <p>Añadir Paradas</p>
      </div>
    </button>
    <div class="row">
      <div class="col-12">
        <app-spinner-small *ngIf="loadingBusStops"></app-spinner-small>
        <table class="ovj-desktop-table table-responsive-lg" *ngIf="!loadingBusStops">
          <thead>
          <tr>
            <th *ngFor="let col of colsTable; let index=index" (click)="orderTableBy(index)">
              <img src="assets/icons/order-arrow-down-enabled.svg"
              *ngIf="col.orderBy"
              loading="lazy">
              <img src="assets/icons/order-arrow-down-disabled.svg"
              *ngIf="!col.orderBy"
              loading="lazy">
              <i [class]="'icon icon-' + col.extraImg"></i> {{ col.name }}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let index=index; let bStop of bStops">
            <tr class="ovj-tr btn border shadow-sm">
              <td>
                <div class="d-flex align-items-center">
                  <img  
                  *ngIf="bStop.imageUrl !== null"
                  class="td-image rounded-circle"
                  [src]="bStop.imageUrl"
                  loading="lazy">
                  <img *ngIf="bStop.imageUrl === null"
                    class="td-image rounded-circle"
                    src="assets/images/bus.svg"
                  >
                  <p class="ovj-text-primary">{{bStop.name}}</p>
                </div>
              </td>
              <td>
                <p class="text-muted">{{bStop.department}}</p>
              </td>
              <td>
                <p class="text-muted">{{bStop.address}}</p>
              </td>
              <td>
                <div ngbDropdown
                  class="d-flex align-items-center justify-content-end"
                  *ngIf="!modifying.includes(bStop.busStopId)">
                  <button ngbDropdownToggle
                    type="button"
                    class="ovj-btn-circle options-btn btn btn-default">
                    <div class="rounded-circle d-flex justify-content-center align-items-center">
                      <i class="icon icon-options"></i>
                    </div>
                  </button>
                  <div ngbDropdownMenu
                    class="dropdown-menu-right">
                    <a ngbDropdownItem (click)="editBusStop(bStop)"> Editar </a>
                    <a ngbDropdownItem (click)="deleteBusStop(bStop)"> Eliminar </a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="ovj-tr-detail rounded shadow-sm border"></div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination">
    <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
      [page]="paginationMeta?.currentPage"
      [boundaryLinks]="true"
      (pageChange)="pageChange($event)">
    </ngb-pagination>
  </div>
</section>
