<form class="oviajamos-client-form container px-0 py-1" autocomplete="off" [formGroup]="cardDataGroup">
  <div class="row">
    <div class="col-12">
      <div class="ovj-form">
        <label class="ovj-label">Nombre del titular</label>
        <input type="text" id="cardpropietary" class="form-control ovj-input with-icon" formControlName="cardpropietary">
        <i class="icon icon-person"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Datos de la tarjeta </label>
        <input type="number" id="cardNumber" class="form-control ovj-input with-icon" formControlName="cardNumber"
          (keydown)="numberInputValidator($event)">
        <i class="icon icon-credit-card"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <p class="text-primary font-weight-bold mt-1 ml-1"> Fecha de vencmiento </p>
    </div>
    <div class="col-5">
      <p class="text-primary font-weight-bold mt-1 ml-1"> CVC </p>
    </div>
  </div>
  <div class="row">
    <div class="col-7 pr-0">
      <div class="expireDate">
        <div class="month">
          <div class="ovj-form">
            <label class="ovj-label"> Mes </label>
            <input type="number" id="expireMonth" class="form-control ovj-input" formControlName="expireMonth"
              (keydown)="numberInputValidator($event)">
          </div>
        </div>
        <div class="year">
          <div class="ovj-form">
            <label class="ovj-label"> Año </label>
            <input type="number" id="expireYear" class="form-control ovj-input" formControlName="expireYear"
              (keydown)="numberInputValidator($event)">
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 pl-2">
      <div class="ovj-form">
        <label class="ovj-label"> Código de seg. </label>
        <input type="number" id="cvc" class="form-control ovj-input" formControlName="cvc"
          (keydown)="numberInputValidator($event)">
      </div>
    </div>
  </div>
</form>