@import 'variables';

.oviajamos-client-form {
  p {
    margin: 0;
  }
  .text-primary {
    color: $color-1763d1 !important;
  }
  .ovj-form {
    margin: 0.5rem 0 !important;
  }
  .expireDate {
    display: flex;
    justify-content: space-between;
    .month {
      width: 48%;
    }
    .year {
      width: 48%;
    }
  }
}