<form class="col-lg mt-4 px-0" autocomplete="off" [formGroup]="legalOrganizerGroup">
  <div class="text-center mb-2">
    <h5 class="ovj-form-title">Información del responsable legal</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Nombre del responsable legal<span class="text-danger">*</span></label>
        <input type="text" id="fullName" class="form-control ovj-input" formControlName="name">
        <div *ngIf="submitted && legalOrganizerForm.name.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Tipo de documento<span class="text-danger">*</span></label>
        <ng-select class="ovj-input"
          labelForId="documentType"
          formControlName="documentType">
          <ng-option *ngFor="let key of documentTypeEnumKeys" [value]="documentTypeEnum[key]">
            {{ documentTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <div *ngIf="submitted && legalOrganizerForm.documentType.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Número del documento<span class="text-danger">*</span></label>
        <input type="text" id="documentNumber" class="form-control ovj-input" formControlName="documentNumber">
        <div *ngIf="submitted && legalOrganizerForm.documentNumber.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Celular<span class="text-danger">*</span></label>
        <input type="number" id="phoneNumber" class="form-control ovj-input" formControlName="phoneNumber"
          (keydown)="numberInputValidator($event)">
        <div *ngIf="submitted && legalOrganizerForm.phoneNumber.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Dirección<span class="text-danger">*</span></label>
        <input type="text" id="address" class="form-control ovj-input" formControlName="address">
        <div *ngIf="submitted && legalOrganizerForm.address.errors" class=""></div>
      </div>
    </div>
  </div>
</form>