@import 'variables';

.banks {
  p {
    margin-bottom: 0;
    font-style: normal;
  }
  .header {
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .title {
      p {
        color: $color-042b63;
        font-size: 36px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .add-button {
      display: flex;
      justify-content: flex-end;
      .btn {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: 225px;
        i.icon {
          font-size: 18px;
          font-weight: bolder;
          margin-right: 10px;
          &::before {
            color: $white;
          }
        }
      }
    }
  }
  .content {
    margin-top: 12px;
    margin-bottom: 30px;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .ovj-custom-table {
      thead {
        th {
          &:nth-child(3) {
            width: 120px;
          }
        }
      }
    }
    .custom-card-info {
      .selected-element {
        .detail {}
      }
    }
  }
  .mobile-items-table {
    display: none;
    .header {
      .header-element {
        &:first-child {
          width: 75%;
        }
        &:last-child {
          width: 25%;
        }
      }
    }
    .card-item {
      background-color: $white;
      border-radius: 10px;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      margin-bottom: 3px;
      padding: 15px 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .item {
        margin-bottom: 0;
        .bank {
          align-items: center;
          display: flex;
          width: 75%;
          p {
            &:first-child {
              color: $color-92949C;
              font-size: 12px;
              font-weight: 300;
              line-height: 16px;
              margin-right: 2px;
            }
            &:last-child {
              color: $color-042b63;
              font-size: 18px;
              font-weight: normal;
              line-height: 23px;
            }
          }
        }
        .estimation {
          width: 25%;
          p {
            color: $color-042b63;
            font-weight: 300;
            font-size: 18px;
            line-height: 23px;
          }
        }
      }
    }
  }
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 30vh;
      margin-bottom: 15vh;
    }
  }
}

@media screen and (max-width: $break-large) {
  .banks {
    .header {
      .title {
        p {
          color: $color-3c64b1;
          font-size: 36px;
          font-weight: 500;
          line-height: 24px;
        }
      }
      .add-button {
        display: none;
      }
    }
    .content {
      display: none;
    }
    .mobile-items-table {
      display: flex;
    }
  }
}