<section class="banks">
  <div class="container">
    <div class="header row">
      <div class="title col-3">
        <p> Bancos </p>
      </div>
      <div class="add-button col-3">
        <button type="button" class="ovj-btn orange btn btn-default"
          (click)="addBank()">
          <i class="icon icon-plus"></i>
          <p> Añadir banco </p>
        </button>
      </div>
    </div>
    <div class="content row">
      <div class="col-7">
        <div class="ovj-custom-table">
          <table>
            <thead>
              <tr>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Nombre </p>
                </div> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loadingBanks">
                <td colspan="3">
                  <app-spinner-small></app-spinner-small>
                </td>
              </tr>
              <ng-container *ngIf="!loadingBanks">
                <tr *ngFor="let bank of banks; let i=index; let first=first"
                  [ngClass]="{'selected': bank.bankId === selectedBank?.bankId}"
                  (click)="selectBank(bank)">
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> {{ bank.name }} </p>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="paginator">
            <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
              [page]="paginationMeta?.currentPage"
              [boundaryLinks]="true"
              (pageChange)="pageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="custom-card-info">
          <div class="unselected-element header-item" *ngIf="!selectedBank">
            <img src="assets/images/unselected-route.svg" loading="lazy">
            <p> Seleccione un banco para visualizarlo </p>
          </div>
          <div class="selected-element content-item" *ngIf="selectedBank">
            <div class="principal">
              <div class="item-icon">
                <i class="icon icon-cash item-img"></i>
              </div>
              <p class="item-label"> {{ selectedBank.name }} </p>
              <div class="actions">
                <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteBank(selectedBank)">
                  Eliminar
                </button>
                <button class="ovj-btn-orange-2 btn btn-default" (click)="editBank(selectedBank)">
                  Editar
                </button>
              </div>
            </div>
            <div class="divider" *ngIf="false"></div>
            <div class="detail" *ngIf="false">
              <p class="title"> Detalle banco </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-items-table row">
      <div class="col-12">
        <div class="header">
          <div class="header-element">
            <p> Nombre </p>
          </div>
        </div>
        <div class="card-item" *ngIf="loadingBanks">
          <app-spinner-small></app-spinner-small>
        </div>
        <ng-container *ngIf="!loadingBanks">
          <div class="card-item" *ngFor="let bank of banks; let i=index; let first=first"
            (click)="showDetail(bank)">
            <div class="item">
              <div class="bank">
                <p> {{ bank.name }} </p>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="paginator">
          <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
            [page]="paginationMeta?.currentPage"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="mobile-floating-btn ovj-btn-circle options-btn btn btn-default"
    (click)="addBank()">
    <i class="icon icon-plus-2"></i>
  </button>
</section>