@import 'variables';

.oviajamos-form {
  .custom-row {
    display: flex;
    .custom-col {
      display: flex;
      width: 50%;
      .ovj-form {
        margin-right: 10px !important;
        width: 48%;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .oviajamos-form {
    .custom-row {
      flex-direction: column;
      .custom-col {
        width: 100%;
        .ovj-form {
          margin-right: 30px !important;
          &:last-child {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .oviajamos-form {
    .custom-row {
      .custom-col {
        flex-direction: column;
        .ovj-form {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}