<form class="oviajamos-form m-0 p-0" autocomplete="off" [formGroup]="shipmentGroup">
  <div class="custom-row">
    <div class="custom-col">
      <div class="ovj-form">
        <label class="ovj-label"> Departamento Origen <span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select office-filter"
          formControlName="source"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && shipmentForm.source.errors}">
          <ng-option *ngFor="let key of departmentEnumKeys" [value]="departmentEnum[key]">
            {{ departmentEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="shipmentForm.source.errors?.required">Campo obligatorio</div>
      </div>
      <div class="ovj-form d-none" [ngClass]="{'d-block': sourceDepartment}">
        <label class="ovj-label"> Oficina Origen <span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select source-office-filter"
          formControlName="originOfficeId"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && shipmentForm.originOfficeId.errors}">
          <ng-option *ngFor="let office of sourceOffices" [value]="office.officeId">
            {{ office.name }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="shipmentForm.originOfficeId.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="custom-col">
      <div class="ovj-form">
        <label class="ovj-label"> Departamento Destino <span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select office-filter"
          formControlName="destination"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && shipmentForm.destination.errors}">
          <ng-option *ngFor="let key of departmentEnumKeys" [value]="departmentEnum[key]">
            {{ departmentEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="shipmentForm.destination.errors?.required">Campo obligatorio</div>
      </div>
      <div class="ovj-form d-none" [ngClass]="{'d-block': destinationDepartment}">
        <label class="ovj-label"> Oficina Destino <span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select destination-office-filter"
          formControlName="destinationOfficeId"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && shipmentForm.destinationOfficeId.errors}">
          <ng-option *ngFor="let office of destinationOffices" [value]="office.officeId">
            {{ office.name }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="shipmentForm.destinationOfficeId.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
</form>