@import 'variables';

.payment-card {
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%) !important;
  p, h6 {
    margin: 0;
  }
  .card-header {
    background-color: $white;
    border-bottom: 2px solid $ovj-secondary;
    border-top-left-radius: 6px;
    margin: 0 ;
    padding: 1rem 5.25rem 0.5rem 5.25rem;
    justify-content: center !important;
    h6 {
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 30px;
    }
    span {
      font-size: initial;
      font-weight: bold;
    }
  }
  .card-body {
    padding: 1.25rem 0;
    .passenger-info {
      display: flex;
      flex-direction: row;
      padding: 0 2.25rem;
      .client {
        width: 63%;
      }
      .document-number {
        width: 37%;
      }
    }
    .travel-info-3 {
      display: block;
      margin-top: 0 !important;
      padding: 0 2.25rem;
      .info-row {
        display: flex;
        .go {
          width: 37%;
        }
        .time {
          width: 26%;
          i.icon {
            color: $color-ff6022;
            font-size: 20px;
          }
        }
        .back {
          width: 37%;
        }
      }
    }
    .line-divider {
      background-color: $ovj-secondary !important;
      margin: 0.65rem 0;
    }
    .seats-info {
      padding: 0 2.25rem;
      .info-row {
        display: flex;
        margin-top: 0.25rem;
        .seat {
          width: 35%;
        }
        .passenger {
          width: 75%;
        }
      }
    }
    .price-info {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-left: 1.5rem;
      .back-to-home {
        cursor: pointer;
        margin-bottom: 1px;
        text-decoration: underline;
      }
    }
  }
  .suggestion-message {
    background-color: $color-fff3cd;
    border-bottom-left-radius: 6px;
    font-size: 0.9rem;
    padding: 0 1rem;
  }
  .blue-square{
    background-color: $color-1763d1;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    .text-qr {
      color: $white;
    }
  }
  .donwload-ticket-mobile {
    .btn {
      width: 90%;
    }
    p {
      text-decoration: underline;
    }
  }
}

app-spinner {
  ::ng-deep {
    .spinner-container {
      min-height: 60vh;
    }
  }
}

@media screen and (max-width: $break-small) {
  .payment-card {
    font-size: 0.9rem;
    .text-large {
      font-size: initial;
    }
    .card-header {
      border-top-right-radius: 6px;
    }
    .card-body {
      .travel-info-3 {
        display: block;
        .info-row {
          display: flex;
        }
      }
      .price-info {
        font-size: 16px;
        justify-content: flex-end;
        .back-to-home {
          display: none;
        }
      }
    }
    .payment-data-btn {
      border-radius: 10px;
      width: 240px;
      height: 40px;
      left: 816px;
      top: 634px;
    }
    .suggestion-message {
      border-radius: none;
      font-size: 0.8rem;
    }
    .blue-square{
      border-radius: 0;
    }
  }
}