<div class="custom-table-responsive">
  <table class="warehouse-packages-table">
    <thead>
      <tr>
        <th> GUÍA </th>
        <th> Paquetes </th>
        <th> Departamento destino </th>
        <th> Oficina destino </th>
        <th> Total Bs. </th>
        <th>
          <input type="checkbox" class="header-package-checkbox"
            (click)="$event.stopPropagation()"
            (change)="checkAll($event)">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="shipment-row" *ngFor="let shipment of shipments"
        [ngClass]="{'selected': selectedShipment?.shippingId === shipment.shippingId}"
        (click)="selectShipment(shipment)">
        <td> {{ shipment.shippingId }} </td>
        <td> {{ getTotalPackages(shipment) }} </td>
        <td> {{ shipment.destinationOffice.department }} </td>
        <td> {{ shipment.destinationOffice.name }} </td>
        <td> {{ shipment.totalPrice }} </td>
        <td>
          <input type="checkbox" class="package-checkbox"
            (click)="$event.stopPropagation()"
            (change)="checkShipment($event, shipment)">
        </td>
      </tr>
    </tbody>
  </table>
</div>