@import 'variables';

table.warehouse-packages-table {
  width: 100%;
  th, td {
    font-style: normal;
    padding: 10px;
  }
  thead {
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    tr {
      border-radius: 3px;
      th {
        background-color: $white;
        border-bottom: 1px solid #cecece;
        color: $color-666666;
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
        padding: 8px 10px;
        &:first-child {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        &:last-child {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
  tbody {
    tr {
      border-radius: 3px;
      border: none;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.242);
      td {
        background: $color-f4f5f8;
        border-bottom: 1px solid #cecece;
        color: $color-666666;
        font-size: 12px;
        font-weight: normal;
        line-height: 24px;
        text-transform: uppercase;
        &:first-child {
          border-top-left-radius: 3px !important;
          border-bottom-left-radius: 3px !important;
          font-weight: 700;
        }
        &:nth-child(2) {
          font-weight: 700;
          text-align: left;
          width: 80px;
        }
        &:nth-child(5) {
          text-align: left;
          width: 80px;
        }
        &:last-child {
          border-top-right-radius: 3px !important;
          border-bottom-right-radius: 4px !important;
        }
      }
      &.shipment-row {
        cursor: pointer;
        &.selected {
          td {
            background-color: $color-dce9fb;
          }
        }
      }
    }
  }
  .package-checkbox, .header-package-checkbox {
    cursor: pointer;
    transform: scale(1.7);
  }
}