<section>
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/perfil-banner.png"
          loading="lazy">
        <p class="title text-light m-0">Perfil</p>
      </div>
    </div>
    <button class="btn ovj-btn-add-item light border px-2 mt-3" (click)="addBusStop(true)">
      <div class="add-item-content ovj-admin d-flex align-items-center">
        <div class="rounded-circle">
          <i class="icon icon-plus"></i>
        </div>
        <p>Añadir Perfiles</p>
      </div>
    </button>
    <div class="row">
      <div class="col-12">
        <app-spinner-small *ngIf="loadingBusStops"></app-spinner-small>
        <table class="ovj-desktop-table table-responsive-lg" *ngIf="!loadingBusStops">
          <thead>
          <tr>
            <th *ngFor="let col of colsTable; let index=index" (click)="orderTableBy(index)">
              <img src="assets/icons/order-arrow-down-enabled.svg"
                *ngIf="col.orderBy"
                loading="lazy">
              <img src="assets/icons/order-arrow-down-disabled.svg"
                *ngIf="!col.orderBy"
                loading="lazy">
              <img [src]="col.extraImg"
                *ngIf="col.extraImg"
                loading="lazy">
                {{col.name}}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let index=index; let bStop of bStops">
            <tr class="ovj-tr btn border shadow-sm">
              <td>
                <div class="d-flex align-items-center">
                  <img class="td-image rounded-circle"
                    [src]="bStop.imageUrl"
                    loading="lazy">
                  <p class="ovj-text-primary">{{bStop.name}}</p>
                </div>
              </td>
              <td>
                <p class="text-muted">{{bStop.address}}</p>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-end" *ngIf="!modifying.includes(bStop.busStopId)">
                  <div class="btn-group" ngbDropdown>
                    <button ngbDropdownToggle
                      type="button"
                      class="ovj-btn-circle options-btn btn btn-default">
                      <i class="icon icon-options"></i>
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                      <a ngbDropdownItem (click)="editBusStop(bStop)"> Editar </a>
                      <a ngbDropdownItem (click)="deleteBusStop(bStop)"> Eliminar </a>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-center pr-2" *ngIf="modifying.includes(bStop.busStopId)">
                  <div class="spinner-border spinner-btn ovj-primary-spinner" role="status"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="ovj-tr-detail rounded shadow-sm border"></div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination">
  </div>
</section>
