<form autocomplete="off" [formGroup]="userGroup">
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información del Administrador</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Nombres<span class="text-danger">*</span></label>
        <input type="text" id="userName" class="form-control ovj-input" formControlName="name">
        <div *ngIf="submitted && userForm.name.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Apellidos<span class="text-danger">*</span></label>
        <input type="text" id="lastName" class="form-control ovj-input" formControlName="lastName">
        <div *ngIf="submitted && userForm.lastName.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Celular<span class="text-danger">*</span></label>
        <input type="number" id="phone" class="form-control ovj-input" formControlName="phone"
          (keydown)="numberInputValidator($event)">
        <div *ngIf="submitted && userForm.phone.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Correo Electrónico<span class="text-danger">*</span></label>
        <input type="email" id="email" class="form-control ovj-input" formControlName="email">
        <div *ngIf="submitted && userForm.email.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Contraseña<span class="text-danger">*</span></label>
        <input type="password" id="password" class="form-control ovj-input" formControlName="password" autocomplete="new-password">
        <div *ngIf="submitted && userForm.password.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Confirmar contraseña<span class="text-danger">*</span></label>
        <input type="password" id="confirmPassword" class="form-control ovj-input" formControlName="confirmPassword">
        <div *ngIf="submitted && userForm.confirmPassword.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</form>