<form class="oviajamos-form m-0 p-0" autocomplete="off" [formGroup]="shipmentGroup">
  <div class="sender-remitent">
    <div class="custom-card">
      <p class="card-title"> REMITENTE (envía) </p>
      <app-sender-form [senderFormGroup]="senderGroup"
        [submitted]="submitted">
      </app-sender-form>
    </div>
    <div class="custom-card">
      <p class="card-title"> CONSIGNATARIO (recoge) </p>
      <app-receiver-form [receiverFormGroup]="receiverGroup"
        [submitted]="submitted">
      </app-receiver-form>
    </div>
  </div>
  <div class="assignment-data mt-3">
    <div class="custom-card w-100">
      <p class="card-title"> DATOS DE ENVÍO </p>
      <app-assignment-data-form [enterprise]="enterprise"
        [shipmentFormGroup]="shipmentGroup"
        [submitted]="submitted">
      </app-assignment-data-form>
    </div>
  </div>
  <div class="assignment-detail mt-3">
    <div class="custom-card w-100">
      <p class="card-title"> DETALLE </p>
      <app-assignment-detail [shipmentFormGroup]="shipmentGroup"
        [submitted]="submitted">
      </app-assignment-detail>
    </div>
  </div>
</form>