@import 'variables';

.sender-remitent {
  display: flex;
}
.custom-card {
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  padding: 18px 15px;
  width: 50%;
  &:first-child {
    margin-right: 10px;
  }
  .card-title {
    color: $color-042b63;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 3px;
  }
}
::ng-deep {
  form {
    .ovj-form {
      label {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .sender-remitent {
    flex-direction: column;
    .custom-card {
      width: 100%;
      &:first-child {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}