<div class="seating-schema-wrapper">
  <div class="bus-actions">
    <button class="btn ovj-btn-blue-2" type="button"
      (click)="showBusDetail()">
      Ver Bus
    </button>
    <button class="btn ovj-btn-blue-2 ml-2" type="button"
     (click)="printManifest()">
      Manifiesto
    </button>
  </div>
  <div class="bus-wrapper">
    <div class="bus-floor" *ngFor="let floor of seatingScheme?.floors; let i=index; trackBy: trackByFn"
      [ngClass]="{'first-floor': i === 0}">
      <div class="bus-row" *ngFor="let row of floor; let i=index; trackBy: trackByFn">
        <div class="bus-column" *ngFor="let column of row; let i=index; trackBy: trackByFn">
          <ng-container [ngSwitch]="column">
            <ng-container *ngSwitchCase="'d'">
              <img class="rounded-circle"
                [src]="departure.driver.user.imageUrl"
                *ngIf="departure.driver.user.imageUrl"
                loading="lazy">
              <i class="icon icon-wheel driver-img"
                *ngIf="!departure.driver.user.imageUrl">
              </i>
            </ng-container>
            <img src="assets/icons/bus/template/tv.svg"
              *ngSwitchCase="'t'"
              loading="lazy">
            <img src="assets/icons/bus/template/steps.svg"
              *ngSwitchCase="'s'"
              loading="lazy">
            <img src="assets/icons/bus/template/hall-light.svg"
              *ngSwitchCase="'e'"
              loading="lazy">
            <div class="seat" *ngSwitchDefault (click)="selectSeat(column)"
              [ngClass]="{'invalid-date': !validDate}">
              <ng-container [ngSwitch]="checkSeatStatus(column)" *ngIf="!checkDisabledSelected(column)">
                <img src="assets/icons/bus/template/seat-not-available.svg"
                  *ngSwitchCase="ticketStatusEnum.SOLD"
                  loading="lazy">
                <img src="assets/icons/bus/template/seat-selected.svg"
                  *ngSwitchCase="ticketStatusEnum.SELECTED"
                  loading="lazy">
                <img src="assets/icons/bus/template/seat-reserved.svg"
                  *ngSwitchCase="ticketStatusEnum.RESERVED"
                  loading="lazy">
                <img src="assets/icons/bus/template/seat.svg"
                  *ngSwitchCase="ticketStatusEnum.AVAILABLE"
                  loading="lazy">
                <img src="assets/icons/bus/template/seat-to-be-sold.svg"
                  *ngSwitchCase="ticketStatusEnum.TO_BE_SOLD"
                  loading="lazy">
                <img src="assets/icons/bus/template/seat-not-available.svg"
                  *ngSwitchCase="ticketStatusEnum.DISABLED"
                  loading="lazy">
              </ng-container>
              <ng-container *ngIf="checkDisabledSelected(column)">
                <img src="assets/icons/bus/template/seat-selected.svg">
              </ng-container>
              <img class="disabled-icon" src="assets/icons/bus/template/disabled.svg"
                *ngIf="checkSeatStatus(column) === ticketStatusEnum.DISABLED ||
                  checkDisabledSelected(column)"
                loading="lazy">
              <p [ngClass]="{'text-white': checkSeatStatus(column) === ticketStatusEnum.SOLD,
                'text-light': checkSeatStatus(column) === ticketStatusEnum.SELECTED ||
                  checkSeatStatus(column) === ticketStatusEnum.TO_BE_SOLD ||
                  checkSeatStatus(column) === ticketStatusEnum.DISABLED}">
                <ng-container *ngIf="loadingPaymentMethod !== column">
                  {{ column | seatNumber }}
                </ng-container>
                <ng-container *ngIf="loadingPaymentMethod === column">
                  <div class="spinner-border spinner-btn ovj-primary-spinner" role="status"></div>
                </ng-container>
              </p>
            </div>
          </ng-container>
        </div>
      </div>
      <img class="bus-front" src="assets/icons/bus/template/bus-front.png"
        *ngIf="i === 0"
        loading="lazy">
      <img class="bus-left-mirror" src="assets/icons/bus/template/bus-left-mirror.svg"
        *ngIf="i === 0"
        loading="lazy">
      <img class="bus-right-mirror" src="assets/icons/bus/template/bus-right-mirror.svg"
        *ngIf="i === 0"
        loading="lazy">
      <p class="floor-number" [ngClass]="{'first': i === 0}"
        *ngIf="seatingScheme.floors.length > 1"
        loading="lazy">
        PISO {{ i + 1 }}
      </p>
    </div>
  </div>
</div>
