@import 'variables';

.payment-card {
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%) !important;
  p, h6 {
    margin: 0;
  }
  .card-header {
    background-color: $white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 2px solid $ovj-secondary;
    margin: 0 ;
    padding: 1rem 2.25rem 0.5rem 2.25rem;
    span {
      font-size: initial;
    }
  }
  .card-body {
    padding: 1.25rem 0;
    .ticket-info {
      padding: 0 2.25rem;
      i.icon-arrow-2 {
        color: $color-ff6022;
        font-size: 13px;
      }
    }
    .travel-info-2 {
      display: flex;
      padding: 0 2.25rem;
      .info-row {
        &:first-child {
          padding-left: 0 !important;
          width: 38%;
        }
        &:nth-child(2) {
          width: 22%;
        }
        &:nth-child(3) {
          width: 40%;
        }
        padding-left: 0.35rem;
        .divider {
          border-left: 1px solid $color-1763d1;
          height: 25px;
          margin: 0 0.5rem;
        }
        .text-orange {
          line-height: 25px;
        }
      }
    }
    .travel-info-3 {
      display: none;
      margin-top: 0 !important;
      padding: 0 2.25rem;
      .info-row {
        .go {
          width: 37%;
        }
        .time {
          width: 26%;
          i.icon {
            color: $color-ff6022;
            font-size: 20px;
          }
        }
        .back {
          width: 37%;
        }
      }
    }
    .line-divider {
      background-color: $ovj-secondary !important;
      margin: 0.65rem 0;
    }
    .seats-info {
      padding: 0 2.25rem;
      .info-row {
        display: flex;
        margin-top: 0.25rem;
        .seat {
          width: 35%;
        }
        .passenger {
          width: 75%;
        }
      }
    }
    .price-info {
      display: flex;
      justify-content: flex-end;
      padding-left: 0 2.25rem;
      .d-flex {
        .text-large {
          line-height: 20px;
        }
        .amount {
          line-height: 20px;
        }
      }
    }
  }
  .suggestion-message {
    background-color: $color-fff3cd;
    font-size: 0.9rem;
    padding: 0 1rem;
  }
}

app-spinner {
  ::ng-deep {
    .spinner-container {
      min-height: 60vh;
    }
  }
}

 @media screen and (max-width: $break-small) {
  .payment-card {
    font-size: 0.9rem;
    .text-large {
      font-size: initial;
    }
    .title {
      color: $white !important;
    }
    .card-header {
      background-color: $color-1763d1;
      color: $white;
      justify-content: center !important;
      padding: 1rem 2.25rem 0.75rem 2.25rem !important;
      h6 {
        color: $white !important;
      }
    }
    .card-body {
      .ticket-info {
        display: none !important;
      }
      .travel-info-2 {
        display: none;
      }
      .travel-info-3 {
        display: block;
        .info-row {
          display: flex;
        }
      }
    }
    .payment-data-btn {
      width: 100% !important;
    }
    .suggestion-message {
      font-size: 0.8rem;
    }
  }
}