<app-spinner-small *ngIf="!loggedUser"></app-spinner-small>
<ng-container *ngIf="loggedUser">
  <div class="d-flex admin-main-container">
    <div class="admin-dashboard-container">
      <app-navbar [loggedUser]="loggedUser"
        (burgerEvent)="burgerEvent($event)">
      </app-navbar>
      <section class="working-banner container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="title">
              <p> Estamos trabajando... </p>
            </div>
            <img class="image-banner"
              src="assets/images/working-banner.svg"
              alt="trabajando"
              loading="lazy">
            <div class="detail">
              <p> Temporalmente no tiene acceso a la página. </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <app-admin-footer [loggedUser]="loggedUser"></app-admin-footer>
  <app-notifier></app-notifier>
</ng-container>