<div class="payment-error card">
  <div class="card-body">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <i class="icon icon-warning-circle"></i>
        <ng-container [ngSwitch]="paymentMethod">
          <p *ngSwitchCase="paymentMethodEnum.QR_PAYMENT" class="client-text-primary client-text-800 mt-4">
            Ocurrió un error al momento de escanear el QR.
            <br class="d-md-block d-none">
            intente de nuevo
          </p>
          <p *ngSwitchCase="paymentMethodEnum.CARD_PAYMENT" class="client-text-primary client-text-800 mt-4">
            Ocurrió un error al momento de realizar el pago.
            <br class="d-md-block d-none">
            Por favor intenta nuevamente
          </p>
        </ng-container>
        <button type="button" class="btn ovj-btn-orange-3 mb-5"
          (click)="retry()">
          Reintentar
        </button>
      </div>
    </div>
  </div>
</div>