@import 'variables';

.payment-error {
  border-radius: 6px !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%) !important;
  i.icon-warning-circle {
    font-size: 135px;
    &::before {
      color: $color-000042;
    }
  }
  p {
    margin: 2.25rem 0 1.5rem 0 !important;
  }
}

@media screen and (max-width: $break-small) {
  .payment-error {
    .card-body {
      padding: 1.25rem 2rem 1.25rem 2rem;
      p {
        margin: 3.25rem 0 2.5rem 0 !important;
      }
      .btn {
        width: 100%;
      }
    }
  }
}