<form class="oviajamos-client-form travel-search-form px-md-auto pr-md-2 py-0 px-5 mt-0" autocompl  ete="off" [formGroup]="travelGroup">
  <div class="d-md-none d-none p-0 mt-2 mb-2 mr-1">
    <div class="check-container d-flex align-items-center h-100">
      <input type="checkbox"
        id="goAndBack"
        class="ovj-client-check"
        [checked]="travelForm.goAndBack.value"
        (click)="checkGoAndBack()">
      <label class="font-weight-bold ovj-text-sm m-0" for="goAndBack">Ida y vuelta</label>
    </div>
  </div>
  <div class="desktop-inputs">
    <div class="ovj-form">
      <label class="ovj-label">Origen<span class="text-danger">*</span></label>
      <ng-select class="form-control ovj-input client bus-stop-filter"
        formControlName="source"
        notFoundText="Sin coincidencias">
        <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
          {{ busStop.name}}
        </ng-option>
      </ng-select>
      <i class="icon icon-geo-loc input-icon"></i>
    </div>
    <div class="ovj-form location-input">
      <label class="ovj-label">Destino<span class="text-danger">*</span></label>
      <ng-select class="form-control ovj-input client bus-stop-filter"
        formControlName="destination"
        notFoundText="Sin coincidencias">
        <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
          {{ busStop.name}}
        </ng-option>
      </ng-select>
      <i class="icon icon-geo-loc input-icon"></i>
    </div>
    <div class="ovj-form">
      <label class="ovj-label">Asientos<span class="text-danger">*</span></label>
      <input type="number" id="availableSeats" class="form-control ovj-input with-icon" formControlName="availableSeats"
        (keydown)="numberInputValidator($event)">
        <i class="icon icon-person input-icon"></i>
    </div>
    <div class="ovj-form d-md-block d-none">
      <label for="startDate1" class="ovj-label">Ida<span class="text-danger">*</span></label>
      <dp-date-picker class="form-control ovj-input client with-icon"
        [config]="datePickerConf"
        (onSelect)="setGoValue($event.date)"
        mode="day"
        theme="dp-material"
        id="startDate1"
        [minDate]="minDate"
        formControlName="startDate">
      </dp-date-picker>
      <i class="icon icon-go-date input-icon"></i>
    </div>
    <div class="ovj-form d-md-block d-none" *ngIf="travelForm.goAndBack.value">
      <label class="ovj-label">Vuelta<span class="text-danger">*</span></label>
      <dp-date-picker class="form-control ovj-input client with-icon"
        [config]="datePickerConf2"
        (onSelect)="setBackValue($event.date)"
        mode="day"
        theme="dp-material"
        id="endDate1"
        [minDate]="minDate2"
        formControlName="endDate">
      </dp-date-picker>
      <i class="icon icon-back-date input-icon"></i>
    </div>
  </div>
  <div class="mobile-inputs">
    <div class="p-0 mt-3 mb-2 d-md-none d-none">
      <div class="d-flex align-items-center h-100 check-container">
        <input type="checkbox"
          id="goAndBack2"
          class="ovj-client-check"
          [checked]="travelForm.goAndBack.value"
          (click)="checkGoAndBack()">
        <label class="font-weight-bold ovj-text-sm m-0" for="goAndBack2">Ida y vuelta</label>
      </div>
    </div>
    <div class="go-and-back d-md-none d-flex">
      <div class="ovj-form">
        <label class="ovj-label">Ida<span class="text-danger">*</span></label>
        <dp-date-picker class="ovj-input client with-icon"
          [config]="datePickerConf"
          (onSelect)="setGoValue($event.date)"
          mode="day"
          theme="dp-material"
          id="startDate2"
          [minDate]="minDate"
          formControlName="startDate">
        </dp-date-picker>
        <i class="icon icon-go-date input-icon"></i>
      </div>
      <div class="ovj-form back" *ngIf="travelForm.goAndBack.value">
        <label class="ovj-label">Vuelta<span class="text-danger">*</span></label>
        <dp-date-picker class="form-control ovj-input client with-icon"
          [config]="datePickerConf2"
          (onSelect)="setBackValue($event.date)"
          mode="day"
          theme="dp-material"
          id="endDate2"
          [minDate]="minDate2"
          formControlName="endDate">
        </dp-date-picker>
        <i class="icon icon-back-date input-icon"></i>
      </div>
    </div>
  </div>
</form>