@import 'variables';

.travel-search-form {
  align-items: center;
  display: flex;
  padding-right: 1rem;
  .check-container {
    justify-content: flex-start !important;
    label {
      white-space: nowrap;
    }
  }
  .desktop-inputs {
    align-items: center;
    display: flex;
    width: 100%;
    .ovj-form {
      width: 25%;
      .form-control {
        margin-bottom: 0;
      }
      .dp-material {
        ::ng-deep {
          &>div {
            &:nth-child(2) {
              position: absolute;
              top: 0;
            }
          }
        }
      }
    }
  }
  .mobile-inputs {
    .go-and-back {
      .ovj-form {
        width: 100%;
        &.back {
          margin-left: 0.75rem !important;
        }
        .dp-material {
          ::ng-deep {
            &>div {
              &:nth-child(2) {
                position: absolute;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
  .ovj-form {
    margin: 0.8rem 0.35rem !important;
  }
}

@media screen and (max-width: $break-small) {
  .travel-search-form {
    flex-direction: column;
    .check-container {
      justify-content: center !important;
    }
    .desktop-inputs {
      flex-direction: column;
      .ovj-form {
        width: 100%;
      }
    }
    .mobile-inputs {
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
    .ovj-form {
      margin: 0.8rem 0 !important;
    }
  }
}
