<div class="container mb-4">
  <div class="row">
    <div class="col-12 ovj-banner">
      <img src="assets/images/admin-oviajamos/oviajamos.png" loading="lazy">
      <p class="title m-0">Agregar Empresa</p>
    </div>
    <div class="col-12">
      <div class="form-loader" *ngIf="loadingEnterprise">
        <app-spinner-small></app-spinner-small>
      </div>
      <div class="steper-form shadow mt-2"
        [ngClass]="{'ovj-admin': loggedUser?.role == userRoleEnum.OVJ_ADMIN}"
        *ngIf="!loadingEnterprise">
        <div class="progress">
          <app-steper-progress [steper]="steper"
            [ovjAdminMode]="loggedUser?.role == userRoleEnum.OVJ_ADMIN"
            [lastCreatedStep]="createdEnterprise?.lastCreatedStep">
          </app-steper-progress>
        </div>
        <div class="content">
          <router-outlet></router-outlet>
          <app-steper-actions [steper]="steper"
            [submitting]="submitting"
            (onToHomeEvent)="onToHome($event)"
            (onSubmitEvent)="onSubmit($event)"
            (onPrevEvent)="onPrev($event)"
            (onNextEvent)="onNext()">
          </app-steper-actions>
        </div>
      </div>
    </div>
  </div>
</div>