<form autocomplete="off" [formGroup]="userGroup">
  <div class="mb-form ovj-input-file">
    <div class="image-circle-container"
      [ngClass]="{'is-invalid': excededImageSize}">
      <img [src]="dafaultImage"
        class="view-photo"
        loading="lazy">
      <img class="camera-icon"
        src="assets/icons/camera-icon.svg"
        loading="lazy">
      <input type="file" accept=".png, .jpg, .jpeg" formControlName="imageUrl" (change)="setImage($event)">
    </div>
    <div *ngIf="excededImageSize">
      <span class="ovj-mesage-error">La imagen no debe exceder 2Mb</span>
    </div>
  </div>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información de personal</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Nombres<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="name"
          [ngClass]="{'is-invalid': submitted && userForm.name.errors}">
        <div class="invalid-feedback" *ngIf="userForm.name.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="userForm.name.errors?.pattern">Ingresé sólo letras</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Apellidos<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="lastName"
          [ngClass]="{'is-invalid': submitted && userForm.lastName.errors}">
        <div class="invalid-feedback" *ngIf="userForm.lastName.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="userForm.lastName.errors?.pattern">Ingresé sólo letras</div>
      </div>
    </div>
  </div>
  <app-document-form [parentForm]="driverForm"
    [submitted]="submitted">
  </app-document-form>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Celular<span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="phone"
          [ngClass]="{'is-invalid': submitted && userForm.phone.errors}"
          (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="userForm.phone.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="userForm.phone.errors?.min">Mínimo 7 números</div>
        <div class="invalid-feedback" *ngIf="userForm.phone.errors?.max">Máximo 12 números</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Correo electrónico<span class="text-danger">*</span></label>
        <input type="email" class="form-control ovj-input" formControlName="email"
          [ngClass]="{'is-invalid': submitted && userForm.email.errors}">
        <div class="invalid-feedback" *ngIf="userForm.email.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="userForm.email.errors?.email">Corréo invalido</div>
      </div>
    </div>
  </div>
  <div class="row mb-2" *ngIf="!user && userForm.email.value.length>0">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Contraseña<span class="text-danger">*</span></label>
        <input type="password" class="form-control ovj-input" formControlName="password" autocomplete="new-password"
          [ngClass]="{'is-invalid': submitted && userForm.password.errors}">
        <div class="invalid-feedback" *ngIf="userForm.password.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg" *ngIf="userForm.email.value.length>0">
      <div class="ovj-form">
        <label class="ovj-label">Confirmar contraseña<span class="text-danger">*</span></label>
        <input type="password" class="form-control ovj-input" formControlName="confirmPassword"
          [ngClass]="{'is-invalid': submitted && userForm.confirmPassword.errors}">
        <div class="invalid-feedback" *ngIf="userForm.confirmPassword.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="userForm.confirmPassword.errors?.machPassword">La contraseña no coincide</div>
      </div>
    </div>
  </div>
</form>
