@import 'variables';

.modal-wrapper {
  .content {
    padding: 25px 3rem 0 3rem;
    p {
      font-style: normal;
      margin: 0;
    }
    .title {
      color: $color-3c64b1;
      font-size: 36px;
      font-weight: 500;
      line-height: 40px;
      margin: 10px;
    }
    .message {
      color: $color-042b63;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      b {
        font-weight: bold;
      }
    }
    .oviajamos-form {
      padding-bottom: 0;
      padding-top: 0;
      .md-form {
        &:first-child {
          margin-bottom: 2rem !important;
        }
      }
    }
  }
  .actions {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 20px 30px 20px;
    width: 100%;
    .btn {
      &:first-child {
        margin-right: 15px;
      }
    }
  }
}