@import 'variables';

.custom-radio {
  margin-bottom: 2px;
  .custom-control-label {
    cursor: pointer;
    p {
      color: $color-495057;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
    }
  }
}

.oviajamos-form {
  padding: 8px 35px;
}

.sale-target-row {
  &>div {
    padding: 0 3px;
    &:first-child {
      padding-left: 15px;
    }
    &:last-child {
      padding-right: 15px;
    }
    &.trash-btn {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      margin-top: 5px;
      .btn {
        margin-top: 25px;
        padding: 8px 6px 6px 6px;
        i {
          font-size: 25px;
          &::before {
            color: $color-ff533d;
          }
        }
      }
    }
  }
}

.add-target-btn {
  align-items: center;
  border: 1px solid $color-007bff;
  border-radius: 4px;
  display: flex;
  height: 36px;
  justify-content: center;
  min-width: 188px;
  margin-top: 10px;
  p {
    color: $color-007bff;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 0;
  }
}