<form class="oviajamos-form" autocomplete="off" [formGroup]="enterpriseCommissionGroup">
  <div [formGroup]="physicalSalesCommissionGroup">
    <div class="text-center mt-4">
      <h5 class="ovj-text-primary">Venta Física</h5>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="ovj-form">
          <label class="ovj-label">Tipo de operación<span class="text-danger">*</span></label>
          <ng-select class="form-control ovj-select"
            formControlName="type"
            [searchable]="false"
            [ngClass]="{'is-invalid': submitted && physicalCommissionForm.type.errors}">
            <ng-option *ngFor="let key of commissionTypeEnumKeys" [value]="commissionTypeEnum[key]">
              {{ commissionTypeEnum[key] }}
            </ng-option>
          </ng-select>
          <div class="invalid-feedback" *ngIf="physicalCommissionForm.type.errors?.required">Campo obligatorio</div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="ovj-form">
          <label class="ovj-label">Valor (Bs)<span class="text-danger">*</span></label>
          <input type="number" class="form-control ovj-input" formControlName="value"
            [ngClass]="{'is-invalid': submitted && physicalCommissionForm.value.errors}"
            autocomplete="no" (keydown)="floatInputValidator($event)">
          <div class="invalid-feedback" *ngIf="physicalCommissionForm.value.errors?.required">Campo obligatorio</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="ovj-form">
          <label class="ovj-label">Tipo de facturación<span class="text-danger">*</span></label>
          <ng-select class="form-control ovj-select"
            formControlName="invoiceType"
            [searchable]="false"
            [ngClass]="{'is-invalid': submitted && physicalCommissionForm.invoiceType.errors}">
            <ng-option *ngFor="let key of commissionBillingTypeEnumKeys" [value]="commissionBillingTypeEnum[key]">
              {{ commissionBillingTypeEnum[key] }}
            </ng-option>
          </ng-select>
          <div class="invalid-feedback" *ngIf="physicalCommissionForm.invoiceType.errors?.required">Campo obligatorio</div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="text-center mt-4 mb-1">
      <h5 class="ovj-text-primary">Venta en línea</h5>
    </div>
    <div class="mt-2 mb-3">
      <div class="custom-control custom-radio" *ngFor="let key of onlineSaleTypeEnumKeys; let i=index">
        <input type="radio" class="custom-control-input" [id]="'departure-type-'+i"
          (click)="setOnlineSaleType(key)" [checked]="onlineSaleTypeSelected === onlineSaleTypeEnum[key]">
        <label class="d-flex custom-control-label" [for]="'departure-type-'+i">
          <p class="mb-0 pl-2"> Por {{ onlineSaleTypeEnum[key] }} </p>
        </label>
      </div>
    </div>
    <ng-container *ngIf="onlineSaleTypeSelected === onlineSaleTypeEnum.INCREMENTABLE_DECREMENTABLE">
      <ng-container [formGroup]="onlineSalesCommissionsArray.controls[0]">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="ovj-form">
              <label class="ovj-label">Tipo de operación <span class="text-danger">*</span></label>
              <ng-select class="form-control ovj-select"
                formControlName="operationType"
                [searchable]="false"
                [ngClass]="{'is-invalid': submitted && onlineSalesCommissionsArray.controls[0].controls.operationType.errors}">
                <ng-option *ngFor="let key of commissionOperationTypeEnumKeys" [value]="commissionOperationTypeEnum[key]">
                  {{ commissionOperationTypeEnum[key] }}
                </ng-option>
              </ng-select>
              <div class="invalid-feedback" *ngIf="onlineSalesCommissionsArray.controls[0].controls.operationType.errors?.required">Campo obligatorio</div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="row">
              <div class="col-4">
                <div class="ovj-form">
                  <label class="ovj-label">Valor<span class="text-danger">*</span></label>
                  <input type="number" class="form-control ovj-input" formControlName="value"
                    [ngClass]="{'is-invalid': submitted && onlineSalesCommissionsArray.controls[0].controls.value.errors}"
                    autocomplete="no" (keydown)="floatInputValidator($event)">
                  <div class="invalid-feedback" *ngIf="onlineSalesCommissionsArray.controls[0].controls.value.errors?.required">Campo obligatorio</div>
                </div>
              </div>
              <div class="col-8">
                <div class="ovj-form">
                  <label class="ovj-label">Tipo de operación<span class="text-danger">*</span></label>
                  <ng-select class="form-control ovj-select"
                    formControlName="type"
                    [searchable]="false"
                    [ngClass]="{'is-invalid': submitted && onlineSalesCommissionsArray.controls[0].controls.type.errors}">
                    <ng-option *ngFor="let key of commissionTypeEnumKeys" [value]="commissionTypeEnum[key]">
                      {{ commissionTypeEnum[key] }}
                    </ng-option>
                  </ng-select>
                  <div class="invalid-feedback" *ngIf="onlineSalesCommissionsArray.controls[0].controls.type.errors?.required">Campo obligatorio</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="onlineSaleTypeSelected === onlineSaleTypeEnum.SALES_GOAL">
      <ng-container *ngFor="let targetGroup of onlineSalesCommissionsArray.controls; let i=index; let first=first; let last=last"
        [formGroup]="targetGroup">
        <div class="row">
          <div class="col-lg-4 col-12">    
            <div class="ovj-form">
              <label class="ovj-label">Meses de meta venta<span class="text-danger">*</span></label>
              <input type="number" class="form-control ovj-input" formControlName="monthsDeadline"
                [ngClass]="{'is-invalid': submitted && targetGroup.controls.monthsDeadline.errors}"
                autocomplete="no" (keydown)="numberInputValidator($event)">
              <div class="invalid-feedback" *ngIf="targetGroup.controls.monthsDeadline.errors?.required">Campo obligatorio</div>
            </div>
          </div>
        </div>
        <div class="sale-target-row row"
          [formGroup]="targetGroup">
          <div class="col-lg-1 col-6">
            <div class="ovj-form">
              <label class="ovj-label">De:<span class="text-danger">*</span></label>
              <input type="number" class="form-control ovj-input" formControlName="startAmount"
                [ngClass]="{'is-invalid': submitted && targetGroup.controls.startAmount.errors}"
                autocomplete="no" (keydown)="numberInputValidator($event)">
              <div class="invalid-feedback" *ngIf="targetGroup.controls.startAmount.errors?.required">Campo obligatorio</div>
            </div>
          </div>
          <div class="col-lg-1 col-6">
            <div class="ovj-form">
              <label class="ovj-label">A:<span class="text-danger">*</span></label>
              <input type="number" class="form-control ovj-input" formControlName="finalAmount"
                [ngClass]="{'is-invalid': submitted && targetGroup.controls.finalAmount.errors}"
                autocomplete="no" (keydown)="numberInputValidator($event)">
              <div class="invalid-feedback" *ngIf="targetGroup.controls.finalAmount.errors?.required">Campo obligatorio</div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="ovj-form">
              <label class="ovj-label">Tipo de operación<span class="text-danger">*</span></label>
              <ng-select class="form-control ovj-select"
                formControlName="operationType"
                [searchable]="false"
                [ngClass]="{'is-invalid': submitted && targetGroup.controls.operationType.errors}">
                <ng-option *ngFor="let key of commissionOperationTypeEnumKeys" [value]="commissionOperationTypeEnum[key]">
                  {{ commissionOperationTypeEnum[key] }}
                </ng-option>
              </ng-select>
              <div class="invalid-feedback" *ngIf="targetGroup.controls.operationType.errors?.required">Campo obligatorio</div>
            </div>
          </div>
          <div class="col-lg-1 col-6">
            <div class="ovj-form">
              <label class="ovj-label">Valor<span class="text-danger">*</span></label>
              <input type="number" class="form-control ovj-input" formControlName="value"
                [ngClass]="{'is-invalid': submitted && targetGroup.controls.value.errors}"
                autocomplete="no" (keydown)="floatInputValidator($event)">
              <div class="invalid-feedback" *ngIf="targetGroup.controls.value.errors?.required">Campo obligatorio</div>
            </div>
          </div>
          <div class="col-lg-4 col-6">
            <div class="ovj-form">
              <label class="ovj-label">Tipo de operación<span class="text-danger">*</span></label>
              <ng-select class="form-control ovj-select"
                formControlName="type"
                [searchable]="false"
                [ngClass]="{'is-invalid': submitted && targetGroup.controls.type.errors}">
                <ng-option *ngFor="let key of commissionTypeEnumKeys" [value]="commissionTypeEnum[key]">
                  {{ commissionTypeEnum[key] }}
                </ng-option>
              </ng-select>
              <div class="invalid-feedback" *ngIf="targetGroup.controls.type.errors?.required">Campo obligatorio</div>
            </div>
          </div>
          <div class="col-lg-1 trash-btn">
            <button class="btn btn-default" (click)="removeOnlineTarget(i)">
              <i class="icon icon-trash"></i>
            </button>
          </div>
        </div>
      </ng-container>
      <button class="add-target-btn btn btn-default mt-3" (click)="addOnlineTarget()">
        <p> + Añadir meta </p>
      </button>
    </ng-container>
  </div>
</form>