<form autocomplete="off" [formGroup]="driverLicenseGroup">
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información licencia de conducir</h5>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Género<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="gender"
          notFoundText="Sin coincidencias"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && licenseForm.gender.errors}">
          <ng-option *ngFor="let key of genderKeys" [value]="gender[key]">
            {{ gender[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="licenseForm.gender.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Nacimiento<span class="text-danger">*</span></label>
        <div class="input-group date-picker-group">
          <input class="form-control"
            autocomplete="off"
            placeholder="DD/MM/YYYY"
            [maxDate]="maxBirthDate"
            formControlName="birthAt"
            ngbDatepicker
            [ngClass]="{'is-invalid': submitted && licenseForm.birthAt.errors}"
            #d1="ngbDatepicker">
          <button class="btn btn-default calendar ml-1" (click)="d1.toggle()">
            <i class="icon icon-calendar"></i>
          </button>
          <div class="invalid-feedback" *ngIf="licenseForm.birthAt.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback"
            *ngIf="licenseForm.birthAt.errors?.ngbDate ||
              licenseForm.birthAt.errors?.pattern">
            Fecha inválida
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Nacionalidad<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="nationality"
          [ngClass]="{'is-invalid': submitted && licenseForm.nationality.errors}">
        <div class="invalid-feedback" *ngIf="licenseForm.nationality.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="licenseForm.nationality.errors?.pattern">Ingrése sólo letras</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Categoría<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="category"
          notFoundText="Sin coincidencias"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && licenseForm.category.errors}">
          <ng-option *ngFor="let key of categoryKeys" [value]="category[key]">
            {{ category[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="licenseForm.category.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Emitida<span class="text-danger">*</span></label>
        <div class="input-group date-picker-group">
          <input class="form-control"
            autocomplete="off"
            placeholder="DD/MM/YYYY"
            [maxDate]="maxDate"
            formControlName="emitAt"
            ngbDatepicker
            [ngClass]="{'is-invalid': submitted && licenseForm.emitAt.errors}"
            #d2="ngbDatepicker">
          <button class="btn btn-default calendar ml-1" (click)="d2.toggle()">
            <i class="icon icon-calendar"></i>
          </button>
          <div class="invalid-feedback" *ngIf="licenseForm.emitAt.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback"
            *ngIf="licenseForm.emitAt.errors?.ngbDate ||
              licenseForm.emitAt.errors?.pattern">
            Fecha inválida
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Vencimiento<span class="text-danger">*</span></label>
        <div class="input-group date-picker-group">
          <input class="form-control"
            autocomplete="off"
            placeholder="DD/MM/YYYY"
            [minDate]="minDate"
            formControlName="expireAt"
            ngbDatepicker
            [ngClass]="{'is-invalid': submitted && licenseForm.expireAt.errors}"
            #d3="ngbDatepicker">
          <button class="btn btn-default calendar ml-1" (click)="d3.toggle()">
            <i class="icon icon-calendar"></i>
          </button>
          <div class="invalid-feedback" *ngIf="licenseForm.expireAt.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback"
            *ngIf="licenseForm.expireAt.errors?.ngbDate ||
              licenseForm.expireAt.errors?.pattern">
            Fecha inválida
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Grupo Sanguíneo<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="bloodType"
          notFoundText="Sin coincidencias"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && licenseForm.bloodType.errors}">
          <ng-option *ngFor="let key of bloodTypeKeys" [value]="bloodType[key]">
            {{ bloodType[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="licenseForm.bloodType.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">N° Licencia<span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="licenseNumber"
          [ngClass]="{'is-invalid': submitted && licenseForm.licenseNumber.errors}"
          (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="licenseForm.licenseNumber.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="licenseForm.licenseNumber.errors?.max">Máximo de 12 dígitos</div>
        <div class="invalid-feedback" *ngIf="licenseForm.licenseNumber.errors?.min">Mínimo de 5 dígitos</div>
        <div class="invalid-feedback" *ngIf="licenseForm.licenseNumber.errors?.pattern">Ingrése sólo letras o números</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Lentes<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="useGlasses"
          notFoundText="Sin coincidencias"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && licenseForm.useGlasses.errors}">
          <ng-option *ngFor="let key of booleanEnumKeys" [value]="booleanEnum[key]">
            {{ key }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="licenseForm.useGlasses.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Audífonos<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="useHeadphones"
          notFoundText="Sin coincidencias"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && licenseForm.useHeadphones.errors}">
          <ng-option *ngFor="let key of booleanEnumKeys" [value]="booleanEnum[key]">
            {{ key }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="licenseForm.useHeadphones.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
</form>