@import 'variables';

.seat-selection {
  p {
    margin-bottom: 0;
  }
  .driver-info {
    p {
      &:first-child {
        color: $color-1763d1;
      }
      &.tooltip-link {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  .seats-info {
    .seat-info {
      align-items: center;
      margin: 0 0.75rem;
      p {
        font-size: 0.85rem;
        padding-left: 0.4rem;
        white-space: nowrap;
      }
    }
  }
  .bottom-seats-info {
    font-size: 1.1rem;
    .selected-seats {
      width: 55%;
    }
    .price-info {
      width: 45%;
    }
    button {
      width: 100%;
    }
  }
}

.driver-info-tooltip {
  color: $color-000042;
  i.icon {
    font-size: 45px;
    &::before {
      color: $color-1763d1;
    }
  }
}

app-spinner {
  ::ng-deep {
    .spinner-container {
      min-height: 60vh;
    }
  }
}

@media screen and (max-width: $break-large) {
  .seat-selection {
    .btn {
      width: 100% !important;
    }
    .driver-info {
      p {
        font-size: 0.95rem;
      }
    }
    .seats-info {
      .seat-info {
        margin: 0 0.75rem !important;
        p {
          font-size: 0.7rem !important;
          padding-left: 0.2rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .seat-selection {
    .driver-info {
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 0.85rem;
        &.tooltip-link {
          font-size: 0.9rem;
          font-weight: bold;
        }
      }
    }
    .seats-info {
      justify-content: space-between;
      margin-top: 1rem;
      .seat-info {
        margin: 0 !important;
        width: auto;
        p {
          font-size: 0.7rem !important;
          padding-left: 0.2rem !important;
        }
      }
    }
  }
}