<app-spinner *ngIf="ticketPurchaseService.loadingSteperContent"></app-spinner>
<div class="container mt-3" *ngIf="!ticketPurchaseService.loadingSteperContent">
  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <div class="seat-selection container">
        <div class="row offset-lg-2">
          <div class="col-lg-3 col-md-4 col-12 px-md-auto px-1">
            <div class="driver-info d-flex">
              <span placement="bottom" theme="light" [tooltip]="driverInfo" content-type="template" max-width="400">
                <p class="tooltip-link client-text-800"> Info. Del Conductor </p>
              </span>
              <ng-template #driverInfo>
                <div class="driver-info-tooltip d-flex align-items-center my-2 ml-1 mr-2">
                  <i class="icon icon-wheel"></i>
                  <div class="text-left ml-2">
                    <h6 class="mt-1 mb-1"> {{ selectedDeparture?.driver.user.name }} {{ selectedDeparture?.driver.user.lastName }} </h6>
                    <h6 class="my-1"> {{ selectedDeparture?.driver.driverLicense?.birthAt | getYearsOld }} años </h6>
                    <p class="mt-1 mb-0"> Licencia clase {{ (selectedDeparture?.driver.driverLicense?.category).charAt(0) }} </p>
                  </div>
                </div>
              </ng-template>
              <div class="d-md-none d-flex">
                <div class="mr-3">
                  <p class="client-text-primary client-text-800 ovj-text-xs"> Asientos: </p>
                  <p class="client-text-dark-primary client-text-large line-height client-text-500"> {{ selected }} </p>
                </div>
                <div>
                  <p class="client-text-primary client-text-800 ovj-text-xs"> Total: </p>
                  <p class="client-text-dark-primary client-text-large line-height client-text-500">
                    {{ selectedTickets.length * selectedDeparture?.price }}bs
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-8 col-12 px-md-auto px-0">
            <div class="d-flex seats-info">
              <div class="seat-info d-flex">
                <img src="assets/icons/client/seat-available.svg"
                  class="d-md-block d-none"
                  loading="lazy">
                <img src="assets/icons/client/seat-available-mobile.svg"
                  class="d-md-none d-block"
                  loading="lazy">
                <p class="client-text-dark-primary"> Disponible </p>
              </div>
              <div class="seat-info d-flex">
                <img src="assets/icons/client/seat-not-available.svg"
                  class="d-md-block d-none"
                  loading="lazy">
                <img src="assets/icons/client/seat-not-available-mobile.svg"
                  class="d-md-none d-block"
                  loading="lazy">
                <p class="client-text-dark-primary"> No disponible </p>
              </div>
              <div class="seat-info d-flex">
                <img src="assets/icons/client/seat-selected.svg"
                  class="d-md-block d-none"
                  loading="lazy">
                <img src="assets/icons/client/seat-selected-mobile.svg"
                  class="d-md-none d-block"
                  loading="lazy">
                <p class="client-text-dark-primary"> Seleccionado </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 text-center my-2">
            <app-client-seating-scheme [departure]="selectedDeparture"
              [selectedTickets]="selectedTickets"
              (selectSeatEvent)="selectSeat($event)"
              (unselectSeatEvent)="unselectSeat($event)">
            </app-client-seating-scheme>
          </div>
        </div>
        <div class="bottom-seats-info row offset-lg-2 mt-3">
          <div class="col-md-8 d-md-block px-md-0 align-self-center d-none">
            <div class="d-flex">
              <div class="selected-seats d-flex">
                <p class="client-text-primary client-text-800"> Asientos:&nbsp; </p>
                <p class="client-text-dark-primary client-text-500"> {{ selected }} </p>
              </div>
              <div class="price-info d-flex">
                <p class="client-text-primary client-text-800"> Total:&nbsp; </p>
                <p class="client-text-dark-primary client-text-500"> {{ selectedTickets.length * selectedDeparture?.price }}bs </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <button type="button" class="btn ovj-btn-orange-3 font-weight-bold"
              (click)="onSubmit()">
            Continuar
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>