<app-office-data-form [office]="office"
  [enterprise]="enterprise">
</app-office-data-form>
<div class="actions-btns mt-4 mb-5">
  <button class="btn ovj-btn-light" type="button" (click)="action.next(false)">
    Volver
  </button>
  <button class="btn btn-default ovj-btn primary next" (click)="onSubmit()" [disabled]="submitting">
    <ng-container *ngIf="!submitting"> Guardar </ng-container>
    <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
  </button>
</div>