<div class="type-selection row px-5 mt-3" *ngIf="!type">
  <div class="col-lg-7">
    <p class="ovj-text-sm">Tipo de Salida <span class="text-danger">*</span></p>
    <div class="custom-control custom-radio" *ngFor="let key of departureTypeEnumKeys; let i=index">
      <input type="radio" class="custom-control-input" [id]="'departure-type-'+i"
        (click)="setDepartureType(key)" [checked]="departureTypeSelected === departureTypeEnum[key]">
      <label class="d-flex custom-control-label" [for]="'departure-type-'+i">
        <ng-container [ngSwitch]="i">
          <img src="assets/icons/recurrente.svg"
            *ngSwitchCase="0"
            loading="lazy">
          <img src="assets/icons/eventual.svg"
            *ngSwitchCase="1"
            loading="lazy">
          <img src="assets/icons/expreso.svg"
            *ngSwitchCase="2"
            loading="lazy">
        </ng-container>
        <ng-container [ngSwitch]="i">
          <p class="mb-0 pl-2" *ngSwitchCase="0"> {{ departureTypeEnum[key] }} </p>
          <p class="mb-0 pl-2" *ngSwitchCase="1"> {{ departureTypeEnum[key] }} (Sin horario fijo) </p>
          <p class="mb-0 pl-2" *ngSwitchCase="2"> {{ departureTypeEnum[key] }}/Contrato </p>
        </ng-container>
      </label>
    </div>
  </div>
</div>
<div [ngSwitch]="departureTypeSelected">
  <div *ngSwitchCase="departureTypeEnum[departureTypeEnumKeys[0]]" >
    <recurrent-departure-form [departureGroup]="departureGroup"
      [departure]="departure"
      [enterprise]="enterprise"
      [submitted]="submitted"
      [buses]="buses"
      [travelRoutes]="travelRoutes"
      [drivers]="drivers"
      [checkRouteInArray]="checkRouteInArray"
      [checkDriverInArray]="checkDriverInArray"
      [checkBusInArray]="checkBusInArray">
    </recurrent-departure-form>
  </div>
  <div *ngSwitchCase="departureTypeEnum[departureTypeEnumKeys[1]]">
    <app-eventual-departure-form [departureGroup]="departureGroup"
      [departure]="departure"
      [enterprise]="enterprise"
      [submitted]="submitted"
      [buses]="buses"
      [travelRoutes]="travelRoutes"
      [drivers]="drivers"
      [checkRouteInArray]="checkRouteInArray"
      [checkDriverInArray]="checkDriverInArray"
      [checkBusInArray]="checkBusInArray">
    </app-eventual-departure-form>
  </div>
  <div *ngSwitchCase="departureTypeEnum[departureTypeEnumKeys[2]]">
    <app-express-departure-form [departureGroup]="departureGroup"
      [departure]="departure"
      [enterprise]="enterprise"
      [submitted]="submitted"
      [buses]="buses"
      [travelRoutes]="travelRoutes"
      [drivers]="drivers"
      [checkRouteInArray]="checkRouteInArray"
      [checkDriverInArray]="checkDriverInArray"
      [checkBusInArray]="checkBusInArray">
    </app-express-departure-form>
  </div>
</div>