<section class="admin-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="sidebar-container">
          <i class="icon icon-menu header-burger-buttom"
            *ngIf="showBurgerButtom"
            (click)="burgerButtonEvent()">
          </i>
          <i class="icon icon-arrow-outline"
            *ngIf="!showBurgerButtom"
            (click)="arrowLeftButtonEvent()">
          </i>
          <p class="m-0" *ngIf="false">{{title}}</p>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <div class="btn-group" ngbDropdown>
          <div ngbDropdownToggle type="button" class="user-container">
            <div class="center-content">
              <p class="mb-0">
                {{ user?.displayName || loggedUser?.name || user?.email || user?.phoneNumber }}
              </p>
              <p *ngIf="rolUser.OVJ_ADMIN === loggedUser.role" class="mt-0 mb-0 text-size">(ADMIN OVIAJAMOS)</p>  
              <p *ngIf="rolUser.COMPANY_ADMIN === loggedUser.role" class="mt-0 mb-0 text-size">(ADMIN DE EMPRESA)</p>  
              <p *ngIf="rolUser.OFFICE_ADMIN === loggedUser.role" class="mt-0 mb-0 text-size">(ADMIN DE OFICINA)</p>  
              <p *ngIf="rolUser.SECRETARY === loggedUser.role" class="mt-0 mb-0 text-size">(SECRETARIA<)</p>  
              <p *ngIf="rolUser.TICKET_SELLER === loggedUser.role" class="mt-0 mb-0 text-size">(VENDEDOR)</p>  
              <p *ngIf="rolUser.DRIVER === loggedUser.role" class="mt-0 mb-0 text-size">(CHOFER)</p>  
              <p *ngIf="rolUser.CLIENT === loggedUser.role" class="mt-0 mb-0 text-size">(CLIENTE)</p>  
            </div>
            <img class="rounded-circle"
              [src]="user?.photoURL || (loggedUser?.imageUrl) || 'assets/icons/user-image-icon-2.svg'"
              loading="lazy">
          </div>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dark">
            <a ngbDropdownItem (click)="editProfile()">
              Editar perfil
            </a>
            <a ngbDropdownItem (click)="logout()">
              Cerrar sesión
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>