@import 'variables';

.client-bus-wrapper {
  .bus-floor {
    .bus-row {
      .bus-column {
        &.selectable {
          cursor: pointer;
        }
        .seat {
          p {
            &.text-gray {
              color: $color-d1d1d1;
            }
          }
          img, p {
            animation: fadeIn 0.2s;
            -webkit-animation: fadeIn 0.2s;
            -moz-animation: fadeIn 0.2s;
            -o-animation: fadeIn 0.2s;
            -ms-animation: fadeIn 0.2s;
          }
          &.invalid-date {
            cursor: default;
          }
        }
      }
    }
  }
}