@import 'variables';

.custom-card-info {
  .content-item {
    .principal {
      .item-sub-label {
        margin-bottom: 0;
      }
    }
  }
}

.detail {
  .info-block {
    margin-bottom: 5px;
    .title {
      color: $color-042b63;
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      margin-bottom: 8px;
    }
    .item-info {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        font-style: normal;
        margin-bottom: 0;
        &:first-child {
          color: $black;
          font-size: 12px;
          font-weight: normal;
          line-height: 16px;
        }
        &:last-child {
          color: $color-042b63;
          font-size: 16px;
          font-weight: normal;
          line-height: 24px;
        }
      }
    }
  }
}

.mobile-actions {
  .ovj-btn {
    width: 100%;
    border-radius: 4px;
    height: 48px;
  }
  .divider {
    &.actions {
      margin: 5px 0 18px 0 !important;
    }
  }
}

.lg-mobile-actions {
  display: flex;
  margin: 35px 0 30px 0;
  .ovj-btn {
    height: 46px;
    width: 50%;
    &:first-child {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: $break-small) {
  .lg-mobile-actions {
    display: none;
  }
}