@import 'variables';

.card-payment {
  border-radius: 6px !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%) !important;
  .recaptcha-wrapper {
    display: flex;
    justify-content: center;
    margin: 45px 0 20px 0;
    width: 100%;
  }
  p {
    margin: 0;
  }
  .text-primary {
    color: $color-1763d1 !important;
  }
  .text-large {
    font-size: 1.1rem;
    line-height: 21px;
  }
  .card-header {
    background-color: $color-1763d1 !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: $white;
    font-weight: bold;
    padding: 1rem 1.25rem 0.6rem 1.25rem;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-img {
      img {
        width: 100%;
      }
    }
    .amount {
      line-height: 23px;
    }
    .btn {
      width: 300px;
    }
  }
}

@media screen and (max-width: $break-small) {
  .card-payment {
    .card-body {
      .card-img {
        margin-top: 0.75rem;
        position: relative;
        img {
          width: initial;
        }
        .abs-img {
          left: calc(50% - 59px);
          position: absolute;
          top: 68%;
        }
      }
      .btn {
        width: 100% !important;
      }
    }
  }
}