<div class="modal-wrapper">
  <div class="content">
    <i class="icon icon-warning-signal mb-2"></i>
    <p class="title"> {{ content.heading }} </p>
    <p class="message"> {{ content.description }} </p>
  </div>
  <div class="actions">
    <button class="btn ovj-btn" type="button" (click)="action.next(false)">
      Cancelar
    </button>
    <button class="btn ovj-btn" type="button" (click)="submitSale()" ngbAutoFocus>
      Continuar
    </button>
  </div>
</div>