// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$white: #fff;
$black: #000;
$color-042b63: #042b63;
$color-ff533d: #ff533d;
$color-f44336: #f44336;
$color-cc4231: #cc4231;
$color-121b22: #121B22;
$color-3c64b1: #3c64b1;
$color-3880ff: #3880ff;
$color-3c6481: #3C64b1;
$color-1a73e9: #1a73e9;
$color-1a3e72: #1a3e72;
$color-1a73e9: #1a73e9;
$color-126BA5: #126BA5;
$color-f6f9ff: #f6f9ff;
$color-c4c4c4: #c4c4c4;
$color-e6eaf0: #e6eaf0;
$color-e5e5e5: #e5e5e5;
$color-92949C: #92949C;
$color-dce9fb: #dce9fb;
$color-dbdcf0: #dbdef0;
$color-eeeeee: #eeeeee;
$color-f4f5f8: #f4f5f8;
$color-fefada: #fefada;
$color-a7c6f0: #a7c6f0;
$color-f8f8f8: #f8f8f8;
$color-666666: #666666;
$color-ffec3d: #ffec3d;
$color-e8b209: #e8b209;
$color-65c46a: #65c46a;
$color-f5f5f5: #f5f5f5;
$color-eb5757: #eb5757;
$color-212529: #212529;
$color-1763d1: #1763D1;
$color-000042: #000042;
$color-ececeb: #ececeb;
$color-ff6022: #ff6022;
$color-fff3cd: #fff3cd;
$color-d1d1d1: #d1d1d1;
$color-867b7b: #867b7b;
$color-e9e9e9: #e9e9e9;
$color-bcccdb: #bcccdb;
$color-4d4d4d: #4d4d4d;
$color-439623: #439623;
$color-54bb2c: #54bb2c;
$color-d4f1d3: #d4f1d3;
$color-757575: #757575;
$color-2b343d: #2b343d;
$color-d1e2ff: #d1e2ff;
$color-007bff: #007bff;
$color-333e48: #333e48;
$color-1ac05c: #1ac05c;
$color-ffc107: #ffc107;
$color-b94a3e: #b94a3e;
$color-204254: #204254;
$color-333e48: #333e48;
$color-e5e5e5: #e5e5e5;
$color-e1e1e1: #e1e1e1;
$color-dadada: #dadada;
$color-6c757d: #6c757d;
$color-ced4da: #ced4da;
$color-495057: #495057;
$color-126ba5: #126ba5;
$color-9aa0a6: #9aa0a6;
$color-dc3545: #dc3545;
$color-343a40: #343a40;
$color-a0a1a8: #a0a1a8;
$color-ebebeb: #ebebeb;
$color-fb3f4a: #fb3f4a;
$color-fff6da: #fff6da;
$color-ededed: #ededed;
$color-f2f2f2: #f2f2f2;
$color-57c22d: #57c22d;
$color-868e96: #868e96;
$color-797874: #797874;
$color-17a2b8: #17a2b8;
$color-333333: #333333;
$color-e3f6f5: #e3f6f5;
$ovj-primary: #d1e2ff;
$ovj-success: #c5fac6;
$ovj-warning: #ffedc0;
$ovj-danger: #ffdbd7;
$ovj-secondary: #e5e5e5;
$ovj-light-primary: #e9f3ff;
$ovj-light-success: #e1ffe1;
$ovj-light-warning: #fff9ea;
$ovj-light-danger: #ffefec;
$ovj-light-secondary: #eeeeee;
$ovj-dark-primary: #7faeff;
$ovj-dark-success: #46e846;
$ovj-dark-warning: #ffc107;
$ovj-dark-danger: #fe8e81;
$ovj-dark-secondary: #c4c4c4;
$page404-client-title: #3963C8;
// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$break-x-small: 575px;
$break-small: 767px;
$break-medium: 991px;
$break-large: 1199px;
$break-x-large: 1399px;
// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
// Font Weights
// ----------------------------------------------------------------------
$font-weight-bold: 700;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$montserrat: 'Montserrat',
sans-serif;
$open-sans: 'Open Sans',
sans-serif;
$roboto: 'Roboto';
// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
