/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file.
@import '~bootstrap/scss/bootstrap';*/

@import './variables';
@import './components';
* {
    font-family: $montserrat;
    i, .icon, .fas {
        font-family: unset !important;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';