<div class="departure-info">
  <div class="route">
    <b> {{ departure?.route.source.name }} </b> a
    <b> {{ departure?.route.destination.name }} </b>
  </div>
  <div class="info">
    <p> {{ departure?.departureDate.startDate | formatDate4 }} </p>
    <p> {{ departure?.departureDate.departureTime | formatHour2 }} </p>
    <p> {{ departure?.bus.type }} </p>
  </div>
</div>
<div class="mobile-reservation-info">
  <div class="status-card">
    <div class="seat-item">
      <img src="assets/icons/bus/seat-available.svg" loading="lazy">
      <div>
        <p> Disponible </p>
      </div>
    </div>
    <div class="seat-item">
      <img src="assets/icons/bus/seat-not-available.svg" loading="lazy">
      <div>
        <p> No disponible </p>
      </div>
    </div>
    <div class="seat-item">
      <img src="assets/icons/bus/seat-to-be-sold.svg" loading="lazy">
      <div>
        <p> En compra </p>
      </div>
    </div>
    <div class="seat-item">
      <img src="assets/icons/bus/seat-reserved.svg" loading="lazy">
      <div>
        <p> Reserva </p>
      </div>
    </div>
    <div class="seat-item">
      <img src="assets/icons/bus/seat-selected.svg" loading="lazy">
      <div>
        <p> Seleccionado </p>
      </div>
    </div>
  </div>
</div>
<div class="sales-wrapper">
  <div class="seating-schema">
    <app-sale-seating-scheme [departure]="departure"
      [selectedTickets]="selectedTickets"
      [selectedSocketTickets]="selectedSocketTickets"
      [disabledTicket]="disabledTicket"
      [selectionMode]="selectionMode"
      (selectSeatEvent)="selectSeat($event)"
      (unselectSeatEvent)="unselectSeat($event)"
      (reprintModeEvent)="reprintMode($event)"
      (enableSeatModeEvent)="enableSeatMode($event)"
      (printManifestEvent)="printManifest($event)">
    </app-sale-seating-scheme>
  </div>
  <div class="main-sale-info">
    <div class="reservation-info">
      <div class="seat-status" *ngIf="false">
        <div class="status-card">
          <div class="seat-item">
            <img src="assets/icons/bus/seat-available.svg" loading="lazy">
            <div>
              <p> Disponible </p>
              <p> Total:
                {{ totalAvailableSeats }}
              </p>
            </div>
          </div>
          <div class="seat-item">
            <img src="assets/icons/bus/seat-not-available.svg" loading="lazy">
            <div>
              <p> No disponible </p>
              <p> Total:
                {{ totalNotAvailableSeats }}
              </p>
            </div>
          </div>
          <div class="seat-item">
            <img src="assets/icons/bus/seat-reserved.svg" loading="lazy">
            <div>
              <p> Reserva </p>
              <p>
                Total:
                {{ totalReservedSeats }}
              </p>
            </div>
          </div>
          <div class="seat-item">
            <img src="assets/icons/bus/seat-selected.svg" loading="lazy">
            <div>
              <p> Seleccionado </p>
              <p> Total:
                {{ ticketsPaidArray?.length }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="seat-status-2">
        <div class="status-card">
          <div class="seat-item">
            <img src="assets/icons/bus/seat-available.svg" loading="lazy">
            <div>
              <p> Disponible </p>
            </div>
          </div>
          <div class="seat-item">
            <img src="assets/icons/bus/seat-not-available.svg" loading="lazy">
            <div>
              <p> No disponible </p>
            </div>
          </div>
          <div class="seat-item">
            <img src="assets/icons/bus/seat-to-be-sold.svg" loading="lazy">
            <div>
              <p> En compra </p>
            </div>
          </div>
          <div class="seat-item">
            <img src="assets/icons/bus/seat-reserved.svg" loading="lazy">
            <div>
              <p> Reserva </p>
            </div>
          </div>
          <div class="seat-item">
            <img src="assets/icons/bus/seat-selected.svg" loading="lazy">
            <div>
              <p> Seleccionado </p>
            </div>
          </div>
        </div>
      </div>
      <div class="to-pay" *ngIf="ticketsPaidArray.length > 0 &&
          selectionMode !== selectionModeEnum.ADDING_TICKET_BUYER">
        <div class="to-pay-card">
          <div>
            <i class="icon icon-credit-card mr-2"></i>
            <p> MONTO TOTAL </p>
          </div>
          <div>
            <p> Bs. {{ totalAmount | number: '1.2-2' }} </p>
            <div class="paid" *ngIf="false"><p> Pagado </p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="sale-info">
      <app-sales-table [ticketsPaidArray]="ticketsPaidArray"
        [selectionMode]="selectionMode"
        [selectedTickets]="selectedTickets"
        (moveSeatEvent)="moveSeat($event)"
        (moveSeatToBusEvent)="moveSeatToBus($event)"
        *ngIf="selectionMode !== selectionModeEnum.ADDING_TICKET_BUYER">
      </app-sales-table>
      <div class="confirm-invoice-section mt-3"
        *ngIf="selectionMode === selectionModeEnum.ADDING_TICKET_BUYER">
        <div class="confirm-table">
          <app-confirm-sales-table [ticketsPaidArray]="ticketsPaidArray"
            [personGroup]="personGroup">
          </app-confirm-sales-table>
        </div>
        <div class="confirm-to-pay" *ngIf="ticketsPaidArray.length > 0">
          <div class="to-pay-card">
            <div>
              <i class="icon icon-credit-card mr-2"></i>
              <p> MONTO TOTAL </p>
            </div>
            <div>
              <p> Bs. {{ totalAmount | number: '1.2-2' }} </p>
              <div class="paid" *ngIf="false"> <p> Pagado </p> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions mt-3" *ngIf="ticketsPaidArray.length > 0 &&
        selectionMode === selectionModeEnum.ADDING_AVAILABLE_SEATS">
        <div class="buttons">
          <button class="btn ovj-btn warning " type="button" (click)="reservSale()"
            [disabled]="!ticketsPaidArray.valid || transactionType">
            <ng-container *ngIf="!(transactionType === transactionTypeEnum.RESERVE)"> Reservar </ng-container>
            <div *ngIf="transactionType === transactionTypeEnum.RESERVE"
              class="spinner-border spinner-btn text-light" role="status">
            </div>
          </button>
          <button class="btn ovj-btn success" type="button"
            (click)="selectionMode = selectionModeEnum.ADDING_TICKET_BUYER"
            [disabled]="!ticketsPaidArray.valid || transactionType">
            <ng-container *ngIf="!(transactionType === transactionTypeEnum.INVOICE)"> Facturar </ng-container>
            <div *ngIf="transactionType === transactionTypeEnum.INVOICE"
              class="spinner-border spinner-btn text-light" role="status">
            </div>
          </button>
        </div>
      </div>
      <div class="actions mt-2" *ngIf="ticketsPaidArray.length > 0 &&
        selectionMode === selectionModeEnum.ADDING_AVAILABLE_SEATS ||
        selectionMode === selectionModeEnum.ENABLE_SEAT">
        <div class="buttons">
          <button class="btn ovj-btn danger" type="button" (click)="disableTickets()"
            *ngIf="!disabledTicket">
            Inhabilitar
          </button>
          <button class="btn ovj-btn primary" type="button" (click)="enableTicket()"
            *ngIf="disabledTicket">
            Habilitar
          </button>
          <button class="btn ovj-btn dark-primary" type="button" (click)="quoteSale()"
            *ngIf="selectionMode !== selectionModeEnum.ENABLE_SEAT"
            [disabled]="!ticketsPaidArray.valid || transactionType">
            <ng-container *ngIf="!(transactionType === transactionTypeEnum.QUOTE)"> Cotizar </ng-container>
            <div *ngIf="transactionType === transactionTypeEnum.QUOTE"
              class="spinner-border spinner-btn text-light" role="status">
            </div>
          </button>
        </div>
      </div>
      <div class="actions mt-3" *ngIf="ticketsPaidArray.length > 0 &&
        selectionMode === selectionModeEnum.ADDING_TICKET_BUYER">
        <div class="buttons">
          <button class="btn ovj-btn success" type="button" (click)="invoiceSale()"
          [disabled]="!personGroup.valid || transactionType">
          Facturar
        </button>
        <button class="btn ovj-btn secondary" (click)="selectionMode = selectionModeEnum.ADDING_AVAILABLE_SEATS">
          Volver
        </button>
        </div>
      </div>
      <div class="re-print-actions mt-3" *ngIf="selectionMode === selectionModeEnum.RE_PRINT">
        <div class="buttons">
          <button class="btn ovj-btn danger" type="button" (click)="rePrintTicket()">
            <i class="icon icon-print" *ngIf="!isMobile"></i>
            <i class="icon icon-download" *ngIf="isMobile"></i>
            <p> {{ (!isMobile) ? 'Reimprimir' : 'Boleto' }} </p>
          </button>
          <button class="btn ovj-btn danger dark" type="button"
            [disabled]="true">
            <i class="icon icon-trash"></i>
            <p> Anular venta </p>
          </button>
        </div>
        <div class="buttons" *ngIf="false">
          <button class="btn ovj-btn danger" type="button" (click)="rePrintTicket()">
            <img src="assets/icons/bus/move-to-another-seat.svg" loading="lazy">
            <p> Mover asiento en bus </p>
          </button>
          <button class="btn ovj-btn danger" type="button">
            <img src="assets/icons/bus/move-to-another-bus.svg" loading="lazy">
            <p> Mover a otro bus </p>
          </button>
        </div>
      </div>
      <app-reservation-table *ngIf="false">
      </app-reservation-table>
      <div class="actions mt-3" *ngIf="false">
        <div class="buttons">
          <button class="btn ovj-btn danger ml-2 " type="button">
            Mover asiento en bus
          </button>
          <button class="btn ovj-btn danger extra-mb ml-2" type="button">
            Mover a otro bus
          </button>
          <button class="btn ovj-btn light-danger ml-2" type="button">
            Eliminar reserva
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ticket-wrapper" *ngIf="paymentMethod">
  <ng-container [ngSwitch]="paymentMethod.kind">
    <div *ngSwitchCase="paymentMethodKindEnum.INVOICEABLE" id="ticketDoc" class="ticket">
      <app-default-invoice [paymentMethod]="paymentMethod"></app-default-invoice>
    </div>
    <div *ngSwitchCase="paymentMethodKindEnum.QUOTABLE" id="ticketDoc" class="ticket">
      <app-default-quote [paymentMethod]="paymentMethod"></app-default-quote>
    </div>
  </ng-container>
</div>
<div class="manifest-wrapper">
  <div id="manifestDoc" *ngIf="departure">
    <app-departure-manifest [departure]="departure"></app-departure-manifest>
  </div>
</div>