<button type="button" aria-label="Close"
  class="close-modal-btn btn btn-default"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="custom-card-info">
  <div class="selected-element content-item">
    <div class="principal">
      <p class="card-title"> Detalle Chófer </p>
      <img class="item-img"
        [src]="driver.user.imageUrl"
        loading="lazy">
      <p class="item-label"> {{ driver.user.name }} {{ driver.user.lastName }} </p>
      <p class="item-sub-label"> {{ driver.user.phone }} </p>
      <p class="item-sub-label"> {{ driver.user.email }} </p>
      <div class="actions">
        <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteDriver(driver)">
          Eliminar
        </button>
        <button class="ovj-btn btn btn-default orange" (click)="editDriver(driver)">
          Editar
        </button>
      </div>
    </div>
    <div class="divider"></div>
    <div class="detail">
      <p class="title"> Licencia de conducir </p>
      <div class="principal-row mt-3 mb-2">
        <div class="sub-row">
          <p> Categoría </p>
          <p> Grupo sanguíneo </p>
          <p> Lentes </p>
          <p> Audífonos </p>
        </div>
        <div class="sub-row">
          <p> {{ driver.driverLicense.category.charAt(0) }} </p>
          <p> {{ driver.driverLicense.bloodType }} </p>
          <p> {{ (driver.driverLicense.useGlasses) ? 'SI' : 'NO' }} </p>
          <p> {{ (driver.driverLicense.useHeadphones) ? 'SI' : 'NO' }} </p>
        </div>
      </div>
      <div class="secondary-row">
        <div class="sub-row">
          <p> N° Licencia </p>
          <p> Emitida </p>
          <p> Vencimiento </p>
        </div>
        <div class="sub-row">
          <p> {{ driver.driverLicense.licenseNumber }} </p>
          <p> {{ driver.driverLicense.emitAt | formatDate }} </p>
          <p> {{ driver.driverLicense.expireAt | formatDate }} </p>
        </div>
      </div>
      <div class="secondary-row">
        <div class="sub-row">
          <p> Género </p>
          <p> Nacimiento </p>
          <p> Nacionalidad </p>
        </div>
        <div class="sub-row">
          <p> {{ driver.driverLicense.gender }} </p>
          <p> {{ driver.driverLicense.birthAt | formatDate }} </p>
          <p> {{ driver.driverLicense.nationality }} </p>
        </div>
      </div>
    </div>
    <div class="divider mt-4 mb-3"></div>
    <div class="contacts-title mt-2">
      <p> Contactos de referencia </p>
    </div>
    <div class="reference-contacts mt-3 mb-2">
      <div class="contact container">
        <div class="row" *ngFor="let contact of driver.referenceContact"> 
          <div class="col-2">
            <div class="driver-img ">
              <img src="assets/icons/person-circle-1.svg" loading="lazy">
            </div>
          </div>
          <div class="col-8 driver-info">
            <p> {{ contact.fullName }} </p>
            <p> {{ contact.phone }} </p>
          </div>
          <div class="col-2">
            <span class="userContact"> {{ contact.description }} </span>
          </div>
        </div>
      </div>
      <!-- <div class="contact">
        <div class="driver-img">
          <img src="assets/icons/person-circle-1.svg" loading="lazy">
        </div>
        <div class="driver-info">
          <p> Armanda Almanza </p>
          <p> 77777777 </p>
        </div>
      </div>
      <div class="contact">
        <div class="driver-img">
          <img src="assets/icons/person-circle-1.svg" loading="lazy">
        </div>
        <div class="driver-info">
          <p> Armanda Almanza </p>
          <p> 77777777 </p>
        </div>
      </div> -->
    </div>
    <div class="mobile-actions">
      <button type="button" class="btn btn-default ovj-btn danger-bordered" (click)="deleteDriver(driver)">
        Eliminar
      </button>
      <button type="button" class="btn btn-default ovj-btn success-bordered" (click)="editDriver(driver)">
        Editar
      </button>
      <button type="button" class="btn btn-default ovj-btn orange" (click)="action.next(false)">
        Cerrar
      </button>
    </div>
  </div>
</div>