<form class="col-lg mt-4 px-0" autocomplete="off" [formGroup]="physicalCommissionGroup">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Tipo de operación <span class="text-danger">*</span></label>
        <ng-select class="ovj-input"
          formControlName="type">
          <ng-option *ngFor="let key of commissionTypeEnumKeys" [value]="commissionTypeEnum[key]">
            {{ commissionTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <div *ngIf="submitted && physicalCommissionForm.type.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="row">
        <div class="col-4">
          <div class="ovj-form">
            <label class="ovj-label">Valor<span class="text-danger">*</span></label>
            <input type="number" id="physicalCommisionValue" class="form-control ovj-input" formControlName="value"
              autocomplete="no" (keydown)="numberInputValidator($event)">
            <div *ngIf="submitted && physicalCommissionForm.value.errors" class=""></div>
          </div>
        </div>
        <div class="col-8">
          <div class="ovj-form">
            <label class="ovj-label">Tipo de comisión<span class="text-danger">*</span></label>
            <ng-select class="ovj-input"
              formControlName="operationType">
              <ng-option *ngFor="let key of commissionOperationTypeEnumKeys" [value]="commissionOperationTypeEnum[key]">
                {{ commissionOperationTypeEnum[key] }}
              </ng-option>
            </ng-select>
            <div *ngIf="submitted && physicalCommissionForm.operationType.errors" class=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>