@import 'variables';

.close-modal-btn {
  top: 2px;
  right: 2px;
}
.printing-sale-section {
  background-color: $color-c4c4c4;
  border-radius: 10px;
  display: flex;
  min-height: 300px;
  padding: 3rem 1rem;
  .ticket-wrapper {
    display: flex;
    justify-content: center;
    max-height: 1px;
    visibility: hidden;
    width: 0;
  }
  .actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .btn {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      &:first-child {
        background: linear-gradient(0deg, #FF533D, #FF533D), #A1EAA8;
        border-radius: 25px !important;
        color: $white;
        margin-bottom: 1rem;
      }
      &:last-child {
        background-color: $white;
        border: 1px solid #FF533D;
        border-radius: 25px !important;
        color: $black;
      }
    }
  }
}

@media print {
  .printing-sale-section {
    .ticket-wrapper {
      max-height: none;
      visibility: visible;
      width: 40%;
    }
  }
  .actions {
    width: 60%;
  }
}