<div class="modal-wrapper">
  <div class="content">
    <i class="icon icon-warning-signal mb-2"></i>
    <p class="title"> Asiento ocupado </p>
    <p class="message"> No se puede sobreescribir, pero puedes <b> intercambiar </b> asientos <b> avisando y si aceptan ambos pasajeros. </b> </p>
    <div class="seat-change-info mt-3">
      <div class="prev">
        <div class="seat-img">
          <img src="assets/icons/bus/template/seat-selected.svg" loading="lazy">
          <p> {{ selectedTicket.position | seatNumber }} </p>
        </div>
        <div class="detail">
          <p> {{ selectedTicket.passengerName }} </p>
          <p> CI: {{ selectedTicket.documentNumber }} </p>
          <p> Ruta: {{ actualDeparture?.route?.source.name }} > {{ actualDeparture?.route?.destination.name }} </p>
          <p> Fecha: {{ actualDeparture?.departureDate?.startDate | formatDate }} </p>
          <p> Precio: {{ actualDeparture?.price }} Bs/asiento. </p>
        </div>
        <div class="arrow-line"></div>
        <i class="ovj-arrow down"></i>
      </div>
      <div class="next">
        <div class="seat-img">
          <img src="assets/icons/bus/template/seat-selected.svg" loading="lazy">
          <p> {{ newTicket.position | seatNumber }} </p>
        </div>
        <div class="detail">
          <p> {{ newTicket.passengerName }} </p>
          <p> CI: {{ newTicket.documentNumber }} </p>
          <p> Ruta: {{ selectedDeparture?.route?.source.name }} > {{ selectedDeparture?.route?.destination.name }} </p>
          <p> Fecha: {{ selectedDeparture?.departureDate?.startDate | formatDate }} </p>
          <p> Precio: {{ selectedDeparture?.price }} Bs/asiento. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="actions mb-4">
    <button class="btn ovj-btn" type="button" (click)="action.next(false)">
      Atrás
    </button>
    <button class="btn ovj-btn" type="button" (click)="action.next(true)">
      Guardar
    </button>
  </div>
</div>