<div class="ovj-form" [formGroup]="ticketGroup.controls.person">
  <ng-select [id]="'passengerName'+ticketGroup.value.position"
    class="ovj-input passengerNameSelect"
    formControlName="name"
    notFoundText="Sin coincidencias"
    (search)="passengerNameOnChanges($event)">
    <ng-option *ngFor="let person of persons" [value]="person.name">
      {{ person.name }}
    </ng-option>
  </ng-select>
</div>