<div class="card-payment card">
  <div class="card-header">
    <div class="row">
      <div class="col-12 text-center">
        <p class="client-text-800">
          Llena los datos de la tarjeta para proseguir
          <br class="d-md-block d-none">
          con el pago
        </p>
      </div>
    </div>
  </div>
  <div class="card-body mb-3">
    <div class="row offset-md-2">
      <div class="card-img col-md-3 col-12 align-self-center text-center">
        <i class="icon icon-credit-card mb-2"></i>
        <img class="abs-img"
          src="assets/icons/client/visa-master-card-lg.svg"
          loading="lazy">
      </div>
      <div class="col-md-6 col-12">
        <app-card-payment-form></app-card-payment-form>
        <div class="to-pay d-flex justify-content-end mt-md-1 mt-4 mb-3">
          <p class="client-text-primary client-text-800"> Total: </p>
          <p class="amount client-text-dark-primary client-text-large client-text-800"> 100bs </p>
        </div>
        <button type="button" class="btn ovj-btn-orange-3 font-weight-bold"
          (click)="onSubmit()">
          Pagar
        </button>
      </div>
    </div>      
  </div>
</div>