<form class="col-lg mt-4 px-0" autocomplete="off" [formGroup]="busPropietaryGroup">
  <div class="text-center mb-2">
    <h6 class="ovj-form-title">Información del Propietario</h6>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Nombres<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="name"
          [ngClass]="{'is-invalid': submitted && busPropietaryForm.name.errors}">
        <div class="invalid-feedback" *ngIf="busPropietaryForm.name.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="busPropietaryForm.name.errors?.pattern">Ingresé sólo letras</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Apellidos<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="lastName"
          [ngClass]="{'is-invalid': submitted && busPropietaryForm.lastName.errors}">
        <div class="invalid-feedback" *ngIf="busPropietaryForm.lastName.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="busPropietaryForm.lastName.errors?.pattern">Ingresé sólo letras</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Celular<span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="phone"
          [ngClass]="{'is-invalid': submitted && busPropietaryForm.phone.errors}"
          (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="busPropietaryForm.phone.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="busPropietaryForm.phone.errors?.min">Mínimo 7 números</div>
        <div class="invalid-feedback" *ngIf="busPropietaryForm.phone.errors?.max">Máximo 12 números</div>
      </div>
    </div>
  </div>
</form>