@import 'variables';

.travel-routes {
  p {
    margin-bottom: 0;
    font-style: normal;
  }
  .header {
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .title {
      p {
        color: $color-042b63;
        font-size: 36px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .add-button {
      display: flex;
      justify-content: flex-end;
      .btn {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: 225px;
        i.icon {
          font-size: 18px;
          font-weight: bolder;
          margin-right: 10px;
          &::before {
            color: $white;
          }
        }
      }
    }
  }
  .content {
    margin-top: 12px;
    margin-bottom: 30px;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .ovj-custom-table {
      thead {
        th {
          &:nth-child(3) {
            width: 120px;
          }
        }
      }
    }
    .custom-card-info {
      .selected-element {
        .detail {
          .bus-stop {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            margin-top: 18px;
            padding: 0 5px;
            position: relative;
            .trace-line {
              border-right: 4px solid $color-1a73e9;
              height: 100%;
              left: 26px;
              position: absolute;
              top: 50%;
              width: 1px;
            }
            .trace {
              align-items: center;
              display: flex;
              .img-wrapper {
                background-color: lightgrey;
                border-radius: 50%;
                height: 46px;
                margin-right: 5px;
                width: 46px;
                z-index: 1;
                img {
                  border-radius: 50%;
                  height: 46px;
                  margin-right: 5px;
                  width: 46px;
                }
              }
              .info {
                width: calc(100% - 51px);
                p {
                  &:first-child {
                    color: $black;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 16px;
                  }
                  &:last-child {
                    color: $color-042b63;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 24px;
                  }
                }
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
            .estimation {
              min-width: 75px;
              p {
                &:first-child {
                  color: $black;
                  font-size: 12px;
                  font-weight: normal;
                  line-height: 16px;
                }
                &:last-child {
                  color: $color-042b63;
                  font-size: 16px;
                  font-weight: normal;
                  line-height: 24px;
                }
              }
            }
          }
          .desc-title {
            color: $black;
            font-size: 12px;
            font-weight: normal;
            line-height: 16px;
            margin-top: 15px;
          }
          .desc-content {
            color: $color-a0a1a8;
            font-size: 18px;
            font-style: italic;
            font-weight: 300;
            line-height: 23px;
          }
        }
      }
    }
  }
  .mobile-items-table {
    display: none;
    .header {
      .header-element {
        &:first-child {
          width: 75%;
        }
        &:last-child {
          width: 25%;
        }
      }
    }
    .card-item {
      background-color: $white;
      border-radius: 10px;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      margin-bottom: 3px;
      padding: 15px 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .item {
        .bus-stop {
          align-items: center;
          display: flex;
          width: 75%;
          p {
            &:first-child {
              color: $color-92949C;
              font-size: 12px;
              font-weight: 300;
              line-height: 16px;
              margin-right: 2px;
            }
            &:last-child {
              color: $color-042b63;
              font-size: 18px;
              font-weight: normal;
              line-height: 23px;
            }
          }
        }
        .estimation {
          width: 25%;
          p {
            color: $color-042b63;
            font-weight: 300;
            font-size: 18px;
            line-height: 23px;
          }
        }
      }
    }
  }
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 30vh;
      margin-bottom: 15vh;
    }
  }
}

@media screen and (max-width: $break-large) {
  .travel-routes {
    .header {
      .title {
        p {
          color: $color-3c64b1;
          font-size: 36px;
          font-weight: 500;
          line-height: 24px;
        }
      }
      .add-button {
        display: none;
      }
    }
    .content {
      display: none;
    }
    .mobile-items-table {
      display: flex;
    }
  }
}