<form class="oviajamos-client-form container py-1 px-4" autocomplete="off" [formGroup]="personGroup">
  <div class="row mt-1">
    <div class="col-lg-6 col-12 pr-lg-1">
      <div class="ovj-form">
        <label class="ovj-label">Nombre Completo<span class="text-danger">*</span></label>
        <input type="text" id="buyerName" class="form-control ovj-input with-icon" formControlName="name">
        <i class="icon icon-person input-icon"></i>
      </div>
    </div>
    <div class="col-lg-6 col-12 pl-lg-1">
      <div class="ovj-form">
        <label class="ovj-label">Documento de identidad<span class="text-danger">*</span></label>
        <input type="number" id="documentNumber" class="form-control ovj-input with-icon" formControlName="documentNumber"
          (keydown)="numberInputValidator($event)">
          <i class="icon icon-id-card input-icon"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12 pr-lg-1">
      <div class="ovj-form">
        <label class="ovj-label">Celular<span class="text-danger">*</span></label>
        <input type="number" id="phone" class="form-control ovj-input with-icon" formControlName="phone"
          (keydown)="numberInputValidator($event)">
          <i class="icon icon-phone input-icon"></i>
      </div>
    </div>
    <div class="col-lg-6 col-12 pl-lg-1" *ngIf="false">
      <div class="ovj-form">
        <label class="ovj-label">Correo</label>
        <input type="text" id="email" class="form-control ovj-input with-icon" formControlName="email">
          <i class="icon icon-email input-icon"></i>
      </div>
    </div>
  </div>
</form>