<div class="modal-wrapper">
  <div class="content">
    <i class="icon icon-warning-signal mb-2"></i>
    <p class="title"> Reserva </p>
    <p class="message"> Tiene que completar la venta antes de la hora límite caso contrario <b> se anulará la reserva </b>. </p>
    <form class="oviajamos-form" autocomplete="off" [formGroup]="reserveGroup">
      <div class="ovj-form mb-2">
        <label class="ovj-label"> Adelanto <span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="advancePayment"
          [ngClass]="{'is-invalid': submitted && reserveForm.advancePayment.errors}"
          (keydown)="floatInputValidator($event)">
        <div class="invalid-feedback" *ngIf="reserveForm.advancePayment.errors?.required">Campo obligatorio</div>
      </div>
      <div class="ovj-form">
        <label class="ovj-label">Hora límite para completar la reserva:</label>
        <ngb-timepicker formControlName="timeLimit"
          class="d-flex justify-content-center"
          [spinners]="false"
          [ngClass]="{'is-invalid': submitted && reserveForm.timeLimit.errors}">
        </ngb-timepicker>
        <div class="invalid-feedback" *ngIf="reserveForm.timeLimit.errors?.required">Campo obligatorio</div>
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="btn ovj-btn" type="button" (click)="action.next(false)">
      Atrás
    </button>
    <button class="btn ovj-btn" type="button" (click)="submitReserve()">
      Reservar
    </button>
  </div>
</div>