<div class="client-bg"></div>
<div class="container home-content">
    <div class="row">
      <div class="col-12 text-center slogan-container mb-4">
        <img class="d-md-block d-none mx-auto"
          src="assets/images/client/ovj-slogan.svg"
          loading="lazy">
        <img class="d-md-none d-block mx-auto"
          src="assets/images/client/ovj-slogan-mobile.svg"
          loading="lazy">
      </div>
      <div class="col-10 offset-1">
        <div class="card search-form">
          <div class="text-center mt-3 form-title-container">
            <h5 class="client-text-dark-primary client-text-800">Hola: ¿A dónde te gustaría ir?</h5>
          </div>
          <app-travel-form></app-travel-form>
          <div class="text-center mb-2 px-4">
            <button class="btn ovj-btn-orange-3 mb-1" type="submit" (click)="onSubmit()">Buscar</button>
          </div>
        </div>
      </div>
    </div>
</div>
