@import 'variables';

.footer-section {
  background: $color-042b63;
  padding: 25px 15px;

  @media screen and (max-width: $break-small) {
  }

  .pages-section {
    width: 100%;
    padding: 15px 10px;

    .title {
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 110%;
    }
  }

  .social-terms {
    width: 100%;
    padding: 15px 10px;

    .icon-paragraft {

      display: flex;
      margin-bottom: 10px;

      .icon {
        color: $white;
        font-size: 20px;
        margin-right: 10px;
      }

      p {
        margin: 0;
      }
    }
  }
}

h1, p, span {
  color: $white;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
}

