<div class="container  shadow-lg p-3 mb-5 bg-white rounded" >
  <div class="row">        
    <div class='col-12 ovj-banner'>
      <img class="d-md-flex"
        src="assets/images/oviajamos-banner.svg"
        loading="lazy">
      <p class="title m-0">Perfil</p>
    </div>
    
    <div class="col-md-2 col-12 list-group left-menu">

      <li class="list-group-item list-group-item-action" >  
        <a class='activate' routerLink="info-company"> Información de la empresa</a>
      </li>

      <li class="list-group-item list-group-item-action" >
        <a class='activate' routerLink="info-admin"> Información del administrador</a>
      </li>

      <li class="list-group-item list-group-item-action" >
        <a class='activate' routerLink="change-password"> Cambiar contraseña</a>
      </li>
    </div>
    
    <div class='col-md-10 col-12'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>