@import 'variables';

.color-text{
  color: $color-042b63;
  font-weight: 400;
  font-size: 18px;
}


.pagination {
  display: flex;
  justify-content: center;
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 40vh;
    }
  }
}

.buses {
  p {
    margin-bottom: 0;
    font-style: normal;
  }
  .header {
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .title {
      p {
        color: $color-042b63;
        font-size: 36px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .add-button {
      display: flex;
      justify-content: flex-end;
      .btn {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: 225px;
        i.icon {
          font-size: 18px;
          font-weight: bolder;
          margin-right: 10px;
          &::before {
            color: $white;
          }
        }
      }
    }
  }
  .content {
    margin-top: 12px;
    margin-bottom: 30px;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .ovj-custom-table {
      tbody {
        tr {
          td {
            padding: 15px;
          }
        }
      }
    }
    .custom-card-info {
      .content-item {
        .principal {
          hr {
            height: 0;
            width: 100%;
            border: 1px solid $color-c4c4c4;
          }
          .seating-scheme {
            align-items: center;
            display: flex;
            filter: invert(45%) sepia(75%) saturate(4265%) hue-rotate(209deg) brightness(106%) contrast(102%) !important;
            flex-direction: column;
            justify-content: center;
            position: relative;
            p {
              font-style: normal;
              margin: 0;
              &:nth-child(2) {
                font-size: 24px;
                font-weight: 300;
                line-height: 24px;
                position: absolute;
                top: 28px;
              }
              &:nth-child(3) {
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                position: absolute;
                top: 52px;
              }
            }
          }
          button {
            height: 36px;
            width: 188px;
            border-radius: 4px;
          }
          .ovj-btn {
            border-radius: 4px !important;
          }
          div > span {
            font-family: IBM Plex Sans;
            font-size: 12px;
            text-align: center;
            color: $color-3880ff;
          }
          div > h2 {
            color: $color-3880ff;
            font-size: 50px;
            text-align: center;
          }
          .ovj-custom-table {
            .title-colum {
              color: rgba(0, 0, 0, 0.87);
              font-family: IBM Plex Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
            }
            .body-table {
              font-family: IBM Plex Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: $color-042b63;
              cursor: default;
            }
          }
        }
      }
    }
  }
  .mobile-items-table {
    display: none;
    .header {
      .header-element {
        &:first-child {
          width: 100%;
        }
                
      }
    }
    .card-item {
      background-color: $white;
      border-radius: 10px;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      margin-bottom: 3px;
      padding: 15px 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .item {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding: 0 8px;
        .custom-row {
          align-items: flex-end;
          display: flex;
          justify-content: space-between;
          width: 100%;
          &:first-child {
            margin-bottom: 5px;
          }
          p {
            color: $color-042b63; 
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            line-height: 21px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .buses {
    .custom-card-info{
      display: none;
    }

    .header {
      .title {
        p {
          color: $color-3c64b1;
          font-size: 36px;
          font-weight: 500;
          line-height: 35px;
        }
      }
      .add-button {
        display: none;
      }
    }

    .mobile-items-table {
      display: flex;
    }

  }
}
