<section class="buses">
  <div class="container">
    <div class="header row">
      <div class="title col-8">
        <p> Plantilla de Vehículos </p>
      </div>
      <div class="add-button col-3">
        <button type="button" class="ovj-btn orange btn btn-default"
          (click)="addBusTemplate()">
          <i class="icon icon-plus"></i>
          <p> Añadir vehículo </p>
        </button>
      </div>
    </div>
    <div class="content row">
      <div class="col-12 col-lg-7">
        <div class="ovj-custom-table"> 
          <table class="table">
            <thead>
              <tr>
                <th>
                  <div class="header-element">
                    <i class="icon icon-sort-arrow "></i>
                    <p class="d-none d-sm-block"> Nombre de Platilla </p>
                    <p clas="d-block d-sm-none"> Matricula</p>
                  </div>
                </th>
                <th>
                  <div class="header-element">
                    <i class="icon icon-sort-arrow mr-1 d-none d-sm-block"></i>
                    <p class=" d-none d-sm-block"> Pisos </p>
                  </div>
                </th>
                <th>
                  <div class="header-element">
                    <i class="icon icon-sort-arrow mr-1 d-none d-sm-block"></i>
                    <p class="d-none d-sm-block"> Asientos </p>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
                <tr *ngIf="loadingSeatingSchemes">
                  <td colspan="4">
                    <app-spinner-small></app-spinner-small>
                  </td>
                </tr>
                <tr *ngFor="let index=index; let seatingScheme of: seatingSchemes"
                  (click)="selectBus(seatingScheme)"
                  (click)="showMovilDetail(seatingScheme)">
                  <td class="top-shadow">
                    <div class="d-flex align-items-center pt-2">
                      <img
                        class="d-none d-sm-block mr-1"
                        src="assets/images/unselected-bus.svg"
                        width="50px"
                        height="50px"
                      />
                      <p class="text-sm-left"> {{ seatingScheme.busName }} </p>
                    </div>
                  </td>
                  <td class="top-shadow">
                    <div class="pt-3 d-none d-sm-block">
                      <p class="color-text text-center"> {{ seatingScheme.floors.length }} </p>
                    </div>
                  </td>
                  <td class="top-shadow">
                    <div class="pt-3 d-none d-sm-block">
                      <p class="color-text text-center"> {{ seatingScheme.totalSeats }} </p>
                    </div>
                    <div class="d-block d-sm-none">
                      <p class="text-right"> <span class="color-text" > Asientos: </span> {{ seatingScheme.totalSeats }} </p>
                      <p class="text-right"> <span class="color-text"> Pisos: </span> {{ seatingScheme.floors.length }} </p>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="paginator">
            <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
              [page]="paginationMeta?.currentPage"
              [boundaryLinks]="true"
              (pageChange)="pageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5">
        <div class="custom-card-info">
          <div class="unselected-element header-item" *ngIf="!selectedSeatingScheme">
            <img src="assets/images/unselected-bus.svg"/>
            <p>Seleccione un bus para visualizar</p>
          </div>
          <div class="selected-element content-item" *ngIf="selectedSeatingScheme">
            <div class="principal">
              <p class="item-label mb-3">Información de platilla</p>
              <div class="seating-scheme selected">
                <img class="d-none d-sm-block" src="assets/icons/bus/template/template-wrapper.svg">
                <p class="seats"> {{ selectedSeatingScheme.totalSeats }} </p>
                <p class="seats-label"> Asientos </p>
              </div>
              <span class="mb-3"> {{ selectedSeatingScheme.busName }}<span > {{ selectedSeatingScheme.totalSeats }}</span></span>
              <button
                class="ovj-btn btn btn-default orange"
                (click)="showBus()"
              >
                Ver plantilla
              </button>
              <hr class="line-x">
              <section class="col-12 p-0 ovj-custom-table">
                <table>
                  <thead>
                    <tr>
                      <th><span class="title-colum">Tipo móvil</span></th>
                      <th><span class="title-colum">Pisos</span></th>
                      <th><span class="title-colum">Asientos</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="body-table"
                          >{{ selectedSeatingScheme.busName }}
                        </span>
                      </td>
                      <td>
                        <span class="body-table"
                          >{{ selectedSeatingScheme.floors.length }}
                        </span>
                      </td>
                      <td>
                        <span class="body-table"
                          >{{ selectedSeatingScheme.totalSeats }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
              <div class="actions">
                <button
                  class="btn btn-default ovj-btn dark-orange-bordered"
                  (click)="
                    deleteSeatingScheme(selectedSeatingScheme); $event.preventDefault()
                  "
                >
                  Eliminar
                </button>
                <button
                  class="btn btn-default ovj-btn light-blue-bordered"
                  (click)="
                    editSeatingScheme(selectedSeatingScheme); $event.preventDefault()
                  "
                >
                  Editar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <button type="button" class="mobile-floating-btn ovj-btn-circle options-btn btn btn-default"
    (click)="addBusTemplate()">
    <i class="icon icon-plus-2"></i>
  </button>
