@import 'variables';

.background-font{
  border-radius: 10px;
  .height-main {
    width: 50%;
    height: 250px;
  }
  .image-wrapper {
    padding: 0;
    width: 100%;
    label {
      height: 100%;
      margin: 0;
      width: 100%;
      .label-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
        .bus-image {
          border-radius: 10px;
          height: 248px;
          width: 100%;
        }
      }
    }
  }
  .border-point{
    background: $color-e5e5e5;
    border: 1px dashed $color-e5e5e5;
    border-radius: 10px;
  }
  .center-content{
    align-items: center;  
    border: 1px solid gray;
    border-style: dashed;
    cursor: pointer;
    display: flex;
    justify-content: center;
    label {
      cursor: inherit;
    }
  }
  .aline-center-colum{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-format{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
  .dimension-image{
    width:"90px";
    height:"90px"
  }
  .ovj-btn.orange {
    border-radius: 25px !important;
    margin-bottom: 15px;
  }
}
