<button type="button" class="close-modal-btn btn btn-default" (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<form class="container background-font border-color oviajamos-form py-0 px-lg-3">
  <div class="mt-4">
    <div class="row m-3 ">
      <div class="image-wrapper height-main border-point mt-3 center-content col-12">
        <label for="primary-image" class="text-format">
          <div class="label-content">
            <input id="primary-image" class="d-none" type="file" name="bus" (change)="setImage($event)" >
            <img class="bus-image"
              [src]="defaultImage"
              *ngIf="defaultImage">
            <ng-container *ngIf="!defaultImage">
              <img class="dimension-image" id="primary-image"
                src="assets/images/Add-Image.svg"
                alt="first image" >
              Subir foto de bus
            </ng-container>
          </div>
        </label>
      </div>
      <div *ngIf="excededImageSize">
        <span class="ovj-mesage-error">La imagen no debe exceder 2Mb</span>
      </div>
      <div class="image-wrapper height-main border-point mt-3 center-content col-12">
        <label for="primary-image-2" class="text-format">
          <div class="label-content">
            <input id="primary-image-2" class="d-none" type="file" name="bus2" (change)="setImage2($event)" >
            <img class="bus-image"
              [src]="defaultImage2"
              *ngIf="defaultImage2">
            <ng-container *ngIf="!defaultImage2">
              <img class="dimension-image" id="primary-image" src="assets/images/Add-Image.svg" alt="second image">   
              Subir foto de interior del bus
            </ng-container>
          </div>
        </label>
      </div>
      <div *ngIf="excededImageSize2">
        <span class="ovj-mesage-error">La imagen no debe exceder 2Mb</span>
      </div>
      <div class="col-12 d-flex flex-row-reverse">
        <button class="ovj-btn orange btn btn-default mt-3 rounded"
          [disabled]="editMode || !(imageFile || imageFile2)"
          (click)="onSubmit()"
          ngbAutoFocus>
          Guardar
        </button>
      </div>
    </div>
  </div>
</form>
