<section class="buses">
  <div class="container">
    <div class="header row">
      <div class="title col-3">
        <p> Vehículos </p>
      </div>
      <div class="add-button col-3">
        <button type="button" class="ovj-btn orange btn btn-default"
          (click)="addBus()">
          <i class="icon icon-plus"></i>
          <p> Añadir vehículo </p>
        </button>
      </div>
    </div>
    <div class="content row">
      <div class="col-7">
        <div class="ovj-custom-table">
          <table>
            <thead>
              <tr>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow"></i>
                  <p> Matrícula </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Tipo </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Asientos </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Estado </p>
                </div> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loadingBuses">
                <td colspan="4">
                  <app-spinner-small></app-spinner-small>
                </td>
              </tr>
              <ng-container *ngIf="!loadingBuses">
                <tr *ngFor="let bus of buses; let i=index; let first=first"
                  [ngClass]="{'selected': bus.busId === selectedBus?.busId}"
                  (click)="selectBus(bus)">
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> {{ bus.licensePlate }} </p>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> {{ bus.type }} </p>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> {{ bus.seatingScheme.totalSeats }} </p>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p [ngClass]="{'text-success': bus.status === busStatusEnum.ACTIVE}"> {{ bus.status }} </p>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="paginator">
            <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
              [page]="paginationMeta?.currentPage"
              [boundaryLinks]="true"
              (pageChange)="pageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="custom-card-info">
          <div class="unselected-element header-item" *ngIf="!selectedBus">
            <img src="assets/images/unselected-bus.svg" loading="lazy">
            <p> Seleccione un bus para visualizar </p>
          </div>
          <div class="selected-element content-item" *ngIf="selectedBus">
            <div class="principal">
              <p class="item-label pb-4"> Información de vehículo</p>
              <img [src]="selectedBusImage || 'assets/images/unselected-bus.svg'"
                class="rounded-circle"
                loading="lazy"
                width="113px"
                height="113px">
              <div class="actions">
                <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteBus(selectedBus)">
                  Eliminar
                </button>
                <button class="ovj-btn btn btn-default orange" (click)="editBus(selectedBus)">
                  Editar
                </button>
              </div>
            </div>
            <div class="detail mt-4">
              <div class="custom-row">
                <div class="sub-row">
                  <p> Tipo móvil </p>
                  <p> Matrícula/Placa </p>
                </div>
                <div class="sub-row">
                  <p> {{ selectedBus.type }} </p>
                  <p> {{ selectedBus.licensePlate }} </p>
                </div>
              </div>
              <div class="custom-row">
                <div class="sub-row">
                  <p> Asientos </p>
                  <p> Estado </p>
                </div>
                <div class="sub-row">
                  <p> {{ selectedBus.seatingScheme.totalSeats }} </p>
                  <p [ngClass]="{'text-success': selectedBus.status === busStatusEnum.ACTIVE}"> {{ selectedBus.status }} </p>
                </div>
              </div>
              <div class="sub-title my-4">
                <p> Información de propietario </p>
              </div>
              <div class="item-info">
                <p> Nombre y Apellido </p>
                <p> {{ selectedBus.busPropietary.name }} {{ selectedBus.busPropietary.lastName }} </p>
              </div>
              <div class="item-info">
                <p> Celular </p>
                <p> {{ selectedBus.busPropietary.phone }} </p>
              </div>
            </div>
            <div class="bus-actions">
              <button class="btn btn-default ovj-btn light-blue-bordered" (click)="showSeatingScheme()">
                Ver plantilla
              </button>
              <button class="btn btn-default ovj-btn success-bordered" (click)="showBusDetail()">
                Ver fotografía
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-items-table row">
      <div class="col-12">
        <div class="header">
          <div class="header-element">
            <p> Matrícula </p>
          </div>
        </div>
        <div class="card-item" *ngIf="loadingBuses">
          <app-spinner-small> </app-spinner-small>
        </div>
        <ng-container *ngIf="!loadingBuses">
          <div class="card-item" *ngFor="let bus of buses; let i=index; let first=first"
            (click)="showDetail(bus)">
            <div class="item">
              <div class="custom-row">
                <p> {{ bus.licensePlate }} </p>
                <p> Asientos: {{ bus.seatingScheme.totalSeats }} </p>
              </div>
              <div class="custom-row">
                <p> {{ bus.type }} </p>
                <p [ngClass]="{'text-success': bus.status === busStatusEnum.ACTIVE}"> {{ bus.status }} </p>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="paginator">
          <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
            [page]="paginationMeta?.currentPage"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="mobile-floating-btn ovj-btn-circle options-btn btn btn-default"
    (click)="addBus()">
    <i class="icon icon-plus-2"></i>
  </button>
</section>
