<section class="ticket-holders">
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex" src="assets/images/oviajamos-banner.svg" loading="lazy">
        <p class="title m-0">Buses</p>
      </div>
    </div>
    <button class="btn ovj-btn-add-item border px-2 mt-3"
      (click)="addBus()">
      <div class="add-item-content d-flex align-items-center">
        <div class="rounded-circle">
          <i class="icon icon-plus"></i>
        </div>
        <p>Añadir Buses</p>
      </div>
    </button>
    <div class="row">
      <div class="col-12">
        <app-spinner-small *ngIf="loadingBuses"></app-spinner-small>
        <table class="ovj-desktop-table table-responsive-lg" *ngIf="!loadingBuses">
          <thead>
          <tr>
            <th *ngFor="let col of colsTable; let i=index"
                (click)="orderTableBy(i)">
              <img src="assets/icons/order-arrow-down-enabled.svg"
                *ngIf="col.orderBy"
                loading="lazy">
              <img src="assets/icons/order-arrow-down-disabled.svg"
                *ngIf="!col.orderBy"
                loading="lazy">
              <img [src]="col.extraImg"
                *ngIf="col.extraImg"
                loading="lazy">
              {{col.name}}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container
            *ngFor="let i=index; let bus of buses">
            <tr class="ovj-tr btn border shadow-sm"
              (click)="showDetail(bus, $event)"
              [ngClass]="{'ovj-bg-secondary': bus.status === busStatusEnum[busStatusEnumKeys[1]],
                'ovj-bg-warning': bus.status === busStatusEnum[busStatusEnumKeys[2]]}">
              <td>
                <div class="d-flex align-items-center">
                  <img class="td-image rounded-circle" [src]="bus.imageUrl" loading="lazy">
                  <p class="ovj-text-primary">{{bus.licensePlate}}</p>
                </div>
              </td>
              <td><p class="ovj-text-primary">{{bus.seatingScheme?.busName}}</p></td>
              <td><p class="ovj-text-primary">{{bus.busPropietary.name}} {{bus.busPropietary.lastName}}</p></td>
              <td>
                <div class="d-flex">
                  <img class="seats-icon mr-2" src="assets/icons/bus-seats.svg" loading="lazy">
                  <p class="ovj-text-primary my-auto">{{bus.seatingScheme?.totalSeats}}</p>
                </div>
                <div class="d-flex" *ngIf="false">
                  <span placement="bottom" theme="light" [tooltip]="HtmlContent" content-type="template" (click)="$event.stopPropagation()">
                    <div class="d-flex">
                      <img class="seats-icon mr-2" src="assets/icons/bus-seats.svg" loading="lazy">
                      <p class="ovj-text-primary my-auto">{{bus.seatingScheme?.totalSeats}}</p>
                    </div>
                  </span>
                  <ng-template #HtmlContent>
                    <div [ngSwitch]="bus.seatingScheme">
                      <div *ngSwitchCase="10">
                        <img src="assets/images/B10.svg" loading="lazy">
                      </div>
                      <div *ngSwitchCase="12">
                        <img src="assets/images/B12.svg" loading="lazy">
                      </div>
                      <div *ngSwitchCase="14">
                        <img src="assets/images/B14.svg" loading="lazy">
                      </div>
                    </div>
                  </ng-template>
                </div>
              </td>
              <td>
                <i class="icon icon-sort-arrow"></i>
                <i class="icon icon-settings-outline ml-2 mr-1"
                  *ngIf="bus.status === busStatusEnum[busStatusEnumKeys[2]]">
                </i>
                <div class="btn-group" ngbDropdown>
                  <div ngbDropdownToggle class="d-flex" (click)="$event.preventDefault()"
                    [ngClass]="{'disabled': modifying.includes(bus.busId)}">
                    <i class="fa fa-circle status-circle mr-1"
                      *ngIf="bus.status !== busStatusEnum[busStatusEnumKeys[2]]"
                      [ngClass]="{'text-success': bus.status === busStatusEnum[busStatusEnumKeys[0]],
                        'text-secondary': bus.status === busStatusEnum[busStatusEnumKeys[1]]}">
                    </i>
                    <p class="m-0" [ngClass]="{'text-success': bus.status === busStatusEnum[0],
                      'text-secondary': bus.status === busStatusEnum[1],
                      'ovj-text-orange': bus.status == busStatusEnum[2]}">
                      {{bus.status}}
                    </p>
                  </div>
                  <div ngbDropdownMenu class="dropdown-menu">
                    <ng-container *ngFor="let key of busStatusEnumKeys">
                      <a ngbDropdownItem class="d-flex pl-0"
                        *ngIf="bus.status !== busStatusEnum[key]"
                        (click)="setBusStatus(bus, key); $event.preventDefault()">
                        <i class="fa fa-circle status-circle"
                          [ngClass]="{'text-success': key === busStatusEnumKeys[0],
                            'text-secondary': key === busStatusEnumKeys[1],
                            'ovj-text-orange': key == busStatusEnumKeys[2]}">
                        </i>
                        <p> {{ busStatusEnum[key] }} </p>
                      </a>
                    </ng-container>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-end" *ngIf="!modifying.includes(bus.busId)">
                  <button type="button" class="td-circle-btn btn btn-default btn-circle btn-lg mr-1">
                    <img src="assets/icons/collapse-icon.svg"
                      *ngIf="bus.showDetail"
                      loading="lazy">
                    <img src="assets/icons/collapse-toggle-icon.svg"
                      *ngIf="!bus.showDetail"
                      loading="lazy">
                  </button>
                  <div class="btn-group" ngbDropdown>
                    <button ngbDropdownToggle
                      type="button"
                      class="ovj-btn-circle options-btn btn btn-default"
                      (click)="$event.preventDefault()">
                      <div class="rounded-circle">
                        <i class="icon icon-options"></i>
                      </div>
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                      <a ngbDropdownItem (click)="editBus(bus); $event.preventDefault()">
                        Editar
                      </a>
                      <a ngbDropdownItem (click)="deleteBus(bus); $event.preventDefault()">
                        Eliminar
                      </a>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-center pr-2" *ngIf="modifying.includes(bus.busId)">
                  <div class="spinner-border spinner-btn ovj-primary-spinner" role="status"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="6">
                <div class="ovj-tr-detail tr-status rounded shadow-sm border" [ngClass]="{'show': bus.showDetail}">
                  <h6 class="detail-title ovj-text-primary">
                    Más información del propietario
                  </h6>
                  <div class="row justify-content-between mb-1">
                    <div class="col-4 text-left mb-3 pl-1">
                      <p class="text-muted ovj-text-xs">CI Propietario</p>
                      <p class="ovj-text-primary">{{bus.busPropietary.documentNumber}}</p>
                    </div>
                    <div class="col-4 text-left mb-3 pl-1">
                      <p class="text-muted ovj-text-xs">Celular</p>
                      <div class="d-flex align-items-center">
                        <p class="text-muted">{{bus.busPropietary.phone}} </p>
                        <p class="pl-1 ovj-text-primary">{{bus.busPropietary.cellphone}}</p>
                      </div>
                    </div>
                    <div class="col-4 text-left mb-3 pl-1">
                      <p class="text-muted ovj-text-xs">CI Dirección</p>
                      <p class="ovj-text-primary">{{bus.busPropietary.address}} </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination">
  </div>
</section>