<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="enterpriseGroup">
  <div class="mb-form ovj-input-file">
    <div class="image-circle-container">
      <img [src]="dafaultImage"
        class="view-photo"
        loading="lazy">
      <img class="camera-icon"
        src="assets/icons/camera-icon.svg"
        loading="lazy">
      <input type="file" accept=".png, .jpg, .jpeg" formControlName="imageUrl" (change)="setImage($event)">
    </div>
    <div *ngIf="excededImageSize">
      <span class="ovj-mesage-error">La imagen no debe exceder 2Mb</span>
    </div>
  </div>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información de Empresa</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Nombre de empresa<span class="text-danger">*</span></label>
        <input type="text" id="name" class="form-control ovj-input" formControlName="name">
        <div *ngIf="submitted && enterpriseForm.name.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Tipo de empresa<span class="text-danger">*</span></label>
        <ng-select class="ovj-input"
          formControlName="type">
          <ng-option *ngFor="let key of enterpriseTypeEnumKeys" [value]="enterpriseTypeEnum[key]">
            {{ enterpriseTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <div *ngIf="submitted && enterpriseForm.type.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Telf/Celular<span class="text-danger">*</span></label>
        <input type="number" id="referencePhoneNumber" class="form-control ovj-input" formControlName="referencePhoneNumber"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <div *ngIf="submitted && enterpriseForm.referencePhoneNumber.errors" class=""></div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Nombre a facturar<span class="text-danger">*</span></label>
        <input type="text" id="invoiceName" class="form-control ovj-input" formControlName="invoiceName">
        <div *ngIf="submitted && enterpriseForm.invoiceName.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">NIT<span class="text-danger">*</span></label>
        <input type="text" id="nit" class="form-control ovj-input" formControlName="nit">
        <div *ngIf="submitted && enterpriseForm.nit.errors" class=""></div>
      </div>
    </div>
  </div>
  <hr>
  <app-legal-organizer-form [legalOrganizerForm]="legalOrganizer"
    [legalOrganizer]="legalOrganizer"
    [submitted]="submitted">
  </app-legal-organizer-form>
  <hr>
  <app-enterprise-admin-old-form [userGroup]="userGroup"
    [submitted]="submitted">
  </app-enterprise-admin-old-form>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary"> Venta física </h5>
  </div>
  <app-physical-commission-form [physicalCommissionGroup]="physicalSalesCommissionGroup"
    [submitted]="submitted">
  </app-physical-commission-form>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary"> Venta en línea </h5>
  </div>
  <app-online-commission-form [onlineCommissionGroup]="onlineSalesCommissionGroup"
    [submitted]="submitted">
  </app-online-commission-form>
</form>