<app-modal [title]=title (dismit)="cancel()">
  <p>Estas seguro que quieres eliminar este dato?</p>
  <div class="buttons">
    <button type="button" class="btn ovj-btn-white" aria-label="Close" (click)="cancel()">Cancelar</button>
    <button type="button" class="btn ovj-btn-orange" (click)="acepted()">Aceptar</button>
  </div>
</app-modal>