<section>
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <p class="title m-0">Chóferes</p>
      </div>
    </div>
    <button class="btn ovj-btn-add-item border px-2 mt-3" (click)="addDriver(true)">
      <div class="add-item-content d-flex align-items-center">
        <div class="rounded-circle">
          <i class="icon icon-plus"></i>
        </div>
        <p>Añadir Chóferes</p>
      </div>
    </button>
    <div class="row">
      <div class="col-12">
        <app-spinner-small *ngIf="loadingDrivers"></app-spinner-small>
        <table class="ovj-desktop-table table-responsive-lg" *ngIf="!loadingDrivers">
          <thead>
            <tr>
              <th *ngFor="let col of colsTable; let index=index" (click)="orderTableBy(index)">
                <img src="assets/icons/order-arrow-down-enabled.svg"
                  *ngIf="col.orderBy"
                  loading="lazy">
                <img src="assets/icons/order-arrow-down-disabled.svg"
                  *ngIf="!col.orderBy"
                  loading="lazy">
                <img [src]="col.extraImg"
                  *ngIf="col.extraImg"
                  loading="lazy">
                  {{col.name}}
              </th>
            </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let index=index; let driver of drivers">
              <tr class="ovj-tr btn border shadow-sm" (click)="showDetail(driver, $event)">
                <td>
                  <div class="d-flex align-items-center">
                    <img class="td-image rounded-circle"
                      [src]="driver.user.imageUrl"
                      loading="lazy">
                    <p class="ovj-text-primary">{{driver.user.name}} {{driver.user.lastName}}</p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="text-muted"> +591 </span>
                    <p>{{driver.user.phone}}</p>
                  </div>
                </td>
                <td>
                  <p class="text-muted">{{driver.user.address}}</p>
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-end" *ngIf="!modifying.includes(driver.driverId)">
                    <button type="button" class="td-circle-btn btn btn-default btn-circle btn-lg mr-1">
                      <img src="assets/icons/collapse-icon.svg"
                        *ngIf="driver.showDetail"
                        loading="lazy">
                      <img src="assets/icons/collapse-toggle-icon.svg"
                        *ngIf="!driver.showDetail"
                        loading="lazy">
                    </button><div class="btn-group" ngbDropdown>
                      <button ngbDropdownToggle
                        type="button"
                        class="ovj-btn-circle options-btn btn btn-default"
                        (click)="$event.preventDefault()">
                        <div class="rounded-circle">
                          <i class="icon icon-options"></i>
                        </div>
                      </button>
                      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                        <a ngbDropdownItem (click)="editDriver(driver); $event.preventDefault()">
                          Editar
                        </a>
                        <a ngbDropdownItem (click)="deleteDriver(driver); $event.preventDefault()">
                          Eliminar
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end align-items-center pr-2" *ngIf="modifying.includes(driver.driverId)">
                    <div class="spinner-border spinner-btn ovj-primary-spinner" role="status"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <div class="ovj-tr-detail rounded shadow-sm border" [ngClass]="{'show': driver.showDetail}">
                    <h6 class="ovj-text-primary font-weight-bold mt-3 mb-3">
                      Licencia de conducir
                    </h6>
                    <div class="row justify-content-center license-info">
                      <div class="info-col">
                        <p>Categoria</p>
                        <h1>{{ driver.driverLicense.category.charAt(0) }}</h1>
                      </div>
                      <div class="text-left info-col">
                        <div>
                          <p>Grupo Sanguíneo</p>
                          <h6>{{ driver.driverLicense.bloodType }}</h6>
                        </div>
                        <div class="d-flex">
                          <div class="mr-1">
                            <p>Lentes</p>
                            <h6>{{ (driver.driverLicense.useGlasses) ? 'SI' : 'NO' }}</h6>
                          </div>
                          <div>
                            <p>Audífonos</p>
                            <h6>{{ (driver.driverLicense.useHeadphones) ? 'SI' : 'NO' }}</h6>
                          </div>
                        </div>
                      </div>
                      <div class="text-left info-col">
                        <div>
                          <p>N° Licencia</p>
                          <h6>{{ driver.driverLicense.licenseNumber }}</h6>
                        </div>
                        <div>
                          <p>Género</p>
                          <h6>{{ driver.driverLicense.gender }}</h6>
                        </div>
                      </div>
                      <div class="text-left info-col">
                        <div>
                          <p>Nacimiento</p>
                          <h6>{{ driver.driverLicense.birthAt | formatDate }}</h6>
                        </div>
                        <div>
                          <p>Nacionalidad</p>
                          <h6>{{ driver.driverLicense.nationality }}</h6>
                        </div>
                      </div>
                      <div class="text-left info-col">
                        <div>
                          <p>Emitida</p>
                          <h6>{{ driver.driverLicense.emitAt | formatDate }}</h6>
                        </div>
                        <div>
                          <p>Vencimiento</p>
                          <h6>{{ driver.driverLicense.expireAt | formatDate }}</h6>
                        </div>
                      </div>
                    </div>
                    <h6 class="detail-title font-weight-bold" *ngIf="driver.referenceContact.length > 0">
                      Contactos
                    </h6>
                    <div class="row align-items-center" *ngIf="driver.referenceContact.length > 0">
                      <div class="col-lg text-center mb-3 pl-1" *ngFor="let contact of driver.referenceContact | slice:0:3">
                        <div class="d-flex justify-content-center">
                          <img src="assets/icons/person-circle-1.svg" loading="lazy">
                          <div class="text-left pl-1">
                            <span class="ovj-text-primary">{{contact.fullName}}</span>
                            <div class="d-flex align-items-center">
                              <span class="text-muted"> +591 </span>
                              <span class="pl-1">{{contact.phone}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ovj-tr-more-detail p-0" [ngClass]="{'show': driver.showMoreDetail}">
                      <ng-container *ngFor="let contact of driver.referenceContact; let index=index">
                        <div class="row justify-content-center" *ngIf="index % 3 == 0 && index > 2">
                          <div class="col-lg text-left mb-3 pl-1" *ngFor="let rowContact of driver.referenceContact| slice:index:index+3">
                            <div class="d-flex justify-content-center" *ngIf="rowContact">
                              <img src="assets/icons/person-circle-1.svg" loading="lazy">
                              <div>
                                <span class="ovj-text-primary">{{rowContact.fullName}}</span>
                                <div class="d-flex align-items-center">
                                  <span class="text-muted"> +591 </span>
                                  <span class="pl-1">{{rowContact.phone}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <ng-container *ngIf="driver.referenceContact.length > 3">
                      <div class="detail-actions">
                        <a class="d-flex align-items-center justify-content-center" (click)="driver.showMoreDetail = true" *ngIf="!driver.showMoreDetail">
                          <p>Ver más</p><i class="fa fa-angle-down"></i>
                        </a>
                        <a class="d-flex align-items-center justify-content-center" (click)="driver.showMoreDetail = false" *ngIf="driver.showMoreDetail">
                          <p>Ver menos</p> <i class="fa fa-angle-up"></i>
                        </a>
                      </div>
                    </ng-container>
                    <div class="my-3 text-muted" *ngIf="driver.referenceContact.length == 0">
                      Sin contactos
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination">
  </div>
</section>
