<section class="drivers">
  <div class="container">
    <div class="header row">
      <div class="title col-3">
        <p> Chóferes </p>
      </div>
      <div class="add-button col-3">
        <button type="button" class="ovj-btn orange btn btn-default"
          (click)="addDriver()">
          <i class="icon icon-plus"></i>
          <p> Añadir chófer </p>
        </button>
      </div>
    </div>
    <div class="content row">
      <div class="col-7">
        <div class="ovj-custom-table">
          <table>
            <thead>
              <tr>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow"></i>
                  <i class="icon icon-person mx-1"></i>
                  <p> Nombre y apellido </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Celular </p>
                </div> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loadingDrivers">
                <td colspan="2">
                  <app-spinner-small></app-spinner-small>
                </td>
              </tr>
              <ng-container *ngIf="!loadingDrivers">
                <tr *ngFor="let driver of drivers; let i=index; let first=first"
                  [ngClass]="{'selected': driver.driverId === selectedDriver?.driverId}"
                  (click)="selectDriver(driver)">
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <div class="driver-info">
                      <img class="rounded-circle"
                        [src]="driver.user.imageUrl"
                        loading="lazy">
                      <p> {{ driver.user.name }} {{ driver.user.lastName }} </p>
                    </div>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> {{driver.user.phone}} </p>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="paginator">
            <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
              [page]="paginationMeta?.currentPage"
              [boundaryLinks]="true"
              (pageChange)="pageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="custom-card-info">
          <div class="unselected-element header-item" *ngIf="!selectedDriver">
            <img src="assets/images/unselected-driver.svg" loading="lazy">
            <p> Seleccione un conductor para visualizarlo </p>
          </div>
          <div class="selected-element content-item" *ngIf="selectedDriver">
            <div class="principal">
              <img class="item-img"
                [src]="selectedDriver.user.imageUrl"
                loading="lazy">
              <p class="item-label"> {{ selectedDriver.user.name }} {{ selectedDriver.user.lastName }} </p>
              <p class="item-sub-label"> {{ selectedDriver.user.phone }} </p>
              <p class="item-sub-label"> {{ selectedDriver.user.email }} </p>
              <div class="actions">
                <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteDriver(selectedDriver)">
                  Eliminar
                </button>
                <button class="ovj-btn btn btn-default orange" (click)="editDriver(selectedDriver)">
                  Editar
                </button>
              </div>
            </div>
            <div class="divider"></div>
            <div class="detail">
              <p class="title"> Licencia de conducir </p>
              <div class="principal-row mt-3 mb-2">
                <div class="sub-row">
                  <p> Categoría </p>
                  <p> Grupo sanguíneo </p>
                  <p> Lentes </p>
                  <p> Audífonos </p>
                </div>
                <div class="sub-row">
                  <p> {{ selectedDriver.driverLicense.category.charAt(0) }} </p>
                  <p> {{ selectedDriver.driverLicense.bloodType }} </p>
                  <p> {{ (selectedDriver.driverLicense.useGlasses) ? 'SI' : 'NO' }} </p>
                  <p> {{ (selectedDriver.driverLicense.useHeadphones) ? 'SI' : 'NO' }} </p>
                </div>
              </div>
              <div class="secondary-row">
                <div class="sub-row">
                  <p> N° Licencia </p>
                  <p> Emitida </p>
                  <p> Vencimiento </p>
                </div>
                <div class="sub-row">
                  <p> {{ selectedDriver.driverLicense.licenseNumber }} </p>
                  <p> {{ selectedDriver.driverLicense.emitAt | formatDate }} </p>
                  <p> {{ selectedDriver.driverLicense.expireAt | formatDate }} </p>
                </div>
              </div>
              <div class="secondary-row">
                <div class="sub-row">
                  <p> Género </p>
                  <p> Nacimiento </p>
                  <p> Nacionalidad </p>
                </div>
                <div class="sub-row">
                  <p> {{ selectedDriver.driverLicense.gender }} </p>
                  <p> {{ selectedDriver.driverLicense.birthAt | formatDate }} </p>
                  <p> {{ selectedDriver.driverLicense.nationality }} </p>
                </div>
              </div>
            </div>
            <ng-container *ngIf="selectedDriver.referenceContact.length !== 0">
              <div class="divider mt-4 mb-3"></div>
              <div class="contacts-title mt-2">
                <p> Contactos de referencia </p>
              </div>
              <div class="reference-contacts mt-3 mb-2">
                <div class="contact" *ngFor="let contact of selectedDriver.referenceContact">
                  <div class="driver-img">
                    <img src="assets/icons/person-circle-1.svg" loading="lazy">
                  </div>
                  <div class="driver-info">
                    <p> {{ contact.fullName }} </p>
                    <p> {{ contact.phone }} </p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-items-table row">
      <div class="col-12">
        <div class="header">
          <div class="header-element">
            <p> Nombre </p>
          </div>
        </div>
        <div class="card-item" *ngIf="loadingDrivers">
          <app-spinner-small></app-spinner-small>
        </div>
        <ng-container *ngIf="!loadingDrivers">
          <div class="card-item" *ngFor="let driver of drivers; let i=index; let first=first"
            (click)="showDetail(driver)">
            <div class="item">
              <p> {{ driver.user.name }} {{ driver.user.lastName }} </p>
              <p> {{ driver.user.phone }} </p>
            </div>
          </div>
        </ng-container>
        <div class="paginator">
          <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
            [page]="paginationMeta?.currentPage"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="mobile-floating-btn ovj-btn-circle options-btn btn btn-default"
    (click)="addDriver()">
    <i class="icon icon-plus-2"></i>
  </button>
</section>