@import 'variables';

.license-info {
  .info-col {
    border-left: 2px solid $ovj-dark-secondary;
    margin: 0 0.25rem;
    padding: 0 0.75rem;
    h1 {
      color: $color-042b63;
      font-size: 3.7rem;
      font-weight: bold;
      margin: 0;
    }
    h6 {
      color: $color-042b63;
      font-weight: bold;
    }
    p {
      font-size: 0.8rem;
    }
    &:first-child {
      border: none !important;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 40vh;
    }
  }
}
