<button type="button" aria-label="Close" class="close-modal-btn btn btn-default"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="mb-4">
  <div class="row">
    <div class="bus-template-content col-md-10 offset-md-1">
      <div class="bus-options">
        <div class="bus">
          <app-seating-scheme [seatingScheme]="seatingScheme"></app-seating-scheme>
        </div>
      </div>
    </div>  
  </div>
</div>
<div class="mobile mb-4 mr-3 d-flex align-items-end flex-column col-12">
  <button type="button" class="ovj-btn orange btn btn-default"
    (click)="action.next(false)">
    Cerrar
  </button>
</div>