@import 'variables';

.bus-template-content {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  min-height: 70vh;
  .bus-options {
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid $ovj-secondary;
    display: flex;
    margin-bottom: 3rem;
    padding: 3rem;
    width: 80%;
    .bus {
      text-align: center;
      width: 100%;
    }
  }
}

@media screen and (max-width: $break-large) {
  .template-management-wrapper {
    padding: 0 1.75rem !important;
  }
}