<form class="border-light oviajamos-form m-0 pt-0" autocomplete="off" [formGroup]="recurrentGroup">
  <div class="mt-3">
    <h6 class="ovj-text-primary m-0">Sobre la salida</h6>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="driver-select ovj-form" [formGroup]="driver">
        <label class="ovj-label">Nombre chófer<span class="text-danger">*</span></label>
        <ng-select [items]="drivers"
          class="form-control ovj-select recurrent-driver"
          bindValue="driverId"
          bindLabel="fullName"
          notFoundText="Sin coincidencias"
          formControlName="driverId"
          [placeholder]="drivers.length > 0 ? '' : 'Sin choferes'"
          [ngClass]="{'is-invalid': submitted && driver.controls.driverId.errors}">
          <ng-template ng-option-tmp
            let-item="item"
            let-index="index"
            let-search="searchTerm">
            <div class="card shadow-sm">
              <div class="card-body py-1 px-3">
                <div class="driver-content d-flex align-items-center">
                  <img [src]="item.user.imageUrl"
                    class="driver-img rounded-circle"
                    loading="lazy">
                  <p class="ovj-text-dark-primary m-0 pl-1">
                    {{ item.user.name }} {{ item.user.lastName }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-select>
        <div class="invalid-feedback" *ngIf="driver.controls.driverId.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ovj-form" [formGroup]="bus">
        <label class="ovj-label">Matrícula<span class="text-danger">*</span></label>
        <ng-select [items]="buses"
          class="form-control ovj-select recurrent-license-plate"
          bindValue="busId"
          bindLabel="licensePlate"
          notFoundText="Sin coincidencias"
          formControlName="busId"
          [placeholder]="buses.length > 0 ? '' : 'Sin buses'"
          [ngClass]="{'is-invalid': submitted && bus.controls.busId.errors}">
          <ng-template ng-option-tmp
            let-item="item"
            let-index="index"
            let-search="searchTerm">
            <div class="d-flex justify-content-between">
              <p class="mb-0"> {{ item.licensePlate }} </p>
              <p class="mb-0"> /{{ item.seatingScheme?.totalSeats }} </p>
            </div>
          </ng-template>
        </ng-select>
        <div class="invalid-feedback" *ngIf="bus.controls.busId.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ovj-form" [formGroup]="route">
        <label class="ovj-label">Ruta<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select recurrent-travel-route"
          formControlName="routeId"
          notFoundText="Sin coincidencias"
          [placeholder]="travelRoutes.length > 0 ? '' : 'Sin rutas'"
          [ngClass]="{'is-invalid': submitted && route.controls.routeId.errors}">
          <ng-option *ngFor="let travelRoute of travelRoutes" [value]="travelRoute.routeId">
            {{ travelRoute.source.name}} > {{ travelRoute.destination.name }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="route.controls.routeId.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Carril<span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="lane"
          [ngClass]="{'is-invalid': submitted && recurrentForm.lane.errors}"
          (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="recurrentForm.lane.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="mt-3 mb-2">
    <h6 class="ovj-text-primary m-0">Frecuencia de repetición</h6>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12">
          <div class="ovj-form" [formGroup]="departureDate">
            <label class="ovj-label">Desde que fecha<span class="text-danger">*</span></label>
            <div class="input-group date-picker-group">
              <input class="form-control"
                autocomplete="off"
                placeholder="DD/MM/YYYY"
                [minDate]="minDate"
                formControlName="startDate"
                ngbDatepicker
                [ngClass]="{'is-invalid': submitted && departureDate.controls.startDate.errors}"
                #d="ngbDatepicker">
              <button class="btn btn-default calendar ml-1" (click)="d.toggle()">
                <i class="icon icon-calendar"></i>
              </button>
              <div class="invalid-feedback" *ngIf="departureDate.controls.startDate.errors?.required">Campo obligatorio</div>
              <div class="invalid-feedback"
                *ngIf="departureDate.controls.startDate.errors?.ngbDate ||
                  departureDate.controls.startDate.errors?.pattern">
                Fecha inválida
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="ovj-form" [formGroup]="departureDate">
            <label class="ovj-label">Horarios<span class="text-danger">*</span></label>
            <ngb-timepicker formControlName="departureTime"
              [spinners]="false"
              [ngClass]="{'is-invalid': submitted && departureDate.controls.departureTime.errors}">
            </ngb-timepicker>
            <div class="invalid-feedback" *ngIf="departureDate.controls.departureTime.errors?.required">Campo obligatorio</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="ovj-form">
            <label class="ovj-label">Precio (Bs)<span class="text-danger">*</span></label>
            <input type="number" class="form-control ovj-input" formControlName="price"
              [ngClass]="{'is-invalid': submitted && recurrentForm.price.errors}"
              (keydown)="numberInputValidator($event)">
            <div class="invalid-feedback" *ngIf="recurrentForm.price.errors?.required">Campo obligatorio</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>