<form class="oviajamos-client-form container py-1" autocomplete="off" [formGroup]="cashPayemntGroup">
  <div class="row">
    <div class="col-12 px-0">
      <div class="ovj-form">
        <label class="ovj-label">Monto a pagar Bs<span class="text-danger">*</span></label>
        <input type="number" id="amountPaid" class="form-control ovj-input" formControlName="amountPaid"
          (keydown)="numberInputValidator($event)">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px-0">
      <div class="ovj-form">
        <label class="ovj-label">Vuelto Bs</label>
        <input type="number" id="amountReturn" class="form-control ovj-input" formControlName="amountReturn">
      </div>
    </div>
  </div>
</form>