<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="enterpriseSettingsGroup">
  <div class="text-left mt-4">
    <h5 class="ovj-text-primary"> Aspectos generales </h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label"> Razón social <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="businessName"
          [ngClass]="{'is-invalid': submitted && enterpriseSettingsForm.businessName.errors}">
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.businessName.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label"> NIT <span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="nit"
          [ngClass]="{'is-invalid': submitted && enterpriseSettingsForm.nit.errors}"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.nit.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.nit.errors?.min">Mínimo de 5 caracteres</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label for="changeType" class="ovj-label"> Tipo de cambio a Bs </label>
        <input type="number" class="form-control ovj-input" formControlName="changeType"
          [ngClass]="{'is-invalid': submitted && enterpriseSettingsForm.changeType.errors}"
          (keydown)="floatInputValidator($event)">
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.changeType.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label"> Correo electrónico </label>
        <input type="email" class="form-control ovj-input" formControlName="email"
          [ngClass]="{'is-invalid': submitted && enterpriseSettingsForm.email.errors}">
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.email.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.email.errors?.email">Correo inválido</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Contacto </label>
        <input type="number" class="form-control ovj-input" formControlName="contactPhoneNumber"
          [ngClass]="{'is-invalid': submitted && enterpriseSettingsForm.contactPhoneNumber.errors}"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.contactPhoneNumber.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.contactPhoneNumber.errors?.min">Mínimo de 7 números</div>
      </div>
    </div>
  </div>
  <div class="text-left mt-4">
    <h5 class="ovj-text-primary"> Información bancaria </h5>
  </div>
  <ng-container *ngFor="let accountGroup of accountsArray.controls; let i=index; let first=first let last=last">
    <app-bank-account-form
      [accountGroup]="accountGroup"
      [submitted]="submitted"
      [index]="i"
      [first]="first"
      (removeAccountEvent)="removeAccount($event)">
    </app-bank-account-form>
    <div class="row" *ngIf="last">
      <div class="col-lg-6 col-12">
        <button class="bank-account-btn btn ovj-btn-light" type="button" (click)="addBankAccount()">
          <i class="icon icon-plus"></i>
          <p> Agregar otra cuenta bancaria </p>
        </button>
      </div>
    </div>
  </ng-container>
  <div class="text-left mt-4">
    <h5 class="ovj-text-primary"> Control de venta online </h5>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form picker">
        <label class="ovj-label">Horas para cancelar reserva antes de salida</label>
        <dp-date-picker class="form-control ovj-picker"
          [config]="datePickerTimeConf1"
          theme="dp-material"
          mode="time"
          pickerMode="timePicker"
          formControlName="reserveTimeLimit"
          [ngClass]="{'is-invalid': submitted && enterpriseSettingsForm.reserveTimeLimit.errors}">
        </dp-date-picker>
        <i class="icon icon-cross picker-icon"
          (click)="enterpriseSettingsForm.reserveTimeLimit.setValue('')"></i>
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.reserveTimeLimit.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label"> Días para habilitar venta en línea </label>
        <input type="number" class="form-control ovj-input" formControlName="daysToEnableOnlineSales"
          [ngClass]="{'is-invalid': submitted && enterpriseSettingsForm.daysToEnableOnlineSales.errors}"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.daysToEnableOnlineSales.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form picker">
        <label class="ovj-label">Habilitación automática de venta</label>
        <dp-date-picker class="form-control ovj-picker"
          [config]="datePickerTimeConf2"
          theme="dp-material"
          mode="time"
          pickerMode="timePicker"
          formControlName="timeToDisableSales"
          [ngClass]="{'is-invalid': submitted && enterpriseSettingsForm.timeToDisableSales.errors}">
        </dp-date-picker>
        <i class="icon icon-cross picker-icon"
          (click)="enterpriseSettingsForm.timeToDisableSales.setValue('')"></i>
        <div class="invalid-feedback" *ngIf="enterpriseSettingsForm.timeToDisableSales.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
</form>