@import 'variables';

.oviajamos-form {
  .row {
    .bank-account-btn {
      align-items: center;
      border: 1px solid $color-042b63 !important;
      border-radius: 4px;
      display: flex;
      height: 36px;
      justify-content: center;
      margin-bottom: 5px;
      margin-top: 10px;
      width: 100% !important;
      p {
        color: $color-042b63;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        margin-bottom: 0 !important;
        margin-left: 5px;
      }
    }
  }
}