@import 'variables';

.ovj-arrow {
  border: solid #666666;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}