// ----------------------------------------------------------------------
// General cards style (reset)
// ----------------------------------------------------------------------

.oviajamos-admin-card {
  align-items: flex-start;
  background: $white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  min-height: 220px;

  .oviajamos-card-body {
    background: $color-f6f9ff;
    border-radius: 5px;
    width: 100%;
    min-height: 161px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .icon {
      color: $color-042b63;
      font-size: 50px;
      font-weight: 600;

      @media screen and (max-width: $break-small) {
        font-size: 26px;
      }
    }

    .text {
      color: $color-042b63;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 16px;

      @media screen and (max-width: $break-small) {
        font-size: 12px;
      }
    }

    @media screen and (max-width: $break-small) {
      min-height: 91px;
    }
  }

  .oviajamos-card-footer {
    background: $white;
    border-radius: 0 0 5px 5px;
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 5px;

    p {
      font-family: $roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 21px;
      color: $color-042b63;
      margin-bottom: 1rem;

      @media screen and (max-width: $break-small) {
        font-size: 18px;
        margin-bottom: 0.25rem;
      }
    }

    .circle {
      position: absolute;
      background: $color-ff533d;
      right: 6%;
      border-radius: 24px;
      width: 40px;
      height: 40px;
      bottom: 7%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      span {
        color: $white;
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
        @media screen and (max-width: $break-small) {
          font-size: 12px;
        }
      }

      @media screen and (max-width: $break-small) {
        width: 24px;
        height: 24px;
        right: 10%;
        bottom: 6%;
      }
    }

    @media screen and (max-width: $break-small) {
      min-height: 33px;
    }
  }

  @media screen and (max-width: $break-small) {
    min-height: 124px;
  }
}

.ovj-assigned-driver-card {
  border-radius: 1.5rem !important;
  min-width: 85% !important;
  position: relative;
  p {
    margin: 0;
  }
  .driver-image {
    height: 70px;
    width: 70px;
    @media screen and (max-width: $break-small) {
      margin-bottom: 1rem;
    }
  }
  .category-label {
    line-height: 0.5;
  }
  .close {
    position: absolute;
    right: 13px;
    top: 10px;
    z-index: 5;
  }
}

.card-report {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
  p {
    margin-bottom: 0;
  }
  .card-header {
    border: none !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 52px;
    position: relative;
    padding: 0.3rem 0.25rem !important;
    .ticket-feature {
      background-color: $color-f2f2f2;
      border-radius: 50%;
      height: 15px;
      left: -8px;
      position: absolute;
      top: calc(50% - 8px);
      width: 15px;
    }
  }
  .card-body {
    padding: 1rem 1.25rem;
    .data-item {
      align-items: center;
      background-color: $color-f4f5f8;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      min-height: 46.23px;
      margin-bottom: 0.5rem;
      padding: 0.25rem 0.5rem;
    }
    .ticket-data-item {
      display: flex;
      margin-bottom: 0.5rem;
      min-height: 40px;
      position: relative;
      .ticket-start-feature {
        background: $color-e5e5e5;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 13px;
        .feature {
          background-color: $white;
          border-radius: 50%;
          height: 14px;
          left: -8px;
          position: absolute;
          top: calc(50% - 7px);
          width: 14px;
        }
      }
      .ticket-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0.25rem;
        width: calc(100% - 19px);
      }
      .ticket-end-feature {
        background-color: $color-e5e5e5;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 6px;
      }
    }
  }
}



.custom-card-info {
  background: $white;
  border: 1px solid $color-3880ff;
  border-radius: 11px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  .unselected-element {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    min-height: 70vh;
    padding: 10px;
    width: 100%;
    img {
      height: 191px;
      margin-top: 55px;
      width: 191px;
    }
    p {
      color: $color-343a40;
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
      margin-top: 15px;
    }
  }
  .selected-element {
    padding: 15px 18px 25px 18px;
    .principal {
      align-items: center;
      display: flex;
      flex-direction: column;
      .card-title {
        color: $color-3c64b1;
        display: none;
        font-size: 30px;
        font-weight: 300;
        line-height: 24px;
        margin-top: 10px;
        margin-bottom: 0;
      }
      img.item-img {
        border-radius: 50%;
        height: 112px;
        margin-top: 20px;
        width: 112px;
      }
      .item-icon {
        align-items: center;
        background-color: $color-dce9fb;
        border-radius: 50%;
        display: flex;
        height: 112px;
        justify-content: center;
        width: 112px;
        i {
          font-size: 75px;
          &::before {
            color: $color-042b63;
          }
        }
      }
      .item-label {
        color: $color-343a40;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 10px;
      }
      .item-sub-label {
        color: $color-666666;
        font-size: 16px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        margin-top: 5px;
      }
      .icon-wrapper {
        align-items: center;
        background-color: $color-ededed;
        border-radius: 50%;
        display: flex;
        height: 112px;
        justify-content: center;
        width: 112px;
        img {
          height: 112px;
          width: 112px;
        }
        i.icon {
          font-size: 60px;
          &::before { 
            color: $color-042b63;
          }
        }
      }
      .actions {
        display: flex;
        margin-top: 20px;
        width: 100%;
        .btn {
          border-radius: 4px !important;
          height: 38px;
          width: 50%;
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
    .divider {
      border: 1px solid $color-dadada;
      height: 1px;
      margin-top: 15px;
      padding: 0 10px;
      width: 100%;
    }
    .detail {
      .title {
        color: $color-042b63;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        margin-top: 15px;
      }
    }
    .mobile-actions {
      display: none;
      flex-direction: column;
      margin-top: 40px;
      .btn {
        border-radius: 4px;
        font-style: normal;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        height: 48px;
        margin-bottom: 15px;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @media screen and (max-width: $break-large) {
    .selected-element {
      .principal {
        .card-title {
          display: block;
        }
        .icon-wrapper {
          margin-top: 20px;
        }
        .item-label {
          margin-bottom: 5px;
          margin-top: 15px;
        }
      }
    }
  }
  @media screen and (max-width: $break-small) {
    .selected-element {
      .principal {
        .actions {
          display: none;
        }
      }
      .mobile-actions {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .card-report {
    height: auto;
  }
}

.card-report-short {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: auto;
  background: white;
  // width: 223px;
  // margin-right: 130px;
  .card-header-report-color-buy {
    background: linear-gradient(0deg, $color-54bb2c, $color-54bb2c), $color-1a3e72;
  }
  .card-header-report-color-online {
    background: linear-gradient(180deg, $color-007bff 0%, $color-3880ff 100%), $color-1a3e72;
  }
  .card-header-report-color-total {
    background: $color-1a3e72;
  }

  .card-header-report {
    padding-top: 0.2em;
    height: max-content;
    min-height: 28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .card-header-report>p {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color:white;
  }
  div>p {
    text-align: center;
  }
  .title-card-report {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    // color: width;
    margin:0;
  }
  .card-body-report {
    // background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .text-body-card-report {
      text-align: center;
      margin: 0;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: 100;
      font-size: 24px;
      line-height: 47px;
      align-items: center;
      color: $color-042b63;
      padding-top: 0.25em;
    }
    .text-span {
      font-weight: 150;
      font-size: 14px;
      line-height: 18px;
      color: $color-042b63;
      padding:0px;
    }
  }
}

