@import 'variables';

.ovj-select {
  .ovj-input-select, label {
    cursor: pointer !important;
  }
  img {
    position: absolute;
    right: 0;
    top: 18px;
  }
  .ovj-select-content {
    background-color: $white;
    font-size: 0.93rem;
    text-align: left;
    padding: 0.4rem 0.4rem 0.25rem 0.4rem;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -5px;
    z-index: 10;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1), visibility 0s 0.1s, opacity 1s linear;
    &.show {
      max-height: 1000px;
      margin-bottom: 2px;
      visibility: visible;
      opacity: 1;
      transition: max-height 0.5s ease-in-out, opacity 0s linear;
    }
    a { padding: 0.25rem 0.5rem; }
  }
}

.ovj-dropdown-container {
  position: relative;
  .ovj-dropdown {
    font-size: 0.94rem;
    width: 10rem;
    padding-top: 0.4rem;
    padding-bottom: 0.25rem;
    position: absolute;
    background-color: $white;
    z-index: 10;
    right: 0.5rem;
    margin-top: 0.25rem;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    border-radius: 10px;
    &.show {
      visibility: visible;
      max-height: 1000px;
      margin-bottom: 2px;
      transition: max-height 0.5s ease-in-out;
    }
    a { padding: 0.25rem 0.5rem; }
    &.centered {
      right: unset;
      left: -25px;
    }
    .status-circle {
      font-size: 0.65rem;
      margin-left: 0;
      padding-top: 0.4rem;
    }
  }
}

.dropdown-menu {
  border: 1px solid $color-f6f9ff !important;
  border-radius: 10px !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  font-size: 0.9rem !important;
  padding: 0.25rem 0;
  transform: translate3d(0,34px,0) !important;
  &.dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .dropdown-item {
    color: $color-042b63 !important;
    padding: 0.25rem 0.75rem;
    &:hover {
      background-color: $ovj-light-primary;
    }
    &:active {
      background-color: $ovj-primary !important;
    }
  }
  .dropdown-img {
    width: 23px;
  }
  .dropdown-divider {
    margin: 0.25rem 0;
  }
  &.dark {
    background-color: $color-212529;
    border: none !important;
    .dropdown-item {
      color: white !important;
      font-size: 0.85rem;
      &:hover {
        background-color: $black;
      }
      &:active {
        background-color: $black !important;
      }
    }
  }
}

.dropdown-menu {
  opacity: unset !important;
}

div[ngbDropdown] {
  .dropdown-toggle::after{
    content: initial !important;
  }
  i.icon.icon-options {
    font-size: 22px;
  }
  div[ngbDropdownMenu] {
    &.dropdown-menu-right {
      right: 0;
      left: auto !important;
    }
  }
}