@import 'variables';

// ----------------------------------------------------------------------
// General forms style
// ----------------------------------------------------------------------

.oviajamos-form {
  padding: 2rem 3rem 1rem 3rem;
  margin-top: 10px;
  .md-form {
    margin: 1.1rem 0 !important;
    .ovj-label {
      color: $black !important;
      &.valid {
        transform: translateY(-14px) scale(0.8);
      }    
      &.active {
      }
      ::after {
      }
    }
    &.picker {
      position: relative;
      .picker-icon {
        cursor: pointer;
        font-size: 11px;
        position: absolute;
        right: 0;
        top: 21px;
      }
      label {
        max-width: 93%;
      }
    }
    .ovj-input {
      color: $color-042b63;
      &:focus {
        box-shadow: 0 1px 0 0 $color-3880ff !important;
        border-bottom: 1px solid $color-3880ff !important;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type=number] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
      }
    }
  }

  .ovj-form {
    margin: 8px 0 !important;
    position: relative;
    width: 100%;
    .ovj-label {
      color: $color-495057;
      font-size: 15px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      max-width: 93%;
      margin-bottom: 2px;
    }
    &.picker {
      position: relative;
      .picker-icon {
        cursor: pointer;
        font-size: 11px;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
    &.no-validation-imgs {
      background-image: none;
      input {
        background-image: none;
      }
    }
    .form-control {
      border-radius: 8px;
      box-shadow: none !important;
      color: $color-6c757d;
      scroll-margin-top: 40px;
      &.ovj-picker {
        border: none !important;
      }
    }
    .ovj-input {
      height: 36px;
      padding: 0px 8px !important;
      &:focus {
        border: 1px solid $color-3880ff !important;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type=number] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
      }
    }
    .invalid-feedback {
      font-size: 12px;
      margin-top: 2px;
    }
    .floating-right-label {
      position: absolute;
      right: 5px;
      top: 33px;
    }
    &.md-design {
      border: none;
      input {
        border: none;
        border-bottom: 1px solid lightgrey;
        border-radius: 0px;
        box-shadow: none;
        outline: none;
        &:focus {
          border-left: 0 !important;
          border-right: 0 !important;
          border-top: 0 !important;
          border-bottom: 2px solid $color-007bff !important;
        }
      }
    }
  }

  .ovj-input-file {
    align-items: center;
    display: flex;
    flex-direction: column;
    scroll-margin-top: 30px;
    .view-photo-camera {
      margin-top: -25px;
      margin-left: 65px;
      width: 25px;
      height: 25px;
    }
    .image-circle-container {
      background: $color-e6eaf0;
      border: 1px solid $color-1a73e9;
      border-radius: 50px;
      display: flex;
      height: 80px;
      justify-content: center;
      width: 80px;
      img {
        width: 100%;
        border-radius: 50px;
      }
      input {
        position: absolute;
        width: 90px;
        height: 90px;
        font-size: 0;
        opacity: 0;
        cursor: pointer;
      }
      .camera-icon {
        position: absolute;
        height: 32px;
        width: 32px;
        margin-top: 47px;
        margin-left: 48px;
      }
    }
  }

  .floating-right-label {
    position: absolute;
    right: 0;
    top: 9px;
  }

  .ovj-mesage-error {
    color: $color-f44336;
    font-size: 12px;
  }

  .ovj-border-error {
    border-bottom: 1px solid $color-f44336;
  }

  @media screen and (max-width: $break-medium) {
    padding: 2rem 2rem 0.75rem 2rem;
  }
  
  .ovj-form-title {
    color: $color-042b63;
  }

  .ovj-text-area {
    background-color: $ovj-light-secondary;
    border: none;
    font-size: 0.9rem;
    min-height: 90px;
    padding: 0.2rem 0.3rem;
  }

  .filter-inputs {
    align-items: center;
    display: flex;
    height: 78px;
    min-height: 78px;
    width: 100%;
    .ovj-form {
      margin-top: 5px !important;
      &:nth-child(1) {
        width: 25%;
      }
      &:nth-child(2) {
        width: 25%;
      }
      .ovj-input {
        border: none !important;
        background: $color-f5f5f5;
        border-radius: 7px;
        height: 41.41px;
        margin: 0;
        &.departure-time {
          cursor: pointer;
          font-style: normal;
          font-weight: 500;
          font-size: 24px !important;
          line-height: 31px;
          text-transform: uppercase !important;
          &:hover {
            background: #C5FAC6;
          }
        }
      }
      .ovj-label {
        background-color: transparent;
        color: $color-042b63 !important;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        margin-bottom: 0;
        margin-top: -6px;
        &.valid {
          color: $color-042b63 !important;
          margin-left: 5px;
          transform: translateY(-25px) scale(0.65);
        }
        &.active {
          color: $color-042b63 !important;
          margin-left: 5px;
          transform: translateY(-25px) scale(0.65);
        }
      }
      .ng-select {
        .ng-select-container {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          height: 45px;
          line-height: 31px;
          position: relative;
          .ng-value-container {
            .ng-value, .ng-input {
              position: absolute;
              top: 6px;
            }
          }
          .ng-arrow-wrapper {
            display: none;
          }
        }
        &.ng-select-focused {
          background: #C5FAC6;
        }
      }
      dp-date-picker {
        padding: 0;
        .dp-input-container, .dp-input-container > .dp-picker-input {
          font-style: normal;
          font-weight: 500;
          font-size: 24px !important;
          line-height: 31px;
          padding: 0 !important;
          padding-top: 1px !important;
          text-transform: uppercase !important;
        }
        .dp-open .dp-input-container input {
          border-bottom: none !important;
        }
        .dp-picker-input {
          border-bottom: none !important;
        }
        .dp-material.dp-popup {
          padding: 0 !important;
        }
        div {
          border-radius: 7px;
          &:first-child {
            padding-left: 9px;
            padding-right: 9px;
            &.dp-open {
              background: #C5FAC6;
            }
          }
        }
        .dp-nav-btns-container {
          padding: 0 8px;
          width: 100%;
        }
        .dp-calendar-week {
          text-align: center;
        }
      }
      &.time-wrapper {
        .btn-group {
          .dropdown-menu {
            padding: 0;
            top: 15px;
            ::ng-deep {
              .ovj-departures-table {
                margin: 0 !important;
                tbody {
                  td {
                    border-radius: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
    .arrow-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 1%;
    }
  }
}

.oviajamos-client-form {
  padding: 2rem 3rem 1rem 3rem;
  margin-top: 10px;
  .md-form, .ovj-form {
    margin: 1rem 0 !important;
    position: relative;
    .ovj-label {
      color: $ovj-dark-secondary!important;
      margin-left: 0;
      background-color: $white;
      font-size: 12px;
      transform: translateY(-11px) translateX(5px);
      padding: 0 5px 0 6px;
      position: absolute;
      top: 0;
      z-index: 10;
      &.valid {
        background-color: $white;
        color: $color-1763d1 !important;
        padding: 0 4px;
        transform: translateY(-13px) scale(0.8);
        margin-left: 7px;
      }
      &.active {
        background-color: $white;
        color: $color-1763d1 !important;
        padding: 0 4px;
        margin-left: 7px;
      }
    }
    .input-icon {
      bottom: 11px;
      right: 7px;
      position: absolute;
      &::before {
        color: $color-c4c4c4;
      }
    }
  }
  .ovj-input-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    .view-photo-camera {
      margin-top: -25px;
      margin-left: 65px;
      width: 25px;
      height: 25px;
    }
    .image-circle-container {
      background: $color-e6eaf0;
      border: 1px solid $color-1a73e9;
      border-radius: 50px;
      display: flex;
      height: 80px;
      justify-content: center;
      width: 80px;
      img {
        width: 100%;
        border-radius: 50px;
      }
      input {
        position: absolute;
        width: 90px;
        height: 90px;
        font-size: 0;
        opacity: 0;
      }
      .camera-icon {
        position: absolute;
        height: 32px;
        width: 32px;
        margin-top: 47px;
        margin-left: 48px;
      }
    }
  }
  .ovj-input {
    color: $color-042b63;
    border: 1px solid $color-d1d1d1 !important;
    border-radius: 7px !important;
    box-sizing: border-box !important;
    height: 40px;
    padding-left: 9px;
    padding-right: 9px;
    &.with-icon {
      padding-right: 27px;
    }
    &:focus {
      box-shadow: none !important;
      border: 1px solid $color-1763d1 !important;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type=number] {
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }
  }
  
  .ovj-mesage-error {
    color: $color-f44336;
    font-size: 12px;
  }
  .ovj-border-error {
    border: 1px solid $color-f44336;
  }
  @media screen and (max-width: $break-medium) {
    padding: 2rem 2rem 0.75rem 2rem;
  }
  .ovj-form-title {
    color: $color-042b63;
  }
  .ovj-text-area {
    background-color: $ovj-light-secondary;
    border: none;
    font-size: 0.9rem;
    min-height: 90px;
    padding: 0.2rem 0.3rem;
  }
}

.form-actions-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0 3rem;
  z-index: 5;
  .btn {
    margin: 0.3rem 0.5rem;
  }
}

@media screen and (max-width: $break-medium) {
  .form-actions-container {
    display: block;
    padding: 0 2rem;
    .btn {
      width: 100%;
      margin: 0.3rem 0;
    }
  }
}

.ng-select-errors {
  :first-child {
    margin-top: 5px;
  }
}

.ovj-time-input {
  input[type=time] {
    padding-bottom: 8px;
  }
  label {
    padding-top: 6px !important;
  }
}

.spinner-border {
  &.ovj-primary-spinner {
    color: $color-3c64b1;
  }
}