@import 'variables';

ngb-datepicker {
  font-family: 'IBM Plex Sans' !important;
  margin-top: 5px !important;
  .ngb-dp-header {
    background: $white;
    margin-top: 3px;
    padding: 7px 10px;
    ngb-datepicker-navigation {
      background: $color-f5f5f5;
      border-radius: 25px;
      padding: 4px 0px;
      .ngb-dp-navigation-select {
        .custom-select {
          &:first-child {
            width: 115px;
          }
          &:last-child {
            width: 70px;
          }
        }
      }
      .ngb-dp-arrow {
        .ngb-dp-arrow-btn {
          .ngb-dp-navigation-chevron {
            transform: rotate(-135deg) scale(0.8);
          }
        }
        &.right {
          .ngb-dp-arrow-btn {
            .ngb-dp-navigation-chevron {
              transform: rotate(45deg) scale(0.8);
            }
          }
        }
      }
    }
  }
  .ngb-dp-content.ngb-dp-months {
    .ngb-dp-month {
      padding: 5px 16px;
      .ngb-dp-week.ngb-dp-weekdays {
        background: $white;
        border-bottom: none;
        &>.ngb-dp-weekday {
          color: $color-333333;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          height: 25px;
          line-height: 17px;
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .ngb-dp-week {
        .ngb-dp-day {
          height: 30px;
          font-size: 12px;
          font-weight: 500;
          line-height: 17pc;
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
          &:focus {
            border-radius: 50%;
          }
          >div {
            &:hover {
              border-radius: 50%;
            }
            &[ng-reflect-selected="true"] {
              border-radius: 50%;
              background: $color-fb3f4a !important;
            }
          }
          &.ngb-dp-today {
            &>div {
              border-radius: 50%;
              border: 1px solid $color-fb3f4a;
            }
          }
        }
        &:last-child {
          margin-bottom: 8px;
        }
      }
    }
  }
}

.input-group.date-picker-group {
  button.calendar {
    border: 1px solid $color-ced4da;
    padding: 3px 10px 0 10px;
    i.icon {
      font-size: 25px;
    }
  }
}