.bus-wrapper {
  display: inline-block;
  vertical-align: top;
  .bus-floor {
    align-items: center;
    background-color: $white;
    border: 1px solid #333E48;
    border-radius: 50px 50px 25px 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    padding: 0.75rem;
    position: relative;
    &.first-floor {
      padding-top: 1.5rem;
    }
    .bus-front {
      height: 50px;
      left: -2px;
      position: absolute;
      top: -9px;
      width: 102%;
    }
    .bus-left-mirror {
      left: -25px;
      position: absolute;
      top: 38px;
    }
    .bus-right-mirror {
      position: absolute;
      right: -25px;
      top: 38px;
    }
    .floor-number {
      color: $color-042b63;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      margin: 0;
      position: absolute;
      top: 10px;
      &.first {
        top: 22px;
      }
    }
    .bus-row {
      display: flex;
      margin-bottom: 0px;
      &:first-child {
        margin-top: 1.2rem;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .bus-column {
        display: flex;
        justify-content: center;
        width: 46px;
        height: 47px;
        margin-right: 2px;
        &:last-child {
          margin-right: 0;
        }
        p {
          margin: 0;
          font-style: normal;
          font-weight: 500;
          font-size: 19px;
          line-height: 26px;
        }
        img {
          width: 100%;
        }
        .driver-img {
          font-size: 43px;
        }
        .seat {
          position: relative;
          display: flex;
          justify-content: center;
          p {
            position: absolute;
            top: 19%;
            .ovj-primary-spinner {
              color: $white;
              height: 18px;
              margin-bottom: 4px;
              width: 18px;
            }
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.client-bus-wrapper {
  display: inline-block;
  vertical-align: top;
  .bus-floor {
    align-items: center;
    background-color: $white;
    border: 3px solid #D1D1D1;
    border-radius: 55px 55px 25px 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    padding: 1rem;
    position: relative;
    &.first-floor {
      padding-top: 1.8rem;
    }
    .bus-front {
      height: 50px;
      left: 15px;
      position: absolute;
      top: 15px;
      width: 88%;
    }
    .bus-left-mirror {
      left: -27px;
      position: absolute;
      top: 45px;
    }
    .bus-right-mirror {
      position: absolute;
      right: -26px;
      top: 45px;
    }
    .floor-number {
      color: $color-042b63;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      margin: 0;
      position: absolute;
      top: 10px;
      &.first {
        top: 22px;
      }
    }
    .bus-row {
      display: flex;
      margin-bottom: 5px;
      &:first-child {
        margin-top: 52px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .bus-column {
        display: flex;
        justify-content: center;
        width: 46px;
        height: 47px;
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
        p {
          color: $color-1763d1;
          margin: 0;
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 22px;
        }
        .driver-img {
          font-size: 45px ;
        }
        .seat {
          position: relative;
          display: flex;
          justify-content: center;
          img {
            width: 55px;
          }
          p {
            position: absolute;
            top: 19%
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}