@import 'variables';

$sidebar-width: 15rem;
$sidebar-hidden-margin: -15rem;
$custom-sidebar-header-height: 135px;
$sidebar-mobile-z-index: 20;
$backdrop-z-index: 10;

.custom-sidebar-container {
  margin-left: 0;
  min-height: 100vh;
  height: 100%;
  background-color: rgb(222, 217, 217);
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  .custom-sidebar-header {
    background-color: $color-042b63;
    color: $white;
    text-transform: uppercase;
    height: $custom-sidebar-header-height;
  }
  .custom-sidebar-header {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  .custom-list-group {
    width: $sidebar-width;
    .menu-item {
      align-items: center;
      background-color: $color-dce9fb;
      border: none;
      color: $color-042b63;
      display: flex;
      font-size: 16px;
      justify-content: space-between;
      .item-info {
        align-items: center;
        display: flex;
        i.icon {
          font-size: 28px;
          margin-right: 10px;
        }
      }

      i.icon-arrow-outline {
        font-size: 12px;
      }
      &.opened {
        i.icon-arrow-outline {
          transform: rotate(180deg);
          padding-top: 3px;
        } 
      }
    }
    .submenu-item {
      align-items: center;
      background-color: $color-e1e1e1;
      display: flex;
      font-size: 14px;
      color: $color-042b63;
      border: none;
      i.icon {
        font-size: 25px;
        margin-left: 20px;
        margin-right: 5px;
        width: 25px;
        &.icon-bus-template {
          font-size: 23px;
        }
        &.icon-group {
          font-size: 15px;
        }
        &.icon-routes {
          transform: translateX(-3px);
        }
        &.icon-departure {
          transform: translateX(3px);
        }
        &.icon-reports {
          font-size: 20px;
          transform: translateX(2px);
        }
      }
      p {
        margin-left: 5px;
        margin-bottom: 0;
      }
      &.disabled {
        color: rgb(118, 118, 118);
        .submenu-item-image {
          filter: grayscale(1) opacity(0.5);
        }
      }
    }
    .submenu-item-selected {
      background-color: $white;
      &:hover {
        background-color: $white !important;
      }
    }
    .submenu-item:hover {
      background-color: rgb(240, 240, 240);
    }
  }
  &.ovj-admin {
    background-color: #3A4651;
    .custom-sidebar-header {
      background: linear-gradient(0deg, #222A31, #222A31), #2B343D;
    }
    .custom-list-group {
      .menu-item {
        background: linear-gradient(0deg, #333E48, #333E48), #85CE36;
        color: $white;
      }
      .submenu-item {
        background-color: #2B343D;
        color: #C4C4C4;
      }
      .submenu-item-selected {
        background-color: #3A4651 !important;
      }
      .submenu-item:hover {
        background-color: #485562 !important;
      }
    }
  }
}

.admin-dashboard-container {
  position: relative;
  width: 100%;
}

.custom-sidebar-backdrop {
  z-index: $backdrop-z-index;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100% !important;
  min-height: 100vh !important;
  background: black;
  opacity: 0.5;
  display: none;
}

.header-burger-buttom {
  display: none;
}

.admin-main-container.toggled .custom-sidebar-container {
  margin-left: 0;
}

@media (max-width: $break-large) {
  .header-burger-buttom {
    display: block;
  }
  .custom-sidebar-container {
    margin-left: -15rem;
    position: fixed;
    z-index: $sidebar-mobile-z-index;
    .custom-list-group.list-group-flush {
      overflow-y: auto !important;
      height: calc( 100vh - 135px ) !important;
    }
  }
  .admin-main-container.toggled {
    .custom-sidebar-container {
      margin-left: 0;
    }
    .custom-sidebar-backdrop {
      display: block !important;
    }
  }
}