@import 'variables';

.steper-form {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;
  .progress {
    background-color: $color-f4f5f8;
    height: 100%;
    padding: 22px 10px 20px 0;
    width: 223px;
    .step-items-list {
      .step-item {
        align-items: center;
        display: flex;
        margin-bottom: 15px;
        padding: 10px 1.5rem;
        &:last-child {
          margin-bottom: 0;
        }
        p {
          font-style: normal;
          margin-bottom: 0;
        }
        .number {
          align-items: center;
          border-radius: 50%;
          background-color: $color-9aa0a6;
          display: flex;
          justify-content: center;
          height: 29px;
          margin-right: 7px;
          width: 29px;
          p {
            color: $white;
            font-size: 14px;
            font-weight: normal;
            line-height: 29px;
          }
        }
        .leyend {
          width: calc(100% - 36px);
          p {
            color: $color-666666;
            font-size: 14px;
            font-weight: 500;
            line-height: 15px;
            word-break: break-word;
          }
        }
        &.active {
          border-right: 3px solid $color-126ba5;
          .number {
            background-color: $color-3880ff;
          }
          .leyend {
            p {
              color: $color-042b63;
            }
          }
        }
        &.selected {
          background-color: $white;
          border-right: 3px solid $color-126ba5;
          .number {
            background-color: $color-3880ff;
          }
          .leyend {
            p {
              color: $color-042b63;
            }
          }
        }
        &.completed {
          .number {
            background-color: $color-3880ff;
          }
          .leyend {
            p {
              color: $color-042b63;
            }
          }
        }
      }
    }
  }
  .content {
    background-color: $white;
    width: calc(100% - 223px);
    .actions-btns {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 25px 0 45px 0;
      padding: 0 20px;
      .btn {
        margin-right: 10px;
        min-width: 154px;
        width: auto;
        &.submit {
          background-color: $color-ff533d;
        }
        &.next {
          background-color: $color-3880ff;
          margin-right: 0;
        }
      }
    }
  }
  &.ovj-admin {
    .progress {
      padding: 25px 0 25px 0;
    }
    .content {
      .actions-btns {
        .btn {
          &.submit {
            background-color: $color-1ac05c;
          }
        }
      }
    }
  }
}