@import 'variables';

// ----------------------------------------------------------------------
// Text Fonts
// ----------------------------------------------------------------------
@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/avenir/avenir-roman.otf');
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-Medium.ttf');
}
// ----------------------------------------------------------------------
// Text colors
// ----------------------------------------------------------------------
.ovj-text-primary {
    color: $color-042b63 !important;
}
.ovj-text-orange {
    color: $color-ff533d;
}
.client-text-primary {
  color: $color-1763d1;
}
.client-text-dark-primary {
  color: $color-000042;
}
.client-text-large {
  font-size: 1.05rem;
  &.line-height {
    line-height: 22px;
  }
}
.client-text-small {
  font-size: 0.85rem;
}
.client-text-orange {
  color: $color-ff6022;
}
.client-text-500 {
  font-weight: 500;
}
.client-text-800 {
  font-weight: 800;
}
// ----------------------------------------------------------------------
// Background colors
// ----------------------------------------------------------------------
.ovj-bg-primary {
    background-color: $ovj-primary;
}
.ovj-bg-light-secondary {
    background-color: $ovj-light-secondary;
}
// ----------------------------------------------------------------------
// Text size
// ----------------------------------------------------------------------
.ovj-text-xs {
    font-size: 0.75rem !important;
    line-height: inherit;
}
.ovj-text-sm {
    font-size: 0.85rem !important;
}