@import 'variables';

ngb-timepicker {
  &.is-invalid {
    .ngb-tp-input-container.ngb-tp-hour {
      input {
        border: 1px solid $color-dc3545;
      }
    }
    .ngb-tp-input-container.ngb-tp-minute {
      input {
        border: 1px solid $color-dc3545;
      }
    }
  }
}