<div class="mb-4">
  <div class="row">
    <div class="col-12 ovj-banner">
      <img src="assets/images/oviajamos-banner.svg" loading="lazy">
      <p class="title m-0">Editar salida</p>
    </div>
    <div class="col-md-10 offset-md-1">
      <div class="mt-2">
        <div class="form-loader" *ngIf="loadingDeparture">
          <app-spinner-small></app-spinner-small>
        </div>
        <app-departure-form [departure]="departure"
          [enterprise]="enterprise"
          *ngIf="!loadingDeparture">
        </app-departure-form>
        <div class="form-actions-container" *ngIf="!loadingDeparture">
          <button class="btn btn-default ovj-btn-light" type="button" [disabled]="submitting"
            (click)="onDiscard()" ngbAutofocus>Cancelar</button>
          <button class="btn ovj-btn-orange" type="submit" [disabled]="submitting" (click)="onSubmit()">
            <ng-container *ngIf="!submitting"> Guardar </ng-container>
            <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
            <ng-container [ngSwitch]="submitting">
            </ng-container>
          </button>
        </div>
      </div>
    </div>  
  </div>
</div>