.assigned-driver-title {
  padding: 0.8rem 1rem;
  .assigned-driver-check {
    width: 18px;
    height: 18px;
  }
}

.custom-radio {
  margin-bottom: 0.4rem;
  .custom-control-label {
    cursor: pointer;
  }
}
