@import 'variables';

.move-to-bus-banner {
  align-items: center;
  background: linear-gradient(180deg, #DCE9FB 0%, #FFFFFF 100%);
  border-radius: 10px;
  display: flex;
  height: 67px;
  justify-content: center;
  p {
    color: $color-3c64b1;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
  }
}
.selected-seats {
  display: flex;
  justify-content: center;
  p {
    color: $color-3c64b1;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    b {
      color: $black;
    }
  }
}

@media screen and (max-width: $break-large) {
  .move-to-bus-banner {
    background: none;
    p {
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
    }
  }
}