<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="officeGroup">
  <div class="text-center">
    <h6 class="ovj-form-title">Información de Oficina</h6>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Nombre<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="name"
          [ngClass]="{'is-invalid': submitted && officeForm.name.errors}">
        <div class="invalid-feedback" *ngIf="officeForm.name.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Dirección<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="address"
          [ngClass]="{'is-invalid': submitted && officeForm.address.errors}">
        <div class="invalid-feedback" *ngIf="officeForm.address.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Departamento<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="department"
          notFoundText="Sin coincidencias"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && officeForm.department.errors}">
          <ng-option *ngFor="let key of departmentEnumKeys" [value]="departmentEnum[key]">
            {{ departmentEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="officeForm.department.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Tipo<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="type"
          notFoundText="Sin coincidencias"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && officeForm.type.errors}">
          <ng-option *ngFor="let key of officeTypeEnumKeys" [value]="officeTypeEnum[key]">
            {{ officeTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="officeForm.type.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <app-dosage-form [officeForm]='officeGroup' [submitted]= 'submitted'></app-dosage-form>
</form>