<div class="d-flex justify-content-center align-items-center mt-2 mb-4">
  <h6 class="ovj-text-primary m-0">Representación legal</h6>
  <i class="icon icon-info ovj-btn-info"></i>
</div>
<div class="row movil-padding"> 
  <div class="col-md-6">
    <div class="ovj-form">
      <label class="ovj-label">Nombres<span class="text-danger">*</span></label>
      <input  [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
    </div>
    <label [hidden]='hiddenInput' class="ovj-label">Nombres</label>
  </div>
  <div class="col-md-6">
    <div class="ovj-form">
      <label class="ovj-label">Apellidos<span class="text-danger">*</span></label>
      <input  [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
    </div>
    <label [hidden]='hiddenInput' class="ovj-label">Apellidos</label>
  </div>  
  <div class="col-md-6">
    <div class="ovj-form">
      <label class="ovj-label">Ci<span class="text-danger">*</span></label>
      <input  [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
    </div>
    <label [hidden]='hiddenInput' class="ovj-label">Ci</label>
  </div>
  <div class="col-md-6">
    <div class="ovj-form">
      <label class="ovj-label">Celular<span class="text-danger">*</span></label>
      <input [hidden]='!hiddenInput' type="number" class="form-control ovj-input">
    </div>
      <label [hidden]='hiddenInput' class="ovj-label">Celular</label>
  </div>
</div>