<form class="oviajamos-client-form p-0 m-0" autocomplete="off" [formGroup]="personGroup">
  <div class="ovj-form">
    <label class="ovj-label">Nombre Completo<span class="text-danger">*</span></label>
    <input type="text" [id]="'passengerName'+index" class="form-control ovj-input with-icon" formControlName="name">
    <i class="icon icon-person input-icon"></i>
  </div>
  <div class="ovj-form">
    <label class="ovj-label">Documento de identidad<span class="text-danger">*</span></label>
    <input type="number" [id]="'documentNumber'+index" class="form-control ovj-input with-icon" formControlName="documentNumber"
      (keydown)="numberInputValidator($event)">
      <i class="icon icon-id-card input-icon"></i>
  </div>
</form>