<form class="oviajamos-form" autocomplete="off" [formGroup]="adminUserGroup">
  <div class="text-center">
    <h5 class="ovj-text-primary">Información del Administrador</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Nombres<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="name"
          [ngClass]="{'is-invalid': submitted && adminUserForm.name.errors}">
        <div class="invalid-feedback" *ngIf="adminUserForm.name.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="adminUserForm.name.errors?.maxlength">Máximo de 100 caracteres</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Apellidos<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="lastName"
          [ngClass]="{'is-invalid': submitted && adminUserForm.lastName.errors}">
        <div class="invalid-feedback" *ngIf="adminUserForm.lastName.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="adminUserForm.lastName.errors?.maxlength">Máximo de 100 caracteres</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form" [formGroup]="enterpriseAdminGroup">
        <label class="ovj-label">CI<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="documentNumber"
          [ngClass]="{'is-invalid': submitted && enterpriseAdminForm.documentNumber.errors}">
        <div class="invalid-feedback" *ngIf="enterpriseAdminForm.documentNumber.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="enterpriseAdminForm.documentNumber.errors?.minlength">Mínimo de 7 caracteres</div>
        <div class="invalid-feedback" *ngIf="enterpriseAdminForm.documentNumber.errors?.maxlength">Máximo de 100 caracteres</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Celular<span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="phone"
          [ngClass]="{'is-invalid': submitted && adminUserForm.phone.errors}"
          (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="adminUserForm.phone.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="adminUserForm.phone.errors?.min">Mínimo 7 dígitos</div>
        <div class="invalid-feedback" *ngIf="adminUserForm.phone.errors?.max">Máximo 8 dígitos</div>
        <div class="invalid-feedback" *ngIf="adminUserForm.phone.errors?.pattern">Valor inválido</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Correo Electrónico<span class="text-danger">*</span></label>
        <input type="email" class="form-control ovj-input" formControlName="email"
          [ngClass]="{'is-invalid': submitted && adminUserForm.email.errors}">
        <div class="invalid-feedback" *ngIf="adminUserForm.email.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="adminUserForm.email.errors?.email">Correo inválido</div>
      </div>
    </div>
  </div>
  <div class="row mb-2" *ngIf="adminUserForm.password">
    <div class="col-lg">
      <div class="ovj-form">
        <label for="password" class="ovj-label">Contraseña<span class="text-danger">*</span></label>
        <input type="password" class="form-control ovj-input" formControlName="password" autocomplete="new-password"
          [ngClass]="{'is-invalid': submitted && adminUserForm.password.errors}">
        <div class="invalid-feedback" *ngIf="adminUserForm.password.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="adminUserForm.password.errors?.minlength">Mínimo de 8 caracteres</div>
        <div class="invalid-feedback" *ngIf="adminUserForm.password.errors?.maxlength">Máximo de 24 caracteres</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Confirmar contraseña<span class="text-danger">*</span></label>
        <input type="password" class="form-control ovj-input" formControlName="confirmPassword"
          [ngClass]="{'is-invalid': submitted && adminUserForm.confirmPassword.errors}">
        <div class="invalid-feedback" *ngIf="adminUserForm.confirmPassword.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="adminUserForm.confirmPassword.errors?.machPassword">La contraseña no coincide</div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</form>