<app-departure-sales-filter [departure]="departure"
  [departures]="departures"
  [initialized]="initialized"
  [loadingDepartures]="loadingDepartures"
  [defaultParams]="departureSearchParams"
  (filterDeparturesEvent)="filterDeparturesEvent($event)"
  (selectDepartureEvent)="selectDepartureEvent($event)">
</app-departure-sales-filter>
<router-outlet></router-outlet>