@import 'variables';

.travel-search-form {
  background: white;
  align-items: center;
  display: flex;
  padding-right: 1rem;
  .check-container {
    justify-content: flex-start !important;
    label {
      white-space: nowrap;
    }
  }
  .filter-inputs {
    align-items: center;
    display: flex;
    width: 100%;
    .ovj-form {
      &:nth-child(1) {
        width: 25%;
      }
      &:nth-child(3) {
        width: 25%;
      }
      &:nth-child(4) {
        width: 32%;
      }
      &:nth-child(5) {
        width: 13%;
      }
      .ovj-input {
        color: $color-042b63 !important;
        border: none !important;
        background: $color-f5f5f5;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        height: 41.41px;
        line-height: 31px;
        margin: 0;
        &.departure-time {
          cursor: pointer;
          font-style: normal;
          font-weight: 500;
          font-size: 24px !important;
          line-height: 31px;
          text-transform: uppercase !important;
          &:hover {
            background: #C5FAC6;
          }
        }
        &:focus {
          background-color: $ovj-success;
        }
      }
      .ovj-label {
        background-color: transparent;
        color: $color-666666 !important;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 31px;
        margin-bottom: 0;
        margin-top: -6px;
        &.valid {
          color: $color-042b63 !important;
          margin-left: 5px;
          transform: translateY(-25px) scale(0.65);
        }
        &.active {
          color: $color-042b63 !important;
          margin-left: 5px;
          transform: translateY(-25px) scale(0.65);
        }
      }
      ::ng-deep {
        .ng-select {
          .ng-select-container {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            height: 45px;
            line-height: 31px;
            position: relative;
            .ng-value-container {
              .ng-value, .ng-input {
                position: absolute;
                top: 5px;
              }
            }
            .ng-arrow-wrapper {
              display: none;
            }
          }
          &.ng-select-focused {
            background: #C5FAC6;
          }
        }
        dp-date-picker {
          padding: 0;
          .dp-input-container, .dp-input-container > .dp-picker-input {
            background: transparent;
            border: none;
            font-style: normal;
            font-weight: 500;
            font-size: 24px !important;
            line-height: 31px;
            padding: 0 !important;
            padding-top: 1px !important;
            text-transform: uppercase !important;
          }
          .dp-open .dp-input-container input {
            border-bottom: none !important;
          }
          .dp-picker-input {
            border-bottom: none !important;
          }
          .dp-material.dp-popup {
            padding: 0 !important;
          }
          div {
            border-radius: 7px;
            &:first-child {
              padding-left: 9px;
              padding-right: 9px;
              &.dp-open {
                background: #C5FAC6;
              }
            }
          }
          .dp-nav-btns-container {
            padding: 0 8px;
            width: 100%;
          }
          .dp-calendar-week {
            text-align: center;
          }
        }
      }
      &.time-wrapper {
        .ovj-label {
          color: transparent !important;
        }
        .btn-group {
          .dropdown-menu {
            padding: 0;
            top: 15px;
            ::ng-deep {
              .ovj-departures-table {
                margin: 0 !important;
                tbody {
                  td {
                    border-radius: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
      ::ng-deep {
        ngb-datepicker {
          margin-top: 35px !important;
        }
      }
    }
    .arrow-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 1%;
      img {
        margin-top: 20px;
      }
    }
  }
  .ovj-form {
    margin: 5px 5px 8px 5px !important;
  }
  &.border-bottom {
    border-bottom: 1px solid $color-c4c4c4;
  }
}

@media screen and(max-width: $break-large) {
  .travel-search-form {
    padding: 2px 1.15rem 8px 0.5rem !important;
    &.departureIsSelected {
      display: none;
    }
  }
}

@media screen and (max-width: $break-small) {
  .travel-search-form {
    padding: 2px 1.15rem 8px 0.5rem !important;
    .filter-inputs {
      align-items: flex-start;
      flex-direction: column;
      height: 100%;
      .ovj-form {
        margin: 4px 0.35rem !important;
        width: 100% !important;
        ::ng-deep {
          .ng-select {
            .ng-arrow-wrapper {
              display: initial !important;
            }
          }
        }
      }
      .arrow-wrapper {
        display: none;
      }
    }
  }
}