<form class="oviajamos-form travel-search-form px-md-auto pr-md-2 py-0 px-1 mt-0"
  autocomplete="off"
  [formGroup]="travelGroup"
  [ngClass]="{'border-bottom': withoutTime, 'departureIsSelected': departure}">
  <div class="filter-inputs" [ngClass]="{'justify-content-center': withoutTime}">
    <div class="ovj-form">
      <label class="ovj-label"> Origen </label>
      <ng-select class="form-control form-control-gray ovj-input bus-stop-filter"
        formControlName="source"
        notFoundText="Sin coincidencias"
        (close)="filterDepartures()"
        (change)="filterDepartures()"
        #source>
        <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
          {{ busStop.name}}
        </ng-option>
      </ng-select>
    </div>
    <div class="arrow-wrapper">
      <img src="assets/images/major.svg" loading="lazy">
    </div>
    <div class="ovj-form location-input">
      <label class="ovj-label"> Destino </label>
      <ng-select class="form-control form-control-green ovj-input bus-stop-filter"
        formControlName="destination"
        (close)="filterDepartures()"
        (change)="filterDepartures()"
        notFoundText="Sin coincidencias"
        #destination>
        <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
          {{ busStop.name}}
        </ng-option>
      </ng-select>
    </div>
    <div class="ovj-form">
      <label class="ovj-label"> Fecha </label>
      <input class="form-control form-control-gray ovj-input"
        [value]="dateValue"
        placeholder="DD/MM/YYYY"
        readonly="true"
        (focus)="$event.preventDefault()"
        (click)="d.toggle()"
        (keydown)="($event.key === 'Enter') ? d.open() : ''">
      <input class="d-none"
        formControlName="departureDate"
        ngbDatepicker
        [autoClose]="true"
        (dateSelect)="filterDepartures(); d.close()"
        #d="ngbDatepicker">
    </div>
    <div class="ovj-form time-wrapper" *ngIf="departure && !withoutTime">
      <label class="ovj-label">-</label>
      <div class="btn-group" ngbDropdown>
        <input ngbDropdownToggle
          type="text"
          class="form-control ovj-input departure-time"
          [value]="(departure?.departureDate.departureTime | formatHour2) + ' / ' + departure?.order"
          readonly>
        <div ngbDropdownMenu class="dropdown-menu-right">
          <app-filtered-sale-departures-table [departures]="departures"
            [modifying]="modifying"
            [popupMode]="true"
            [initialized]="initialized"
            [loadingDepartures]="loadingDepartures"
            [selectedDeparture]="departure"
            (selectDepartureEvent)="selectDeparture($event)"
            (setStatusEnumEvent)="setStatus($event)">
          </app-filtered-sale-departures-table>
        </div>
      </div>
    </div>
  </div>
</form>