<form class="my-5" autocomplete="disabled" [formGroup]="loginFormGroup">
  <div class="image-banner">
    <img src="assets/images/oviajamos.svg" loading="lazy">
  </div>
  <div class="form-group">
    <label for="user">Correo</label>
    <input type="email" class="form-control"
      id="user"
      aria-describedby="emailHelp"
      placeholder="Escriba su correo"
      formControlName="user">
    <div *ngIf="submitted && f.user.errors">
      <label *ngIf="f.user.errors.required" class="message-error">Campo obligatorio</label>
    </div>
  </div>
  <div class="pass-input form-group">
    <label for="password">Contraseña</label>
    <input [type]="(!showPassword) ? 'password' : 'text'"
      class="form-control" id="password"
      placeholder="Escriba su contraseña"
      formControlName="password">
    <i class="icon" [ngClass]="{'icon-eye': !showPassword, 'icon-eye-blocked': showPassword}"
      (click)="showPassword = !showPassword"></i>
    <div *ngIf="submitted && f.password.errors">
      <label *ngIf="f.password.errors.required" class="message-error">Campo obligatorio</label>
    </div>
  </div>
  <div id="recaptcha-container"></div>
  <div class="form-check margin-button-checkbox">
    <label class="form-check-label size-text text-muted" >
      <i class="space-rigth" ></i>
      <input type="checkbox"
        class="form-check-input"
        (change)="onCheckboxChange($event)">
      Mantener la sesión abierta
    </label>
  </div>
  <div class="margin-info">
    <i class="icon icon-info float-left"></i>
    <small id="emailHelp" class="form-text text-muted margin">Nunca compartas tu correo y contraseña.</small>
  </div>
  <div *ngIf="authError" class="mb-2">
    <label class="message-error"> {{ authError | translateAuthError }} </label>
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="loadingLogin">
    <ng-container *ngIf="!loadingLogin">
      {{ !authService.isPhoneNumber(loginFormGroup.get('user').value) ? 'Ingresar':'Enviar SMS' }}
    </ng-container>
    <div *ngIf="loadingLogin" class="spinner-border spinner-btn text-light" role="status"></div>
  </button>
</form>