<form class="border-light oviajamos-form movil-padding" autocomplete="off">
  <div class="row justify-content-center">
    <div class="mb-form ovj-input-file">
      <div class="image-circle-container">
        <img [src]="dafaultImage"
          class="view-photo"
          loading="lazy">
        <img class="camera-icon"
          src="assets/icons/camera-icon-2.svg"
          loading="lazy">
        <input type="file" accept=".png, .jpg, .jpeg" (change)="setImage($event)">
      </div>
    </div>
 </div>
 <br>

  <div class="row">
    <div class="col-md-12 text-center">
      <h6 class="ovj-form-title">Información de la empresa</h6>
    </div>
    
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Nombres<span class="text-danger">*</span></label>
        <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
      </div>
      <label [hidden]='hiddenInput' class="ovj-label">Nombres</label> 
    </div>

    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Tipo de empresa<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          [hidden]='!hiddenInput'
          notFoundText="Sin coincidencias"
          [searchable]="false">
        </ng-select>
      </div>
      <label [hidden]='hiddenInput' class="ovj-label">Tipo de empresa</label>
    </div>
 
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Razón social<span class="text-danger">*</span></label>
        <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
      </div>
      <label [hidden]='hiddenInput' class="ovj-label">Razón social</label>
    </div>

    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Tipo de documento<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          [hidden]='!hiddenInput'
          notFoundText="Sin coincidencias"
          [searchable]="false">
        </ng-select>
      </div>
      <label [hidden]='hiddenInput' class="ovj-label">Tipo de documento</label>
    </div>
  </div>

  <app-form-legal-representative></app-form-legal-representative>

  <div class="form-actions-container mt-3">
    <button [hidden]="hiddenInput" type="button" class="btn ovj-btn-orange-2" (click)="editInfoEnterprice()"> editar </button>
    <button [hidden]="!hiddenInput" class="btn ovj-btn-light" type="button" >Volver a inicio</button>
    <button [hidden]="!hiddenInput" type="button" class="btn ovj-btn-orange-2"> Guardar</button>
  </div>
</form>

  