@import 'variables';

.modal-wrapper {
  .content {
    padding: 25px 3rem 0 3rem;
    text-align: center;
    p {
      font-style: normal;
      margin: 0;
    }
    .title {
      color: $color-3c64b1;
      font-size: 36px;
      font-weight: 500;
      line-height: 40px;
      margin: 7px 10px;
    }
    .message {
      color: $color-042b63;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      b {
        font-weight: bold;
      }
    }
    .seat-change-info {
      .prev, .next {
        display: flex;
        align-items: flex-start;
        .detail {
          text-align: start;
          margin-left: 10px;
          p {
            color: $color-042b63;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            line-height: 18px;
            margin-bottom: 1px;
            &:first-child {
              font-size: 15px;
              font-weight: bold;
            }
          }
        }
      }
      .prev {
        margin-bottom: 10px;
        position: relative;
        .seat-img {
          position: relative;
          display: flex;
          justify-content: center;
          p {
            color: $white;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            margin: 0;
            position: absolute;
            top: 21%;
          }
        }
        .arrow-line {
          border-left: 3px solid #666666;
          height: calc(100% - 38px);
          left: 26px;
          position: absolute;
          top: 45px;
          width: 1px;
        }
        i.ovj-arrow {
          bottom: -10px;
          left: 24px;
          position: absolute;
        }
      }
      .next {
        .seat-img {
          position: relative;
          display: flex;
          justify-content: center;
          p {
            color: $black;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            margin: 0;
            position: absolute;
            top: 21%;
          }
        }
      }
    }
  }
  .actions {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 20px 0 20px;
    width: 100%;
    .btn {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      width: 200px;
      &:first-child {
        background-color: $white;
        border: 1px solid #007BFF;
        border-radius: 6px !important;
        color: $color-042b63;
        margin-right: 10px;
      }
      &:last-child {
        background: $color-ff533d;
        border-radius: 10px;
        color: $white;
        margin-left: 10px;
      }
    }
  }
}