@import 'variables';

table.assignment-data-table {
  width: 100%;
  th, td {
    padding: 4px 6px;
  }
  thead {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $color-042b63;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    th {
      background-color: $color-ebebeb;
      text-align: center;
      &:first-child {
        border-top-left-radius: 5px;
        width: 95px;
      }
      &:nth-child(3) {
        width: 65px;
      }
      &:nth-child(4) {
        width: 85px;
      }
      &:nth-child(5) {
        width: 90px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        width: 80px;
      }
    }
  }
  tbody {
    tr {
      td {
        border: 1px solid #e3e3e3;;
        text-align: center;
        .ovj-btn-circle {
          background-color: transparent;
          margin: 0 auto;
          .rounded-circle {
            padding-top: 5px;
            i.icon {
              font-size: 22px;
              &::before {
                color: $color-fb3f4a;
              }
            }
          }
        }
      }
      .ovj-form {
        width: initial;
        .form-control {
          border-radius: 0;
        }
        .ovj-label-check {
          margin-left: 3px !important;
          font-size: 18px !important;
        }
        .fragile-checkbox {
          cursor: pointer;
          transform: scale(1.7);
        }
      }
    }
  }
}

.table-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  .ovj-btn {
    height: 44px;
    width: 261px;
  }
  .to-pay {
    display: flex;
    p {
      color: $color-333e48;
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 0;
      &:last-child {
        color: $color-042b63;
        font-size: 18px;
        margin-left: 3px;
      }
    }
  }
}

.oviajamos-form {
  .ovj-form {
    textarea {
      height: 65px;
      line-height: 18px;;
      padding: 3px 8px !important;
      resize: none;
    }
  }
}

@media screen and (max-width: $break-small) {
  .table-actions {
    flex-direction: column-reverse;
    .to-pay {
      width: 100%;
      margin-bottom: 15px;
    }
    .ovj-btn {
      width: 100%;
    }
  }
}