<div class="custom-table-responsive">
  <table class="assignment-data-table mt-3">
    <thead>
      <tr>
        <th> N. paquetes </th>
        <th> Descripción </th>
        <th> Frágil </th>
        <th> Peso (Kg) </th>
        <th> Total (Bs) </th>
        <th> <i class="icon icon-settings-outline"></i> </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let packageGroup of packagesFormArray.controls; let i=index">
        <tr class="oviajamos-form" [formGroup]="packageGroup">
          <td class="ovj-form">
            <input type="number" class="form-control ovj-input" formControlName="quantity"
              [ngClass]="{'is-invalid': submitted && packageGroup.controls.quantity.errors}"
              (keydown)="numberInputValidator($event)">
          </td>
          <td class="ovj-form">
            <input type="text" class="form-control ovj-input" formControlName="description"
              [ngClass]="{'is-invalid': submitted && packageGroup.controls.description.errors}">
          </td>
          <td class="ovj-form">
            <input type="checkbox" class="fragile-checkbox" formControlName="isFragile">
            <ng-container *ngIf="false">
              <input type="checkbox" formControlName="isFragile"
                id="fragile-check"
                class="ovj-check">
              <label class="ovj-label-check font-weight-bold ovj-text-sm m-0" for="fragile-check">&nbsp;</label>
            </ng-container>
          </td>
          <td class="ovj-form">
            <input type="number" class="form-control ovj-input" formControlName="weight"
              [ngClass]="{'is-invalid': submitted && packageGroup.controls.weight.errors}"
              (keydown)="floatInputValidator($event)">
          </td>
          <td class="ovj-form">
            <input type="number" class="form-control ovj-input" formControlName="price"
              [ngClass]="{'is-invalid': submitted && packageGroup.controls.price.errors}"
              (keydown)="floatInputValidator($event)">
          </td>
          <td>
            <button type="button"
              *ngIf="i > 0"
              class="ovj-btn-circle options-btn btn btn-default"
              (click)="removePackage(i)">
              <div class="rounded-circle">
                <i class="icon icon-trash"></i>
              </div>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="table-actions mt-2">
  <button type="button" class="btn btn-default ovj-btn orange"
    (click)="addPackage()">
    <i class="icon icon-plus"></i>
    <p> Añadir paquete </p>
  </button>
  <div class="to-pay">
    <p> Total a pagar: </p>
    <p> {{ totalPrice }} Bs. </p>
  </div>
</div>
<form class="oviajamos-form mt-3 p-0" autocomplete="off" [formGroup]="shipmentGroup">
  <div class="ovj-form w-100">
    <label class="ovj-label"> Observación <span class="text-danger">*</span></label>
    <textarea class="form-control ovj-input" formControlName="comment"></textarea>
  </div>
</form>