@import 'variables';

.container {
  padding: 45px 90px;
  img {
    border-radius: 10px;
  }
  .row {
    &:nth-child(1) {
      .bus-img {
        img {
          height: 265px;
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
    &:nth-child(2) {
      .bus-img {
        img {
          height: 265px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .container {
    padding: 45px 30px;
    .row {
      &:nth-child(1) {
        .bus-img {
          img {
            height: 265,14px;
            width: 100% !important;
          }
        }
      }
      &:nth-child(2) {
        &:nth-child(1) {
          img {
            height: 265,14px;
            width: 100% !important;
            margin-bottom: 10px;
          }
        }
        &:nth-child(2) {
          img {
            height: 269,72px;
            width: 100% !important;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}