<button type="button" aria-label="Close" class="close-modal-btn btn btn-default mt-2 mr-2"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="container mt-1 px-lg-5" *ngIf="bus">
  <div class="row">
    <div class="bus-img col-12">
      <img [src]="busImage" loading="lazy">
    </div>
  </div>
  <div class="row">
    <div class="bus-img col-12">
      <img [src]="busImage2" loading="lazy">
    </div>
    <div class="bus-img col-lg-6 col-12" *ngIf="false">
      <img src="assets/icons/bus/type-seat.png" loading="lazy">
    </div>
  </div>
</div>