<section class="enterprises">
  <div class="container">
    <div class="header row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/admin-oviajamos/oviajamos.png"
          loading="lazy">
        <p class="title m-0"> Reporte de cobros a clientes </p>
      </div>
    </div>
    <div class="content row">
      <div class="col-xl-7 col-12">
        <div class="filter d-flex justify-content-center"
          [formGroup]="enterpriseFilterGroup">
          <div class="month-selector col-lg-4 col-12 col-12">
            <div class="ovj-month-selector d-flex justify-content-between align-items-center">
              <button type="button"
                class="ovj-btn-circle native-size btn btn-default btn-circle top-bar-arrow"
                (click)="prevMonth()">
                <i class="icon icon-arrow-outline"></i>
              </button>
              <div>
                <div class="top-bar-date text-center" (click)="datepicker.api.open()" > 
                  <h5 class="month-text">
                    {{ capitalize(month) }}
                  </h5>
                  <h6 class="year-text"> {{ year }} </h6>
                </div>
                <dp-date-picker class="hidden"
                  formControlName="date"
                  (onChange)="submit$.next(true)"
                  [config]="datePickerConf"
                  mode="month"
                  theme="dp-material"
                  #datepicker>
                </dp-date-picker>
              </div>
              <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circle top-bar-arrow"
                (click)="nextMonth()">
                <i class="icon icon-arrow-outline"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="ovj-custom-table mt-3">
          <table>
            <thead>
              <tr>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow"></i>
                  <p> Nombre </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Fecha de último pago </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Estado </p>
                </div> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loadingEnterprises">
                <td colspan="3">
                  <app-spinner-small></app-spinner-small>
                </td>
              </tr>
              <ng-container *ngIf="!loadingEnterprises">
                <tr *ngFor="let enterprise of enterprises; let i=index; let first=first"
                  [ngClass]="{'selected': enterprise.companyId === selectedEnterprise?.companyId}"
                  (click)="selectEnterprise(enterprise)">
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <div class="enterprise-info">
                      <div class="td-icon-wrapper">
                        <img class="rounded-circle"
                          [src]="enterprise.imageUrl"
                          *ngIf="enterprise.imageUrl && enterprise.imageUrl.length > 0"
                          loading="lazy">
                        <i class="icon icon-business"
                          *ngIf="!enterprise.imageUrl || enterprise.imageUrl.length === 0"></i>
                      </div>
                      <p> {{ enterprise.name }} </p>
                    </div>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> --/--/---- </p>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <div class="status-badge warning">
                      <p> Pendiente </p>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="paginator">
            <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
              [page]="paginationMeta?.currentPage"
              [boundaryLinks]="true"
              (pageChange)="pageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="custom-card-info">
          <div class="unselected-element header-item" *ngIf="!selectedEnterprise">
            <img src="assets/images/unselected-bus.svg" loading="lazy">
            <p> Seleccione una empresa para visualizar </p>
          </div>
          <div class="selected-element content-item" *ngIf="selectedEnterprise">
            <div class="principal">
              <div class="icon-wrapper">
                <img class="rounded-circle"
                  [src]="selectedEnterprise.imageUrl"
                  *ngIf="selectedEnterprise.imageUrl && selectedEnterprise.imageUrl.length > 0"
                  loading="lazy">
                <i class="icon icon-business"
                  *ngIf="!selectedEnterprise.imageUrl || selectedEnterprise.imageUrl.length === 0"></i>
              </div>
              <p class="item-label"> {{ selectedEnterprise.name }} </p>
              <p class="item-sub-label"> {{ selectedEnterprise.legalOrganizer?.phoneNumber }} </p>
              <p class="item-sub-label"> NIT: {{ selectedEnterprise.nit }} </p>
              <p class="item-sub-label"> Razón social: {{ selectedEnterprise.businessName }} </p>
              <div class="status mt-3">
                <p> Estado </p>
                <div class="badge success">
                  <p> Pagado </p>
                </div>
              </div>
            </div>
            <div class="detail mt-4">
              <div class="commissions">
                <div class="title"> Comisiones </div>
                <div class="item">
                  <p> Venta de pasajes en punto físico </p>
                  <p> 10000,00 Bs. </p>
                </div>
                <div class="item">
                  <p> Venta de pasajes en línea </p>
                  <p> 10000,00 Bs. </p>
                </div>
                <div class="item">
                  <p> Por encomiendas realizadas </p>
                  <p> 10000,00 Bs. </p>
                </div>
                <hr>
                <div class="to-pay">
                  <p> Total a pagar: </p>
                  <p> 30000,00 Bs. </p>
                </div>
              </div>
              <div class="actions mt-3">
                <button class="btn ovj-btn primary">
                  Editar
                </button>
                <button class="btn ovj-btn primary" (click)="paymentDetail()">
                  Ver más detalles
                </button>
                <button class="btn ovj-btn orange">
                  <i class="icon icon-print"></i>
                  Descargar factura
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-items-table row">
      <div class="col-12">
        <div class="header">
          <div class="header-element">
            <p> Nombre de empresa </p>
          </div>
        </div>
        <div class="card-item" *ngIf="loadingEnterprises">
          <app-spinner-small></app-spinner-small>
        </div>
        <ng-container *ngIf="!loadingEnterprises">
          <div class="card-item" *ngFor="let enterprise of enterprises; let i=index; let first=first"
            (click)="showDetail(enterprise)">
            <div class="item">
              <div class="custom-row">
                <div class="td-icon-wrapper">
                  <i class="icon icon-business"></i>
                </div>
                <p> {{ enterprise.name }} </p>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="paginator">
          <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
            [page]="paginationMeta?.currentPage"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</section>
