<section class="enterprises">
  <div class="container">
    <div class="header row">
      <div class="col-xl-7 col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/admin-oviajamos/oviajamos.png"
          loading="lazy">
        <p class="title m-0">Empresa de transporte</p>
      </div>
      <div class="add-button col-3">
        <button type="button" class="ovj-btn orange btn btn-default"
          (click)="addEnterprise()">
          <i class="icon icon-plus"></i>
          <p> Añadir empresa </p>
        </button>
      </div>
    </div>
    <div class="content row">
      <div class="col-7">
        <div class="ovj-custom-table">
          <table>
            <thead>
              <tr>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow"></i>
                  <p> Nombre </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Celular </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Estado </p>
                </div> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loadingEnterprises">
                <td colspan="3">
                  <app-spinner-small></app-spinner-small>
                </td>
              </tr>
              <ng-container *ngIf="!loadingEnterprises">
                <tr *ngFor="let enterprise of enterprises; let i=index; let first=first"
                  [ngClass]="{'selected': enterprise.companyId === selectedEnterprise?.companyId}"
                  (click)="selectEnterprise(enterprise)">
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <div class="enterprise-info">
                      <div class="td-icon-wrapper">
                        <img class="rounded-circle"
                          [src]="enterprise.imageUrl"
                          *ngIf="enterprise.imageUrl && enterprise.imageUrl.length > 0"
                          loading="lazy">
                        <i class="icon icon-business"
                          *ngIf="!enterprise.imageUrl || enterprise.imageUrl.length === 0"></i>
                      </div>
                      <p> {{ enterprise.name }} </p>
                    </div>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> {{ enterprise.legalOrganizer?.phoneNumber }} </p>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <div class="status-dropdown d-inline-block" ngbDropdown
                      *ngIf="enterprise.status !== companyStatusEnum.INCOMPLETE_RECORD">
                      <button ngbDropdownToggle class="btn"
                        id="enterpriseStatus"
                        (click)="$event.preventDefault()"
                        [ngClass]="{'disabled': modifying.includes(enterprise.companyId)}">
                        <i class="icon icon-sort-arrow"></i>
                        <p class="m-0">
                          {{ enterprise.status }}
                        </p>
                        <div class="fill-btn"></div>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="enterpriseStatus">
                        <ng-container *ngFor="let key of companyStatusEnumKeys">
                          <a ngbDropdownItem
                            *ngIf="enterprise.status !== companyStatusEnum[key] &&
                              companyStatusEnum[key] !== companyStatusEnum.INCOMPLETE_RECORD"
                            (click)="setCompanyStatus(enterprise, key); $event.preventDefault()">
                            <p> {{ companyStatusEnum[key] }} </p>
                          </a>
                        </ng-container>
                      </div>
                    </div>
                    <div class="incomplete-badge"
                      *ngIf="enterprise.status === companyStatusEnum.INCOMPLETE_RECORD">
                      <div class="badge">
                        <p> Registro incompleto </p>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="paginator">
            <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
              [page]="paginationMeta?.currentPage"
              [boundaryLinks]="true"
              (pageChange)="pageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="custom-card-info">
          <div class="unselected-element header-item" *ngIf="!selectedEnterprise">
            <img src="assets/images/unselected-bus.svg" loading="lazy">
            <p> Seleccione una empresa para visualizar </p>
          </div>
          <div class="selected-element content-item" *ngIf="selectedEnterprise">
            <div class="principal">
              <div class="icon-wrapper">
                <img class="rounded-circle"
                  [src]="selectedEnterprise.imageUrl"
                  *ngIf="selectedEnterprise.imageUrl && selectedEnterprise.imageUrl.length > 0"
                  loading="lazy">
                <i class="icon icon-business"
                  *ngIf="!selectedEnterprise.imageUrl || selectedEnterprise.imageUrl.length === 0"></i>
              </div>
              <p class="item-label"> {{ selectedEnterprise.name }} </p>
              <p class="item-sub-label"> {{ selectedEnterprise.legalOrganizer?.phoneNumber }} </p>
              <p class="item-sub-label"> {{ selectedEnterprise.administrator?.user?.email }} </p>
              <div class="actions">
                <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteEnterprise(selectedEnterprise)">
                  Eliminar
                </button>
                <button class="ovj-btn btn btn-default" (click)="editEnterprise(selectedEnterprise)"
                  [ngClass]="{'light-blue-bordered': selectedEnterprise.status !== companyStatusEnum.INCOMPLETE_RECORD,
                    'success': selectedEnterprise.status === companyStatusEnum.INCOMPLETE_RECORD}">
                  <ng-container *ngIf="selectedEnterprise.status !== companyStatusEnum.INCOMPLETE_RECORD">
                    Editar
                  </ng-container>
                  <ng-container *ngIf="selectedEnterprise.status === companyStatusEnum.INCOMPLETE_RECORD">
                    Completar registro
                  </ng-container>
                </button>
              </div>
            </div>
            <div class="detail mt-4">
              <div class="info-block">
                <p class="title"> Información de empresa </p>
                <div class="item-info">
                  <p> Razón social </p>
                  <p> {{ selectedEnterprise.businessName }} </p>
                </div>
                <div class="item-info">
                  <p> Tipo de empresa </p>
                  <p> {{ selectedEnterprise.type }} </p>
                </div>
                <div class="item-info">
                  <p> NIT </p>
                  <p> {{ selectedEnterprise.nit }} </p>
                </div>
              </div>
              <div class="info-block" *ngIf="selectedEnterprise.companySettings">
                <p class="title"> Información bancaria </p>
                <div class="account-item" *ngFor="let bankAccount of selectedEnterprise.companySettings.accounts">
                  <div class="item-info">
                    <p> Número de cuenta bancaria </p>
                    <p> {{ bankAccount.accountNumber }} </p>
                  </div>
                  <div class="item-info">
                    <p> Nombre de banco </p>
                    <p> {{ bankAccount.bankName }} </p>
                  </div>
                  <div class="item-info">
                    <p> Nombre de titular de cuenta </p>
                    <p> {{ bankAccount.accountOwnerName }} </p>
                  </div>
                  <div class="item-info">
                    <p> Moneda </p>
                    <p> {{ bankAccount.currency }} </p>
                  </div>
                </div>
              </div>
              <div class="info-block" *ngIf="selectedEnterprise.legalOrganizer">
                <p class="title"> Representante legal </p>
                <div class="item-info">
                  <p> Celular </p>
                  <p> {{ selectedEnterprise.legalOrganizer.phoneNumber }} </p>
                </div>
                <div class="item-info">
                  <p> Nombres </p>
                  <p> {{ selectedEnterprise.legalOrganizer.firstName }} </p>
                </div>
                <div class="item-info">
                  <p> Apellidos </p>
                  <p> {{ selectedEnterprise.legalOrganizer.lastName }} </p>
                </div>
                <div class="item-info">
                  <p> CI </p>
                  <p> {{ selectedEnterprise.legalOrganizer.documentNumber }} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-items-table row">
      <div class="col-12">
        <div class="header">
          <div class="header-element">
            <p> Nombre de empresa </p>
          </div>
        </div>
        <div class="card-item" *ngIf="loadingEnterprises">
          <app-spinner-small></app-spinner-small>
        </div>
        <ng-container *ngIf="!loadingEnterprises">
          <div class="card-item" *ngFor="let enterprise of enterprises; let i=index; let first=first"
            (click)="showDetail(enterprise)">
            <div class="item">
              <div class="custom-row">
                <div class="td-icon-wrapper">
                  <i class="icon icon-business"></i>
                </div>
                <p> {{ enterprise.name }} </p>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="paginator">
          <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
            [page]="paginationMeta?.currentPage"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="mobile-floating-btn ovj-btn-circle options-btn btn btn-default"
    (click)="addEnterprise()">
    <i class="icon icon-plus-2"></i>
  </button>
</section>
