@import 'variables';

.enterprises {
  p {
    margin-bottom: 0;
    font-style: normal;
  }
  .header {
    align-items: center;
    justify-content: space-between;
    .ovj-banner {
      .title {
        color: $white;
        font-size: 36px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .add-button {
      display: flex;
      justify-content: flex-end;
      .btn {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: 225px;
        margin-top: -50px;
        i.icon {
          font-size: 18px;
          font-weight: bolder;
          margin-right: 10px;
          &::before {
            color: $white;
          }
        }
      }
    }
  }
  .content {
    margin-top: 12px;
    margin-bottom: 30px;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .ovj-custom-table {
      tbody {
        tr {
          td {
            padding: 8px 15px;
            .enterprise-info {
              align-items: center;
              display: flex;
              .td-icon-wrapper {
                align-items: center;
                height: 50px;
                background-color: $color-ededed;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                margin-right: 5px;
                width: 50px;
                img {
                  height: 48px;
                  width: 48px;
                }
                i.icon {
                  font-size: 18px;
                  &::before {
                    color: $color-042b63;
                  }
                }
              }
            }
            p {
              color: $color-666666;
              font-size: 18px;
              font-weight: 300;
              line-height: 21px;
            }
            &:nth-child(1) {
              p {
                color: $color-042b63;
                font-size: 18px;
                font-weight: normal;
                line-height: 21px;
              }
            }
            &:last-child {
              width: 90px;
            }
            .status-dropdown {
              text-align: center;
              width: 150px;
              button {
                align-items: center;
                border: 1px solid #DCE9FB;
                border-radius: 10px;
                display: flex;
                height: 31px;
                justify-content: space-between;
                width: 100%;
                &::after {
                  display: none;
                }
                i.icon {
                  font-size: 8px;
                  margin-right: 5px;
                  &::before {
                    color: $color-042b63;
                  }
                }
                p {
                  color: $color-666666;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: normal;
                  line-height: 16px;
                }
                .fill-btn {
                  width: 3px;
                }
              }
            }
            .incomplete-badge {
              text-align: center;
              width: 150px;
              .badge {
                align-items: center;
                background-color: $white;
                border: 1px solid $color-ff533d;
                border-radius: 10px;
                display: flex;
                height: 31px;
                justify-content: center;
                width: 100%;
                p {
                  color: $color-ff533d;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: normal;
                  line-height: 16px;
                }
              }
            }
          }
          &.selected {
            .status-dropdown {
              button {
                border: 1px solid $color-042b63 !important;
              }
            }
          }
        }
      }
    }
    .custom-card-info {
      .unselected-element {
        .icon-wrapper {
          margin-top: 25px;
        }
      }
      .icon-wrapper {
        align-items: center;
        background-color: $color-ededed;
        border-radius: 50%;
        display: flex;
        height: 112px;
        justify-content: center;
        width: 112px;
        img {
          height: 112px;
          width: 112px;
        }
        i.icon {
          font-size: 60px;
          &::before { 
            color: $color-042b63;
          }
        }
      }
      .selected-element {
        .principal {
          .icon-wrapper {
            margin-top: 20px;
          }
        }
        .detail {
          .info-block {
            margin-bottom: 5px;
            .title {
              color: $color-042b63;
              font-size: 18px;
              font-weight: 500;
              line-height: 21px;
              margin-bottom: 8px;
            }
            .item-info {
              margin-bottom: 5px;
              &:last-child {
                margin-bottom: 0;
              }
              p {
                font-style: normal;
                margin-bottom: 0;
                &:first-child {
                  color: $black;
                  font-size: 12px;
                  font-weight: normal;
                  line-height: 16px;
                }
                &:last-child {
                  color: $color-042b63;
                  font-size: 16px;
                  font-weight: normal;
                  line-height: 24px;
                }
              }
            }
            .account-item {
              margin-top: 15px;
              &:last-child {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
  .mobile-items-table {
    display: none;
    .header {
      .header-element {
        &:first-child {
          width: 100%;
        }
      }
    }
    .card-item {
      background-color: $white;
      border-radius: 10px;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      margin-bottom: 3px;
      padding: 15px 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .item {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding: 0   8px;
        .custom-row {
          align-items: center;
          display: flex;
          .td-icon-wrapper {
            align-items: center;
            height: 50px;
            background-color: $color-ededed;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            margin-right: 5px;
            width: 50px;
            i.icon {
              font-size: 18px;
              &::before {
                color: $color-042b63;
              }
            }
          }
          p {
            color: $color-042b63;
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            line-height: 21px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 30vh;
      margin-bottom: 15vh;
    }
  }
}

@media screen and (max-width: $break-large) {
  .enterprises {
    .header {
      .ovj-banner {
        .title {
          color: $white;
          font-size: 30px;
          font-weight: 500;
          line-height: 20px;
        }
      }
      .add-button {
        display: none;
      }
    }
    .content {
      display: none;
    }
    .mobile-items-table {
      display: flex;
    }
  }
}