<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="profileGroup">
  <div class="mb-form ovj-input-file">
    <div class="image-circle-container">
      <img [src]="dafaultImage"
        class="view-photo"
        loading="lazy">
      <img class="camera-icon"
        src="assets/icons/camera-icon.svg"
        loading="lazy">
      <input type="file" accept=".png, .jpg, .jpeg" formControlName="imageUrl" (change)="setImage($event)">
    </div>
    <div *ngIf="submitted && profileForm.imageUrl.errors" class="">
      <span *ngIf="profileForm.imageUrl.errors.required" class="ovj-mesage-error">Imagen obligatoria  </span>
    </div>
  </div>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información de Empresa</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Nombre de Empresa<span class="text-danger">*</span></label>
        <input type="text" id="name" class="form-control ovj-input" formControlName="name">
        <div *ngIf="submitted && profileForm.name.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="bankName" class="form-control ovj-input" formControlName="bankName">
        <label for="bankName" class="ovj-label">Nombre de Banco<span class="text-danger">*</span></label>
        <div *ngIf="submitted && profileForm.bankName.errors" class="">
          <mdb-error *ngIf="profileForm.bankName.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="bankAccountNumber" class="form-control ovj-input" formControlName="bankAccountNumber">
        <label for="bankAccountNumber" class="ovj-label">Número de Cuenta Bancaria<span class="text-danger">*</span></label>
        <div *ngIf="submitted && profileForm.bankAccountNumber.errors" class="">
          <mdb-error *ngIf="profileForm.bankAccountNumber.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="profileForm.bankAccountNumber.errors.minlength" class="ovj-mesage-error">Mínimo de 7 caracteres</mdb-error>
          <mdb-error *ngIf="profileForm.bankAccountNumber.errors.maxlength" class="ovj-mesage-error">Máximo de 100 caracteres</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="documentNumber" class="form-control ovj-input" formControlName="documentNumber">
        <label for="documentNumber" class="ovj-label">Número de documento<span class="text-danger">*</span></label>
        <div *ngIf="submitted && profileForm.documentNumber.errors" class="">
          <mdb-error *ngIf="profileForm.documentNumber.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="profileForm.documentNumber.errors.maxlength" class="ovj-mesage-error">Máximo de 12 caracteres</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Celular<span class="text-danger">*</span></label>
        <input type="number" id="phone" class="form-control ovj-input" formControlName="phone"
          (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="profileForm.phone.errors.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="profileForm.phone.errors.pattern">Valor inválido</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Correo electrónico<span class="text-danger">*</span></label>
        <input type="text" id="email" class="form-control ovj-input" formControlName="email">
        <div *ngIf="submitted && profileForm.email.errors" class=""></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg text-link">
      <a (click)="changePassword(profile)">Cambiar contraseña</a>
    </div>
  </div>
</form>