<div class="center-view">
  <div class="login-wrapper">
    <div class="login">
      <app-admin-login-form [loadingLogin]="loadingLogin"
        [authError]="authError"
        (submitForm)="onSubmit($event)">
      </app-admin-login-form>
      <div class="login-footer">
        <i class="icon icon-whatsapp-oviajamos d-md-flex mr-2"></i>
        <p class="title text-light m-0"> +591 78504784 </p>
      </div>
    </div>
    <div class="banner">
      <p class="centrado">O viajamos Juntos!</p>
    </div>
  </div>
</div>