@import 'variables';

.rm-contact-btn {
  padding: 0.5rem 1rem 0.25rem 1rem;
}

.ovj-contact-content {
  padding: 0 2.5rem 0.5rem 2.5rem !important;
}

@media screen and (max-width: $break-small) {
  .ovj-contact-content {
    padding: 0 1.5rem 0.5rem 1.5rem !important;
  }
}