<form class="card py-2 mb-3" autocomplete="off" [formGroup]="contactForm">
  <div class="d-flex justify-content-between align-items-center px-3">
    <div></div>
    <div>
      <h6 class="ovj-text-primary m-0">Contactos {{indexForm+1}}</h6>
    </div>
    <button class="btn rm-contact-btn" (click)="removeForm()">
      <i class="icon icon-cross ovj-text-primary"></i>
    </button>
  </div>
  <div class="ovj-contact-content card-body">
    <div class="ovj-form">
      <label class="ovj-label">Nombres<span class="text-danger">*</span></label>
      <input type="text" class="form-control ovj-input" formControlName="fullName"
        [ngClass]="{'is-invalid': submitted && auxiliarContactForm.fullName.errors}">
      <div class="invalid-feedback" *ngIf="auxiliarContactForm.fullName.errors?.required">Campo obligatorio</div>
      <div class="invalid-feedback" *ngIf="auxiliarContactForm.fullName.errors?.pattern">Ingresé sólo letras</div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="ovj-form">
          <label class="ovj-label">Celular<span class="text-danger">*</span></label>
          <input type="number" class="form-control ovj-input" formControlName="phone"
            [ngClass]="{'is-invalid': submitted && auxiliarContactForm.phone.errors}"
            (keydown)="numberInputValidator($event)">
          <div class="invalid-feedback" *ngIf="auxiliarContactForm.phone.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="auxiliarContactForm.phone.errors?.max">Máximo 12 dígitos</div>
          <div class="invalid-feedback" *ngIf="auxiliarContactForm.phone.errors?.min">Mínimo 7 dígitos</div>
        </div>
      </div>
      <div class="col-lg">
        <div class="ovj-form">
          <label class="ovj-label">Descripción de contacto<span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="description"
            [ngClass]="{'is-invalid': submitted && auxiliarContactForm.description.errors}">
            <div class="invalid-feedback" *ngIf="auxiliarContactForm.description.errors?.required">Campo obligatorio</div>
            <div class="invalid-feedback" *ngIf="auxiliarContactForm.description.errors?.maxlength">Máximo 24 caracteres</div>
        </div>
      </div>
    </div>
  </div>
</form>