<div class="custom-table-responsive">
  <table class="ovj-departures-table mt-0 mb-5">
    <thead>
      <tr>
        <th *ngFor="let col of colsTable; let index=index"
          (click)="orderTableBy(index)">
          <img src="assets/icons/order-arrow-down-enabled.svg"
            *ngIf="col.orderBy"
            loading="lazy">
          <img src="assets/icons/ovj-select-arrow-down.svg"
            *ngIf="!col.orderBy"
            loading="lazy">
          <img [src]="col.extraImg"
            *ngIf="col.extraImg"
            loading="lazy">
          {{col.name}}
        </th>
        <th></th>
    </thead>
    <tbody *ngIf="loadingDepartures">
      <tr>
        <td colspan="10">
          <app-spinner-small></app-spinner-small>
        </td>
      </tr>
    </tbody>
    <tbody class="text-secondary" *ngIf="!loadingDepartures">
      <tr class="spacing"></tr>
      <tr *ngFor="let i=index; let departure of departures"
        [ngClass]="{'leaved-departure': departure.status === departureStatusEnum.CLOSED,
          'canceled-departure': departure.status === departureStatusEnum.CANCELED}">
        <td class="text-center">
          {{ (departure.departureDate?.departureTime) ? (departure.departureDate.departureTime | formatHour2) : '-' }}
        </td>
        <td class="text-center">
          {{ (departure.lane) ? departure.lane : '-' }}
        </td>
        <td> {{ departure.driver.user.name }} {{ departure.driver.user.lastName }} </td>
        <td class="text-center"> {{ departure.bus.licensePlate }} </td>
        <td>
          <div class="route-container d-flex align-items-center">
            <img class="rounded-circle mr-1"
              [src]="departure.route.destination.imageUrl"
              *ngIf="false"
              loading="lazy">
            {{ departure.route.source.name }}
            {{ (departure.route.intermediateRoutes.length > 0) ? ' >...> ' : ' > ' }}
            {{ departure.route.destination.name }}
          </div>
        </td>
        <td class="text-center">
          <ng-container [ngSwitch]="departure.departureType">
            <img *ngSwitchCase="departureTypeEnum.RECURRENT"
              [ngClass]="{'grey-scale': departure.status === departureStatusEnum.CANCELED}"
              src="assets/icons/recurrent-departure.svg"
              loading="lazy">
            <img *ngSwitchCase="departureTypeEnum.EVENTUAL"
              [ngClass]="{'grey-scale': departure.status === departureStatusEnum.CANCELED}"
              src="assets/icons/express-departure.svg"
              loading="lazy">
            <img *ngSwitchCase="departureTypeEnum.EXPRESS"
              [ngClass]="{'grey-scale': departure.status === departureStatusEnum.CANCELED}"
              src="assets/icons/eventual-departure.svg"
              loading="lazy">
          </ng-container>
        </td>
        <td class="text-center"> {{ departure.price }} Bs. </td>
        <td class="text-center td-dropdown">
          <div class="btn-group" ngbDropdown>
            <button ngbDropdownToggle type="button" class="dep-status-btn btn btn-default bg-white"
              [ngClass]="{'on-way': departure.status === departureStatusEnum[departureStatusEnumKeys[0]],
                'boarding': departure.status === departureStatusEnum.ABORDING,
                'canceled': departure.status === departureStatusEnum.CANCELED,
                'leaved': departure.status === departureStatusEnum.CLOSED,
                'disabled': modifying.includes(departure.departureId)}">
                <i class="icon icon-sort-arrow mr-1"></i>
              {{ departure.status }}
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a ngbDropdownItem (click)="setStatus(departure, departureStatusEnumKeys[0])">En espera</a>
              <a ngbDropdownItem (click)="setStatus(departure, departureStatusEnumKeys[1])">Abordando</a>
              <a ngbDropdownItem (click)="setStatus(departure, departureStatusEnumKeys[3])">Salió</a>
              <div class="divider dropdown-divider"></div>
              <a ngbDropdownItem (click)="setStatus(departure, departureStatusEnumKeys[2])">Cancelado</a>
            </div>
          </div>
        </td>
        <td class="text-center">
          <label class="ovj-toggle-switch m-0" *ngIf="departure.onSale !== null &&
            departure.status !== departureStatusEnum.CANCELED">
            <input type="checkbox" [checked]="departure.onSale" (click)="setOnSale(departure); $event.preventDefault();"
              [disabled]="modifying.includes(departure.departureId)">
            <span class="slider round"></span>
          </label>
          <img *ngIf="departure.status === departureStatusEnum.CANCELED"
            src="assets/icons/canceled-departure.svg"
            loading="lazy">
        </td>
        <td class="text-center td-dropdown">
          <div class="btn-group" ngbDropdown *ngIf="!modifying.includes(departure.departureId)">
            <button ngbDropdownToggle type="button" class="ovj-btn-circle options-btn btn btn-default">
              <i class="icon icon-options"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
              <a ngbDropdownItem (click)="editDeparture(departure)">
                <i class="icon icon-edit"></i>
                Editar salida
              </a>
              <a ngbDropdownItem (click)="moveTomorrow(departure)">
                <img class="dropdown-img"
                  src="assets/icons/move-departure-tomorrow.svg"
                  loading="lazy">
                Mover a mañana
              </a>
              <div class="divider dropdown-divider"></div>
              <a ngbDropdownItem (click)="deleteDeparture(departure)">
                <i class="icon icon-trash"></i>
                Eliminar salida
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-end align-items-center pr-2" *ngIf="modifying.includes(departure.departureId)">
            <div class="spinner-border spinner-btn ovj-primary-spinner" role="status"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mobile-departures-wrapper mb-5">
  <app-spinner-small *ngIf="loadingDepartures"></app-spinner-small>
  <ng-container *ngIf="!loadingDepartures">
    <div class="departure-card"
      *ngFor="let i=index; let departure of departures"
      [ngClass]="{'leaved-departure': departure.status === departureStatusEnum.CLOSED,
        'canceled-departure': departure.status === departureStatusEnum.CANCELED}">
      <div class="departure-data">
        <div class="type-time">
          <ng-container [ngSwitch]="departure.departureType">
            <img *ngSwitchCase="departureTypeEnum.RECURRENT"
              [ngClass]="{'grey-scale': departure.status === departureStatusEnum.CANCELED}"
              src="assets/icons/recurrent-departure.svg"
              loading="lazy">
            <img *ngSwitchCase="departureTypeEnum.EVENTUAL"
              [ngClass]="{'grey-scale': departure.status === departureStatusEnum.CANCELED}"
              src="assets/icons/express-departure.svg"
              loading="lazy">
            <img *ngSwitchCase="departureTypeEnum.EXPRESS"
              [ngClass]="{'grey-scale': departure.status === departureStatusEnum.CANCELED}"
              src="assets/icons/eventual-departure.svg"
              loading="lazy">
          </ng-container>
          <p class="ml-1">
            {{ (departure.departureDate?.departureTime) ? (departure.departureDate.departureTime | formatHour2) : '-' }}
          </p>
        </div>
        <div class="price">
          <p> {{ departure.price }} Bs. </p>
        </div>
      </div>
      <div class="driver-data">
        <p> {{ departure.driver.user.name }} {{ departure.driver.user.lastName }} </p>
        <p> {{ departure.bus.licensePlate }} </p>
      </div>
      <div class="travel-route">
        <p>
          {{ departure.route.source.name }}
          {{ (departure.route.intermediateRoutes.length > 0) ? ' >...> ' : ' > ' }}
          {{ departure.route.destination.name }}
        </p>
      </div>
      <div class="options">
        <div class="actions">
          <button type="button" class="dep-status-btn btn btn-default bg-white"
            [ngClass]="{'on-way': departure.status === departureStatusEnum[departureStatusEnumKeys[0]],
              'boarding': departure.status === departureStatusEnum.ABORDING,
              'canceled': departure.status === departureStatusEnum.CANCELED,
              'leaved': departure.status === departureStatusEnum.CLOSED,
              'disabled': modifying.includes(departure.departureId)}"
            (click)="departureStatus(departure)">
            <i class="icon icon-sort-arrow"></i>
            {{ departure.status }}
          </button>
          <button type="button" class="dep-status-btn btn btn-default bg-white ml-2"
            [ngClass]="{'disabled': modifying.includes(departure.departureId)}"
            (click)="mobileOptions(departure)">
            <i class="icon icon-sort-arrow"></i>
            Acciones
          </button>
        </div>
        <div class="switch-spinner">
          <div class="d-flex justify-content-end align-items-center pr-3" *ngIf="modifying.includes(departure.departureId)">
            <div class="spinner-border spinner-btn ovj-primary-spinner" role="status"></div>
          </div>
          <label class="ovj-toggle-switch m-0" *ngIf="departure.onSale !== null &&
            departure.status !== departureStatusEnum.CANCELED">
            <input type="checkbox" [checked]="departure.onSale" (click)="setOnSale(departure); $event.preventDefault();"
              [disabled]="modifying.includes(departure.departureId)">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </ng-container>
</div>