@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yiva1p');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yiva1p#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?yiva1p') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?yiva1p') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?yiva1p##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bus-2 {
  &:before {
    content: $icon-bus-2; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-success-circle {
  &:before {
    content: $icon-success-circle; 
  }
}
.icon-wheel {
  &:before {
    content: $icon-wheel; 
  }
}
.icon-warning-circle {
  &:before {
    content: $icon-warning-circle; 
  }
}
.icon-arrow-broad {
  &:before {
    content: $icon-arrow-broad; 
  }
}
.icon-qr-scan {
  &:before {
    content: $icon-qr-scan; 
  }
}
.icon-cash-payment {
  &:before {
    content: $icon-cash-payment; 
  }
}
.icon-arrow-2 {
  &:before {
    content: $icon-arrow-2; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-id-card {
  &:before {
    content: $icon-id-card; 
  }
}
.icon-go-date {
  &:before {
    content: $icon-go-date; 
  }
}
.icon-back-date {
  &:before {
    content: $icon-back-date; 
  }
}
.icon-options {
  &:before {
    content: $icon-options; 
  }
}
.icon-print {
  &:before {
    content: $icon-print; 
  }
}
.icon-save {
  &:before {
    content: $icon-save; 
  }
}
.icon-trash-2 {
  &:before {
    content: $icon-trash-2; 
  }
}
.icon-shield-keyhole {
  &:before {
    content: $icon-shield-keyhole; 
  }
}
.icon-person {
  &:before {
    content: $icon-person; 
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card; 
  }
}
.icon-warning-signal {
  &:before {
    content: $icon-warning-signal; 
  }
}
.icon-settings-outline {
  &:before {
    content: $icon-settings-outline; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-bus-template {
  &:before {
    content: $icon-bus-template; 
  }
}
.icon-key {
  &:before {
    content: $icon-key; 
  }
}
.icon-parameters {
  &:before {
    content: $icon-parameters; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-charge-report {
  &:before {
    content: $icon-charge-report; 
  }
}
.icon-list-2 {
  &:before {
    content: $icon-list-2; 
  }
}
.icon-list-1 {
  &:before {
    content: $icon-list-1; 
  }
}
.icon-reports {
  &:before {
    content: $icon-reports; 
  }
}
.icon-charge-tracing {
  &:before {
    content: $icon-charge-tracing; 
  }
}
.icon-assignment-receiving {
  &:before {
    content: $icon-assignment-receiving; 
  }
}
.icon-manifest {
  &:before {
    content: $icon-manifest; 
  }
}
.icon-assignment-sending {
  &:before {
    content: $icon-assignment-sending; 
  }
}
.icon-cash {
  &:before {
    content: $icon-cash; 
  }
}
.icon-departure {
  &:before {
    content: $icon-departure; 
  }
}
.icon-routes {
  &:before {
    content: $icon-routes; 
  }
}
.icon-geo-loc {
  &:before {
    content: $icon-geo-loc; 
  }
}
.icon-group {
  &:before {
    content: $icon-group; 
  }
}
.icon-bus {
  &:before {
    content: $icon-bus; 
  }
}
.icon-people {
  &:before {
    content: $icon-people; 
  }
}
.icon-business {
  &:before {
    content: $icon-business; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-eye-blocked {
  &:before {
    content: $icon-eye-blocked; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-arrow-up2 {
  &:before {
    content: $icon-arrow-up2; 
  }
}
.icon-mail2 {
  &:before {
    content: $icon-mail2; 
  }
}
.icon-facebook2 {
  &:before {
    content: $icon-facebook2; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-file-pdf {
  &:before {
    content: $icon-file-pdf; 
  }
}
.icon-assignment {
  &:before {
    content: $icon-assignment; 
  }
}
.icon-assignment-register {
  &:before {
    content: $icon-assignment-register; 
  }
}
.icon-sort-arrow {
  &:before {
    content: $icon-sort-arrow;     
    color: #c4c4c4;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-download {
  &:before {
    content: $icon-download;     
    color: #fff;
  }
}
.icon-arrow-outline {
  &:before {
    content: $icon-arrow-outline; 
  }
}
.icon-plus-2 {
  &:before {
    content: $icon-plus-2;     
    color: #fff;
  }
}
.icon-arrow-1 {
  &:before {
    content: $icon-arrow-1;     
    color: #6c757d;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;     
    color: #042b63;
  }
}
.icon-search {
  &:before {
    content: $icon-search;     
    color: #fff;
  }
}
.icon-whatsapp-oviajamos {
  &:before {
    content: $icon-whatsapp-oviajamos;     
    color: #fff;
  }
}
.icon-email {
  &:before {
    content: $icon-email;     
    color: #fff;
  }
}

