<div class="modal-wrapper">
  <div class="content">
    <i class="icon icon-warning-signal"></i>
    <p class="title"> Pago en destino </p>
    <p class="message"> Tiene que completar el pago antes de la entrega de la carga caso contrario <b> no se realizará la entrega. </b> </p>
    <div class="amount-card mt-3">
      <div class="header">
        <i class="icon icon-credit-card"></i>
        <p> MONTO TOTAL A PAGAR </p>
      </div>
      <div class="amount">
        <p> Bs. </p>
        <p> 40.00 </p>
      </div>
    </div>
    <form class="oviajamos-form" autocomplete="off" [formGroup]="destinationPaymentGroup">
      <div class="ovj-form mb-2">
        <label class="ovj-label"> Adelanto (Bs.) </label>
        <input type="number" class="form-control ovj-input" formControlName="advancePayment"
          [ngClass]="{'is-invalid': submitted && destinationPaymentForm.advancePayment.errors}"
          (keydown)="floatInputValidator($event)">
        <div class="invalid-feedback" *ngIf="destinationPaymentForm.advancePayment.errors?.required">Campo obligatorio</div>
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="btn ovj-btn" type="button" (click)="action.next(false)">
      Atrás
    </button>
    <button class="btn ovj-btn" type="button" (click)="submitPayment()">
      Confirmar
    </button>
  </div>
</div>