<button type="button" aria-label="Close"
  class="close-modal-btn btn btn-default"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="custom-card-info">
  <div class="selected-element content-item">
    <div class="principal">
      <p class="card-title"> Detalle Administrador </p>
      <img class="item-img"
        [src]="officeAdmin.user.imageUrl"
        loading="lazy">
      <p class="item-label"> {{ officeAdmin.user.name }} {{ officeAdmin.user.lastName }} </p>
      <p class="item-sub-label"> {{ officeAdmin.user.phone }} </p>
      <p class="item-sub-label"> {{ officeAdmin.user.email }} </p>
      <div class="actions">
        <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteOfficeAdmin(officeAdmin)">
          Eliminar
        </button>
        <button class="ovj-btn btn btn-default orange" (click)="editOfficeAdmin(officeAdmin)">
          Editar
        </button>
      </div>
    </div>
    <div class="detail mt-4">
      <div class="info-item">
        <p> CI </p>
        <p> {{ officeAdmin.documentNumber }} </p>
      </div>
      <div class="info-item">
        <p> Dirección de Domicilio </p>
        <p> {{ officeAdmin.user.address }} </p>
      </div>
    </div>
    <div class="divider mt-4 mb-3"></div>
    <div class="contacts-title mt-2">
      <p> Contactos de referencia </p>
    </div>
    <div class="reference-contacts mt-3 mb-2">
      <div class="contact container">
        <div class="row" *ngFor="let contact of officeAdmin.referenceContact"> 
          <div class="col-2 mr-3">
            <div class="driver-img ">
              <img src="assets/icons/person-circle-1.svg" loading="lazy">
            </div>
          </div>
          <div class="col-8 driver-info">
            <p> {{ contact.fullName }} </p>
            <p> {{ contact.phone }} </p>
          </div>
          <div class="col-2">
            <span class="userContact"> {{ contact.description }} </span>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-actions">
      <button type="button" class="btn btn-default ovj-btn danger-bordered" (click)="deleteOfficeAdmin(officeAdmin)">
        Eliminar
      </button>
      <button type="button" class="btn btn-default ovj-btn success-bordered" (click)="editOfficeAdmin(officeAdmin)">
        Editar
      </button>
      <button type="button" class="btn btn-default ovj-btn orange" (click)="action.next(false)">
        Cerrar
      </button>
    </div>
  </div>
</div>