@import 'variables';

.bus-template-content {
  min-height: 70vh;
  .template-management-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .template-items {
      justify-content: center;
      img {
        margin: 0 0.25rem;
      }
      p {
        font-style: normal;
        text-align: center;
        margin: 0;
      }
      .add, .custom {
        cursor: pointer;
      }
      .add {
        width: 100px;
        .seating-scheme {
          align-items: center;
          display: flex;
          flex-direction: column;
          position: relative;
          .add-label {
            color: $color-333e48;
            font-size: 13px;
            font-weight: normal;
            line-height: 17px;
            margin-top: 0.25rem;
            width: 95%;
          }
        }
      }
      .custom {
        width: 100px;
        .seating-scheme {
          align-items: center;
          display: flex;
          flex-direction: column;
          position: relative;
          .seats {
            color: $black;
            font-size: 24px;
            font-weight: 300;
            line-height: 24px;
            position: absolute;
            top: 25px;
          }
          .seats-label {
            color: $black;
            font-size: 12px;
            font-weight: normal;
            line-height: 16px;
            position: absolute;
            top: 50px;
          }
          &.selected {
            filter: invert(45%) sepia(75%) saturate(4265%) hue-rotate(209deg) brightness(106%) contrast(102%) !important;
          }
        }
        .bus-type-label {
          color: $color-333e48;
          font-size: 13px;
          font-weight: normal;
          line-height: 17px;
          margin-top: 0.25rem;
          padding: 0 3px;
          width: 95%;
          word-break: break-all;
        }
      }
    }
  }
  .bus-options {
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid $ovj-secondary;
    display: flex;
    margin-bottom: 3rem;
    padding: 3rem;
    .bus {
      text-align: center;
      width: 65%;
    }
    .form-actions-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      width: 35%;
      .btn {
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        width: 100%;
        &:first-child {
          border: 1px solid #C4C4C4 !important;
          border-radius: 10px;
          box-sizing: border-box;
          color: $color-042b63;
        }
        &:last-child {
          background: linear-gradient(0deg, #3880FF, #3880FF);
          border: 1px solid #C4C4C4;
          box-sizing: border-box;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .template-management-wrapper {
    padding: 0 1.75rem !important;
  }
}