@import 'variables';

.oviajamos-form {
  .image-container {
    img {
      border: 1px solid rgb(167, 167, 167);
      border-radius: 8px;
      margin-top: 15px;
      width: 100%;
    }
  }
  .upload-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .ovj-btn {
      color: $color-042b63;
      font-size: 14px;
      font-weight: 500;
      height: 31px;
      line-height: 18px;
      padding: 0;
      width: 132px;
      label {
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;
        margin-bottom: 0;
        width: 100%;
        #monthly-payment-image {
          overflow: hidden;
          width: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .oviajamos-form {
    .upload-btn {
      .ovj-btn {
        width: 100%;
      }
    }
  } 
}