@import 'variables';

.modal-wrapper {
  .content {
    padding: 25px 3rem 0 3rem;
    text-align: center;
    p {
      font-style: normal;
      margin: 0;
    }
    i.icon-warning-signal {
      font-size: 100px;
      &::before {
        color: $color-ff6022;
      }
    }
    .title {
      color: $color-3c64b1;
      font-size: 36px;
      font-weight: 500;
      line-height: 40px;
      margin: 10px;
    }
    .message {
      color: $color-042b63;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      b {
        font-weight: bold;
      }
    }
    .seat-change-info {
      .prev, .next {
        background: #F4F5F8;
        border: 1px solid #92C7FF;
        border-radius: 5px;
        display: flex;
        padding: 8px;
        .seat-img {
          align-items: flex-start;
          display: flex;
          height: 46px;
          justify-content: center;
          position: relative;
          p {
            color: $white;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            margin: 0;
            position: absolute;
            top: 18%;
          }
        }
        .detail {
          text-align: start;
          margin-left: 10px;
          p {
            color: $color-042b63;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            line-height: 18px;
            margin-bottom: 1px;
            &:first-child, &:nth-child(2) {
              font-size: 15px;
              font-weight: bold;
            }
          }
        }
      }
      .prev {
        margin-bottom: 10px;
        position: relative;
        .seat-img {
          position: relative;
          display: flex;
          justify-content: center;
          p {
            color: $white;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            margin: 0;
            position: absolute;
            top: 21%;
          }
        }
        .arrow-line {
          border-left: 3px solid #666666;
          height: calc(100% - 34px);
          left: 35px;
          position: absolute;
          top: 52px;
          width: 1px;
        }
        i.ovj-arrow {
          bottom: -20px;
          left: 33px;
          position: absolute;
        }
      }
      .next {
        .seat-img {
          position: relative;
          display: flex;
          justify-content: center;
          p {
            color: $white;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            margin: 0;
            position: absolute;
            top: 21%;
          }
        }
      }
    }
  }
}