@import 'variables';

.client-app {
  background-color: $color-ececeb;
  ::ng-deep {
    * {
      font-family: 'Avenir' !important;
      i, .icon, .fas {
        font-family: 'icomoon' !important;
    }
    }
  }
}