<section class="ticket-holders">
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <p class="title m-0">Cronograma de salidas</p>
      </div>
    </div>
    <app-departures-top-bar (addDeparture)="addDeparture()"
      (filterDepartureEvent)="filterDeparture($event)" [ShowAddDepartureButton]="true">
    </app-departures-top-bar>
    <div class="row mt-2">
      <div class="col-12">
        <p class="mobile-table-title"> Salidas: </p>
        <div class="type-filter container">
          <div class="lashes-container row">
            <div class="departure-lash-container col-md-3">
              <div class="daparture-lash d-flex justify-content-between align-items-center"
                [ngClass]="{'selected': !depLashSelected}"
                (click)="selectDepLash()">
                <p class="m-0">Todas las salidas</p>
              </div>
            </div>
            <div class="departure-lash-container col-md-3">
              <div class="daparture-lash d-flex justify-content-between align-items-center"
                [ngClass]="{'selected': depLashSelected === departureTypeEnum.RECURRENT}"
                (click)="selectDepLash(departureTypeEnumKeys[0])">
                <div class="d-flex align-items-center">
                  <img class="mr-1"
                    src="assets/icons/recurrent-departure.svg"
                    loading="lazy">
                  <p class="m-0">Salidas recurrentes</p>
                </div>
              </div>
            </div>
            <div class="departure-lash-container col-md-3">
              <div class="daparture-lash d-flex justify-content-between align-items-center"
                  [ngClass]="{'selected': depLashSelected === departureTypeEnum.EVENTUAL}"
                  (click)="selectDepLash(departureTypeEnumKeys[1])">
                <div class="d-flex align-items-center">
                  <img class="mr-1"
                    src="assets/icons/express-departure.svg"
                    loading="lazy">
                  <p class="m-0">Salidas eventuales</p>
                </div>
              </div>
            </div>
            <div class="departure-lash-container col-md-3">
              <div class="daparture-lash d-flex justify-content-between align-items-center"
                [ngClass]="{'selected': depLashSelected === departureTypeEnum.EXPRESS}"
                (click)="selectDepLash(departureTypeEnumKeys[2])">
                <div class="d-flex align-items-center">
                  <img class="mr-1"
                    src="assets/icons/eventual-departure.svg"
                    loading="lazy">
                  <p class="m-0">Salidas Contrato exp.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 p-0">
              <div class="mobile-type-filter">
                <div class="type-dropdown">
                  <div class="status" (click)="showMobileTypeDropdown = !showMobileTypeDropdown">
                    <p> {{ depLashSelected || 'Todas' }} </p>
                    <i class="icon icon-arrow-1" [ngClass]="{'opened': showMobileTypeDropdown}"></i>
                  </div>
                  <div class="type-content" [ngClass]="{'show': showMobileTypeDropdown}">
                    <div class="type-item" [ngClass]="{'selected': !depLashSelected}"
                      (click)="selectDepLash()">
                      <div class="type">
                        <p> Todas </p>
                      </div>
                    </div>
                    <div class="type-item" [ngClass]="{'selected': depLashSelected === departureTypeEnum.RECURRENT}"
                      (click)="selectDepLash(departureTypeEnumKeys[0])">
                      <div class="type">
                        <img class="mr-1"
                          src="assets/icons/recurrent-departure.svg"
                          loading="lazy">
                        <p> Recurrente (Frecuentes) </p>
                      </div>
                      <p> 1/7 </p>
                    </div>
                    <div class="type-item" [ngClass]="{'selected': depLashSelected === departureTypeEnum.EVENTUAL}"
                      (click)="selectDepLash(departureTypeEnumKeys[1])">
                      <div class="type">
                        <img class="mr-1"
                          src="assets/icons/express-departure.svg"
                          loading="lazy">
                        <p> Eventual </p>
                      </div>
                      <p> 1/7 </p>
                    </div>
                    <div class="type-item" [ngClass]="{'selected': depLashSelected === departureTypeEnum.EXPRESS}"
                      (click)="selectDepLash(departureTypeEnumKeys[2])">
                      <div class="type">
                        <img class="mr-1"
                          src="assets/icons/eventual-departure.svg"
                          loading="lazy">
                        <p> Contrato (Expreso) </p>
                      </div>
                      <p> 1/7 </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-departures-table [departures]="departures"
          [loadingDepartures]="loadingDepartures"
          [modifying]="modifying"
          [pageActual]="pageActual"
          (setStatusEvent)="setStatus($event)"
          (setOnSaleEvent)="setOnSale($event)"
          (editDepartureEvent)="editDeparture($event)"
          (moveTomorrowEvent)="moveTomorrow($event)"
          (deleteDepartureEvent)="deleteDeparture($event)"
          (mobileOptionsEvent)="mobileOptions($event)"
          (departureStatusEvent)="departureStatusPicker($event)">
        </app-departures-table>
        <button type="button" class="mobile-floating-btn ovj-btn-circle options-btn btn btn-default"
          (click)="departureTypeSelection()">
          <i class="icon icon-plus-2"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="pagination">
  </div>
</section>