@import 'variables';

.ovj-sales-table {
  border-collapse: separate;
  border-spacing: 0 1px;
  width: 100%;
  tr {
    border-radius: 10px;
    height: 50px;
  }
  td {
    position: relative;
    .shadow {
      box-shadow: 0px 3px 4px rgb(0 0 0 / 50%) !important;
      margin: 0 -13px;
      min-height: 1px;
      position: absolute;
      top: -2px;
      width: 100%;
    }
    &:first-child {
      justify-content: center;
      .shadow {
        margin-left: -2px;
        width: 85%;
      }
    }
    &:last-child {
      .shadow {
        margin-right:-8px;
      }
    }
  }
  p {
    font-style: normal;
    margin: 0;
  }
  thead {
    tr {
      th {
        align-items: center;
        background-color: $white;
        padding-top: 2px;
        color: $color-042b63;
        font-size: 18px;
        font-weight: normal;
        line-height: 23px;
        padding-left: 8px;
        padding-right: 8px;
        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 49px;
        }
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        align-items: center;
        background-color: $white;
        color: $color-042b63;
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        padding-top: 2px;
        padding-left: 8px;
        padding-right: 8px;
        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          color: $white;
          text-align: center;
          width: 49px;
          p {
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
          }
          &.selected {
            background-color: $color-1ac05c;
          }
          &.sold {
            background-color: $color-9aa0a6;
          }
          &.disabled {
            background-color: $color-9aa0a6;
          }
          &.to-be-sold {
            background-color: $color-ff533d;
          }
          &.reserved {
            background-color: $color-ffc107;
          }
        }
        &:nth-child(2) {
          width: 150px;
        }
        &:nth-child(3) {
          min-width: 175px;
        }
        &:nth-child(4) {
          width: 150px;
        }
        &:nth-child(5) {
          width: 85px;
        }
        &:nth-child(6) {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 50px;
        }
        &.select-seat-message {
          background-color: $white;
          border-radius: 10px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          height: 270px;
          align-items: center;
          justify-content: center;
          .shadow {
            margin-left: -4px;
            width: 99%;
          }
        }
      }
      &.oviajamos-form {
        padding: 0;
        margin: 0;
        .ovj-form {
          margin: 4px 0 8px 0 !important;
          input {
            font-size: 18px;
            font-weight: normal;
            line-height: 24px;
            margin: 3px 0 0 0;
          }
          ::ng-deep {
            .ng-select {
              margin-top: -11px;
              .ng-arrow-wrapper {
                display: none;
              }
            }
          }
        }
        ::ng-deep {
          .ovj-form {
            margin: 0 !important;
            input {
              color: $color-042b63;
              font-size: 18px;
              font-weight: normal;
              line-height: 24px;
              margin: 2px 0 0 0;
              padding: 0 !important;
            }
            ::ng-deep {
              .ng-select {
                margin: 4px 0 12px 0 !important;
              }
            }
          }
        }
      }
    }
    .btn-group {
      button {
        height: 35px;
        width: 35px;
      }
    }
  }
}
.mobile-sales {
  display: none;
  .passenger-card {
    background: $white;
    border-radius: 8px;
    display: flex;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .seat-number {
      background-color: #1AC05C;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      display: flex;
      justify-content: center;
      padding: 15px;
      width: 47px;
      p {
        color: $white;
        font-size: 24px;
        font-weight: normal;
        line-height: 28px;
      }
    }
    .passenger-data {
      padding: 10px 15px 3px 15px;
      margin-top: 0;
      width: calc(100% - 47px);
      app-passenger-doc-number-filter {
        ::ng-deep {
          .ovj-form {
            margin: 5px 0 12px 0 !important;
          }
        }
      }
      .ovj-form {
        margin: 5px 0 12px 0 !important;
        .ovj-label {
          font-size: 12px;
          line-height: 10px;
        }
        .ovj-input {
          padding: 0.6rem 0 15px 0 !important;
        }
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .custom-table-responsive {
    display: none !important;
  }
  .mobile-sales {
    display: block;
  }
}