<div class="custom-table-responsive">
  <table class="ovj-sales-table mt-3">
    <thead>
      <tr>
        <th> Asiento </th>
        <th> CI<span class="text-danger">*</span> </th>
        <th> Nombre<span class="text-danger">*</span> </th>
        <th> Cel. </th>
        <th> Bs. </th>
        <th *ngIf="selectionMode === selectionModeEnum.RE_PRINT"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="ticketsPaidArray.length === 0">
        <td colspan="6" class="select-seat-message"> <div class="shadow"></div>
          <img src="assets/images/admin-oviajamos/select-one-seat-message.svg" loading="lazy">
        </td>
      </tr>
      <ng-container *ngIf="ticketsPaidArray.length > 0">
        <ng-container *ngFor="let ticketGroup of ticketsPaidArray.controls; let i=index" [formGroup]="ticketGroup">
          <tr class="oviajamos-form">
            <td [ngClass]="{'sold': selectionMode === selectionModeEnum.RE_PRINT,
              'disabled': selectionMode === selectionModeEnum.ENABLE_SEAT,
              'selected': selectionMode === selectionModeEnum.ADDING_AVAILABLE_SEATS}">
              <div class="shadow"></div> <p> {{ ticketGroup.value.position | seatNumber }} </p>
            </td>
            <td> <div class="shadow"></div>
              <app-passenger-doc-number-filter
                [personGroup]="ticketGroup.controls.person"
                [persons]="persons">
              </app-passenger-doc-number-filter>
            </td>
            <td> <div class="shadow"></div>
              <div class="ovj-form md-design" [formGroup]="ticketGroup.controls.person">
                <input type="text" [id]="'passengerName'+ticketGroup.value.position" class="form-control ovj-input shadow-none"
                  autocomplete="off" formControlName="name">
              </div>
            </td> 
            <td> <div class="shadow"></div>
              <div class="ovj-form md-design" [formGroup]="ticketGroup.controls.person">
                <input type="number" [id]="'phone'+ticketGroup.value.position" class="form-control ovj-input"
                  autocomplete="off" formControlName="phone"
                  (keydown)="floatInputValidator($event)">
              </div>
            </td>
            <td> <div class="shadow"></div>
              <div class="ovj-form md-design">
                <input type="number" [id]="'amount'+ticketGroup.value.position" class="form-control ovj-input"
                  autocomplete="off" formControlName="amount"
                  (keydown)="floatInputValidator($event)">
              </div>
            </td>
            <td *ngIf="selectionMode === selectionModeEnum.RE_PRINT"> <div class="shadow"></div>         
              <div class="btn-group" ngbDropdown>
                <button ngbDropdownToggle type="button" class="ovj-btn-circle options-btn btn btn-default">
                  <div class="rounded-circle">
                    <i class="icon icon-options"></i>
                  </div>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-right">
                  <a ngbDropdownItem (click)="moveSeat(ticketGroup.controls.ticketId.value)">
                    <img class="dropdown-img"
                      src="assets/icons/bus/move-to-another-seat.svg"
                      loading="lazy">
                    Mover asiento en bus
                  </a>
                  <a ngbDropdownItem (click)="moveSeatToBus(ticketGroup.controls.ticketId.value)">
                    <img class="dropdown-img"
                      src="assets/icons/bus/move-to-another-bus.svg"
                      loading="lazy">
                    Mover a otro bus
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="mobile-sales mt-4">
  <div class="passenger-card" *ngFor="let ticketGroup of ticketsPaidArray.controls; let i=index"
    [formGroup]="ticketGroup">
    <div class="seat-number">
      <p> {{ ticketGroup.value.position | seatNumber }} </p>
    </div>
    <div class="passenger-data oviajamos-form">
      <app-passenger-doc-number-filter
        [personGroup]="ticketGroup.controls.person"
        [persons]="persons"
        [withLabel]="true"
        [index]="i">
      </app-passenger-doc-number-filter>
      <div class="ovj-form md-design" [formGroup]="ticketGroup.controls.person">
        <label class="ovj-label">Nombre<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input"
          autocomplete="off" formControlName="name">
      </div>
      <div class="ovj-form md-design" [formGroup]="ticketGroup.controls.person">
        <label class="ovj-label">Cel.<span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input"
          autocomplete="off" formControlName="phone"
          (keydown)="floatInputValidator($event)">
      </div>
      <div class="ovj-form md-design">
        <label class="ovj-label">Precio Bs.<span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input"
          autocomplete="off" formControlName="amount"
          (keydown)="floatInputValidator($event)">
      </div>
    </div>  
  </div>
</div>