<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="travelRouteGroup">
  <div class="row">
    <div class="col-lg-7">
      <div class="row">
        <div class="col-2 align-self-center text-left px-lg-0 mt-3">
          <div class="location-icons d-flex">
            <img src="assets/icons/location-bg-blue.svg" loading="lazy">
          </div>
        </div>
        <div class="col-10">
          <div class="ovj-form" [formGroup]="source">
            <label class="ovj-label">Origen<span class="text-danger">*</span></label>
            <ng-select class="form-control ovj-select busStopFilter"
              formControlName="busStopId"
              notFoundText="Sin coincidencias"
              [placeholder]="busStops.length > 0 ? '' : 'Sin paradas'"
              [ngClass]="{'is-invalid': submitted && source.controls.busStopId.errors}">
              <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
                {{ busStop.name}}
              </ng-option>
            </ng-select>
            <div class="invalid-feedback" *ngIf="source.controls.busStopId.errors?.required">Campo obligatorio</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let intermediateRoute of intermediateRoutes.controls; let i=index;">
    <ng-container [formGroup]="intermediateRoute">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-2 align-self-center px-lg-0">
            <div class="location-icons icon-sm d-flex">
              <img class="location-icon-sm"
                src="assets/icons/location-bg-blue-sm.svg"
                loading="lazy">
            </div>
          </div>
          <div class="col-10">
            <div class="ovj-form" [formGroup]="intermediateRoute.controls.destination">
              <label class="ovj-label">Parada {{i+1}}<span class="text-danger">*</span></label>
              <ng-select class="form-control ovj-select busStopFilter"
                notFoundText="Sin coincidencias"
                formControlName="busStopId"
                [placeholder]="busStops.length > 0 ? '' : 'Sin paradas'"
                [ngClass]="{'is-invalid': submitted && intermediateRoute.controls.destination.controls.busStopId.errors}">
                <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
                  {{ busStop.name}}
                </ng-option>
              </ng-select>
              <div class="invalid-feedback" *ngIf="intermediateRoute.controls.destination.controls.busStopId.errors?.required">Campo obligatorio</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row justify-content-end">
          <div class="col-lg-6">
            <div class="ovj-form">
              <label class="ovj-label">Horarios<span class="text-danger">*</span></label>
              <ngb-timepicker formControlName="timeEstimation"
                [spinners]="false"
                [ngClass]="{'is-invalid': submitted && intermediateRoute.controls.timeEstimation.errors}">
              </ngb-timepicker>
              <div class="invalid-feedback" *ngIf="intermediateRoute.controls.timeEstimation.errors?.required">Campo obligatorio</div>
            </div>
          </div>
          <div class="col-5 align-self-center">
            <div class="d-flex justify-content-center">
              <button type="button" class="ovj-btn-circle btn btn-default btn-circle"
                (click)="removeIntermediateRoute(i)">
                <img src="assets/icons/btn-remove-route.svg" loading="lazy">
              </button>
              <button type="button" class="ovj-btn-circle btn btn-default btn-circle border ml-1"
                (click)="addIntermediateRoute(i+1)">
                <img src="assets/icons/btn-add-route.svg" loading="lazy">
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <div class="row">
        <div class="col-2 align-self-center px-lg-0 mt-3">
          <div class="location-icons d-flex">
            <img src="assets/icons/location-bg-blue.svg" loading="lazy">
          </div>
        </div>
        <div class="col-10">
          <div class="ovj-form location-input" [formGroup]="destination">
            <label class="ovj-label">Destino<span class="text-danger">*</span></label>
            <ng-select class="form-control ovj-select busStopFilter"
              formControlName="busStopId"
              notFoundText="Sin coincidencias"
              [placeholder]="busStops.length > 0 ? '' : 'Sin paradas'"
              [ngClass]="{'is-invalid': submitted && destination.controls.busStopId.errors}">
              <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
                {{ busStop.name}}
              </ng-option>
            </ng-select>
            <div class="invalid-feedback" *ngIf="destination.controls.busStopId.errors?.required">Campo obligatorio</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-lg-9">
      <div class="row">
        <div class="col-2 align-self-center px-lg-0">
          <div class="location-icons add-intermediate-link d-flex" (click)="addIntermediateRoute()">
            <img class="plus-outline-icon"
              src="assets/icons/plus-outline.svg"
              loading="lazy">
          </div>
        </div>
        <div class="col-10 p-lg-0">
          <a class="text-primary" (click)="addIntermediateRoute()">Añadir parada intermedia</a>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!travelRoute">
    <hr>
    <div class="row offset-lg-1 mb-4">
    </div>
    <div class="d-flex justify-content-center align-items-center mt-1 mb-4">
      <p class="text-muted ovj-text-sm m-0">Crear ruta de retorno automáticamente</p>
      <i class="icon icon-info ovj-btn-info pl-1"
        (click)="clickingInfo()">
      </i>
      <input type="checkbox"
        class="ovj-checkbox ml-2"
        [(ngModel)]="goAndBack"
        [ngModelOptions]="{standalone: true}">
    </div>
  </ng-container>
</form>
